<extend name="Public:base" />
<block name="title">
	<title><{$title}></title>
</block>
<block name="top-css">
	<link href="__CSS__/fwShop/property.css" rel="stylesheet" type="text/css" />
</block>
<block name="picture">
	<div class="carousel-inner" >
  		<div class="item active">
    		<img src="__PUBLIC__/Image/fwShop/property-img.png">
  		</div>
  	</div>
</block>

<block name="container">
	<div class="container">
		<div class="row ">
	  		<div class="col-md-12 distance">
			  	<div class="row" id="cotents">
			  		<div class="col-md-12" >
			  			<h1 align="center" id="title-text">以服务粉丝为根本的微信功能</h1>
			  		</div>
			  	</div>

			  	<div id="contents-img" class="col-md-12 distance" style="min-height:270px;">
					<div id="fw-product" class="col-md-3 ju">
						<div align="center"><img src="__PUBLIC__/Image/fwShop/fwp.png"></div>
						<div align="center" class="wxfw-text">产品防伪验证</div>
						<div id="img-text">
							<p>全国首个微信防伪平台，给消费者提供最优的防伪服务</p>
						</div>
					</div>
				
					<div id="Lottery" class="col-md-3" >
						<div align="center"><img src="__PUBLIC__/Image/fwShop/Lottery.png"></div>
						<div align="center" class="wxfw-text">活动抽奖</div>
						<div id="img-text">
							<p>首创微信防伪抽奖、二维码扫描抽奖，激活粉丝热情， 即得粉丝，又得数据</p>
						</div>
					</div>	
					<div id="conference" class="col-md-3">
						<div align="center"><img src="__PUBLIC__/Image/fwShop/conf.png"></div>
						<div align="center" class="wxfw-text">会务签到</div>
						<div id="img-text">
							<p>时尚的微信二维码会议签到系统，活动展示、评论、信息推送应有尽有。</p>
						</div>
					</div>	
					<div id="authorize" class="col-md-3">
						<div align="center"><img src="__PUBLIC__/Image/fwShop/auth.png"></div>
						<div align="center" class="wxfw-text">授权证书</div>
						<div id="img-text">
							<p>不再担心经销商假冒，您的微信会帮你识别真假经销商。打假从卖家开始。</p>
						</div>
					</div>
			  	</div>

			  	<div id="contents-img" class="col-md-12  distance">
					<div id="personnel" class="col-md-3">
						<div align="center"><img src="__PUBLIC__/Image/fwShop/pers.png"></div>
						<div align="center" class="wxfw-text">员工验证</div>
						<div id="img-text">
							<p>首创员工验证功能，让员工与微信粉丝绑定，服务快人一步，员工效率早知道。</p>
						</div>
					</div>
					<div id="product" class="col-md-3">
						<div align="center"><img src="__PUBLIC__/Image/fwShop/product.png"></div>
						<div align="center" class="wxfw-text">产品推广</div>
						<div id="img-text">
							<p>微信产品智能推送，让你的产品会说话，做自己的推广员。</p>
						</div>
					</div>	
					<div id="aftermarket" class="col-md-3">
						<div align="center"><img src="__PUBLIC__/Image/fwShop/after.png"></div>
						<div align="center" class="wxfw-text">售后服务</div>
						<div id="img-text">
							<p>通过防伪轻松了解粉丝购买的产品，轻松实现售后服务,体验更佳。</p>
						</div>
					</div>	
					<div id="sustained" class="col-md-3">
						<div align="center"><img src="__PUBLIC__/Image/fwShop/sust.png"></div>
						<div align="center" class="wxfw-text">持续服务</div>
						<div id="img-text">
							<p>粉丝将变成实名的消费者，方便企业后续更好的服务消费者，培训自己真正的粉丝圈。</p>
						</div>
					</div>	
			  	</div>
			  	<hr/>

			  	<div class="row distance" id="text">
			  		<div class="col-md-12" >
			  			<h1 align="center" id="title-text">以数据为驱动的智能微信系统</h1>
			  		</div>
			  	</div>
		

			  	<div class="row">
					<div class="col-md-12 distance" >
			      		<div id="con-img" ><img src="__PUBLIC__/Image/fwShop/con-img.png" width="100%" height:"auto"></div>
			      	</div>
			  	</div>
			</div>
		</div>
	</div>
  	
  	<div class="row distance" style="background:#8ec221;">
  		<div class="container">
	      	<div class="col-md-12 ">
	      		<div id="fw-img" ><img src="__PUBLIC__/Image/fwShop/fw-img.png" width="100%" height="auto"></div>
	      	</div>
      	</div>
  	</div>

	<div class="container">	  	
		<div class="row">
	  		<div class="col-md-12 distance">
			  	<div class="row" id="present" style="margin-top:40px" >
			  		<div class="row"  id="present-top">
			      		<div class="col-md-6" id="present-top-left">
			      			<div class="row">
				      			<div class="col-md-12">
					      			<div class="col-md-4" id="mark-img">
					      				<img src="__PUBLIC__/Image/fwShop/mark.png"  class="img-responsive">
					      			</div>
					      			<div class="col-md-8"  >
					      				<div id="present-text" >
					      					<p>防窜货与营销完美的结合</p></div>
					      				<div id="present-text-bottom" ><p>最时尚的防窜货方式，将防窜货变成微信营销的一部分，企业进行防窜货管理后，相应的经销商数据将体现在粉丝属性上，可以清楚的了解到经。</p></div>
					      			</div>
				      			</div>
			      			</div>
			      		</div>
			      		<div class="col-md-6" id="present-top-right">
			      			<div class="row">
				      			<div class="col-md-12">
					      			<div class="col-md-4" id="share-img">
					      				<img src="__PUBLIC__/Image/fwShop/share.png"  class="img-responsive">
					      			</div>
					      			<div class="col-md-8" >
					      				<div id="present-text" >
					      					<p>与经销商共享资源</p></div>
					      				<div id="present-text-bottom" ><p>与所有经销商共享微信粉丝资源，经销商不再需要苦苦的去证书自己的资质，可以直接在企业的微信中开展营销活动，集所有经销商的力量一起。</p></div>
					      			</div>
					      		</div>
				      		</div>
			      		</div>
			      	</div>
					
					<div class="row distance" id="present-bottom">
			      		<div class="col-md-6" id="present-bottom-left">
			      			<div class="row">
				      			<div class="col-md-12">
					      			<div class="col-md-4" id="fans-img">
					      				<img src="__PUBLIC__/Image/fwShop/fans.png"  class="img-responsive">
					      			</div>
					      			<div class="col-md-8" >
					      				<div id="present-text" ><p>独有的粉丝经销商绑定功能</p></div>
					      				<div id="present-text-bottom" ><p>粉丝通过防伪验证或扫描二维码后，自动与经销商进行绑定，企业可让粉丝优先获得对应经销商的推荐和活动，或实现与经销商的利益共享。</p></div>
					      			</div>
				      			</div>
			      			</div>
			      		</div>
			      		<div class="col-md-6" id="present-bottom-right">
			      			<div class="row">
			      				<div class="col-md-12">
					      			<div class="col-md-4" id="company-img">
					      				<img src="__PUBLIC__/Image/fwShop/company.png"  class="img-responsive">
					      			</div>
					      			<div class="col-md-8 " >
					      				<div id="present-text" >
					      					<p>与企业仓库系统对接</p></div>
					      				<div id="present-text-bottom" >
					      					<p>结合中心多年的条码经验，与企业仓库管理轻松对接，轻松跟踪企业、经销商的商品动向，为市场分析提供强有力的支持。</p>
					      				</div>
					      			</div>
				      			</div>
			      			</div>
			      		</div>
					</div>
				</div>
			<hr/>

				<div class="row distance" id="text">
			  		<div class="col-md-12" >
			  			<h1 align="center" id="title-text">全方位的功能模块</h1>
			  		</div>
			  	</div>

			  	<div class="row" >
			  		<div class="col-md-12" >
			  			<div id="img" align="center" ><img src="__PUBLIC__/Image/fwShop/function.png " width="100%" height="auto"></div>
			  		</div>
			  	</div>
	  		</div>
		</div>
	</div>
</block>	

<block name="end-js">
	<script type="text/javascript">
		$("#property").css("color", "#00a0e9");
	</script>
</block>
