<extend name="nifty:Public:Base" />

<block name='title'>微信分享 | E码互联企业管理后台</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <script src="__JS__/Public.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/popover.min.js"></script>
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
</block>
<block name='content'>
	<div id="main">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active">
          <a href="#share" data-toggle="tab">分享配置</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="share" style="margin-top:15px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">分享配置</h3>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label">标题：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="share_title" placeholder="请输入分享标题" value="<{$share['title']}>">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">分享URL：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="share_url" placeholder="请输入分享URL" value="<{$share['url']}>">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">显示图片：</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <input type='file' id='msg-Img-input' class="form-control" />
                      <img src="<{$share['img']}>" style='width:300px;' class="img-thumbnail" id="Img">
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">描述：</label>
                  <div class="col-sm-10">
                    <textarea class="form-control default-msg" rows="7" id="share_description"><{$share['description']}></textarea>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <button type="button" class="btn btn-primary" id='save-btn'>保存修改</button>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
    </div>
</block>

<block name='footer-js'>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <!-- <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="__JS__/checkInput.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
		$('#group-wx').addClass('active-sub');
		$('#group-wx .collapse').addClass('in');
		$('#menu-wx-essage').addClass('active-link');
      	$('#share').addClass("active");

        var shareArr = <{:json_encode($share)}>;
        var noChange =true;
        $('#share_title').on('change',function(){
          noChange = false;
        });
        $('#share_url').on('change',function(){
          noChange = false;
        });
        $('#share_description').on('change',function(){
          noChange = false;
        });

     $("#msg-Img-input").uploadify({
           swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funBigImgComplete,
          onUploadStart :  readyUpload
        });
        //图片上传前事件
        function readyUpload(file){
            var old = shareArr['img'];

            var old = getFileName(old);
            
            if(old){
              var params = {
                  timestamp : '<{$timestamp}>',
                  token     : '<{$token}>',
                  oldFile   : old
                }
              $("#msg-Img-input").uploadify("settings", "formData", params);
            }
        }
        //图片上传发生的事件
        function funBigImgComplete(file, data, response) {
            var obj = eval ("(" + data + ")");

            if(obj['code'] != 0){
                $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
                return;
            }

            var imgUrl = obj['imgUrl'];

            $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

            shareArr['img'] = imgUrl;
            $('#Img').attr('src', imgUrl);
            noChange = false;
        }

        //绑定保存按钮事件
        $('#save-btn').bind('click' , function(){

            shareArr['title'] = $('#share_title').val().trim();
            shareArr['url'] = $('#share_url').val().trim();
            shareArr['description'] = $('#share_description').val().trim();

            if(!IsUrl('#share_url')){
                $.scojs_message("请输入以http://开头的有效网址！", $.scojs_message.TYPE_ERROR);
                return;
            }
            if(noChange){
              $.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
              return ;
            }

            $.post("<{:U('shareHandle')}>" , shareArr , function(data){
                if(data['status'] == 0){
                    $.scojs_message('修改成功', $.scojs_message.TYPE_OK);
                    noChange = true;
                }else{
                    $.scojs_message('修改失败', $.scojs_message.TYPE_ERROR);
                }
            });
        });
	  </script>
</block>