<extend name="nifty:Public:Base" />

<block name='title'>微信分享 | E码互联企业管理后台</block>

<block name="css">
	<!-- Bootstrap core CSS -->
	<link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="__CSS__/main.css" rel="stylesheet">
	<script src="__JS__/Public.js"></script>
	<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/popover.min.js"></script>
</block>

<block name="js">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
</block>
<block name='content'>
	<div id="main">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active">
				<a href="#share" data-toggle="tab">分享配置</a>
			</li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="Share">
				<p></p>
				<div class="row">
					<div class="col-md-4">
						<button class="btn btn-info" id="add-share">添加分享模板</button>
						<button class="btn btn-danger" id="remove-share">取消分享模板</button>
					</div>
				</div>

				<p>
					<div id="addshare"></div>
				</p>
				<p id="share-items"></p>
			</div>
		</div>
	</div>
</block>

<block name='footer-js'>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script> -->
	<script src="__JS__/checkInput.js"></script>
	// <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
	<script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	$('#group-wx').addClass('active-sub');
	$('#group-wx .collapse').addClass('in');
	$('#menu-wx-essage').addClass('active-link');
	$('#share').addClass("active");

	$('#add-share').on('click', function(){
		$('#addshare').load("<{:U('Share/shareAdd')}>");
	})

	$('#remove-share').on('click', function(){
		if(confirm('是否取消分享模板?')){
			$.post(
				"<{:U('removeShareHandle')}>",
				{},
				function(data, textStatus){
					if(data['status'] === 0){
						$.scojs_message('取消分享模板成功！', $.scojs_message.TYPE_OK);

						$('#share-items').load('__MODULE__/Share/shareItem');
					}
					else{
						$.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
					}
				}
				);
		}
	})

   $('#share-items').load("<{:U('Share/shareItem')}>");

   var itemControl = new Array();
    //加载展开时的编辑HTML内容
    function editItem(id, headID){
        //加载时需要传入id变量
        $('#content-' + id).load('<{:U('Share/shareEdit')}>'+ '/id/' + id, function(){
        	itemControl[$('#'+headID).attr('id')] = 1;

        	$('#'+headID).children('span.pull-right').text("收起");
        });
    }

    //加展关闭时的HTML内容
    function viewItem(id, headID, bSave, headName){
    	$('#content-' + id).load('<{:U('Share/shareView')}>'+ '/id/' + id, function(){
    		itemControl[$('#'+headID).attr('id')] = 0;

    		$('#'+headID).children('span.pull-right').text("展开");
    	});

    	if(bSave){
    		var nameArr = $('#'+headID).text().split("：");

    		$('#'+headID).html(nameArr[0] + '：' + headName + "<span class='pull-right'>展开</span>");
    	}
    }


    var shareArr = <{:json_encode($share)}>;
    var noChange =true;
    $('#share_title').on('change',function(){
    	noChange = false;
    });
    $('#share_url').on('change',function(){
    	noChange = false;
    });
    $('#share_description').on('change',function(){
    	noChange = false;
    });


        //绑定保存按钮事件
        $('#save-btn').bind('click' , function(){

        	shareArr['title'] = $('#share_title').val().trim();
        	shareArr['url'] = $('#share_url').val().trim();
        	shareArr['description'] = $('#share_description').val().trim();

        	if(!IsUrl('#share_url')){
        		$.scojs_message("请输入以http://开头的有效网址！", $.scojs_message.TYPE_ERROR);
        		return;
        	}
        	if(noChange){
        		$.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
        		return ;
        	}

        	$.post("<{:U('shareHandle')}>" , shareArr , function(data){
        		if(data['status'] == 0){
        			$.scojs_message('修改成功', $.scojs_message.TYPE_OK);
        			noChange = true;
        		}else{
        			$.scojs_message('修改失败', $.scojs_message.TYPE_ERROR);
        		}
        	});
        });
        </script>
    </block>