<form role="form"  id="form-<{$shareView['id']}>">
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label>标题：</label>
                <input type="text" class="form-control"  placeholder="在此输入标题" value="<{$shareView['title']}>" id="share_title">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label>url：</label>
                <input type="text" class="form-control"  placeholder="在此输入分享url" value="<{$shareView['url']}>" id="share_url">
          </div>
      </div>
  </div>
<div class="row">
  <div class="col-md-6">
    <h5>展示图片</h5>
    <img src="<{$shareView['img']}>" class="img-thumbnail default-img" id="showImg-edit<{$rand}>">
    <label for="exampleInputFile"></label>
    <input type="file" id="msg-img-input-edit<{$rand}>" multiple="true"/>
  </div>
</div>
<div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label>描述：</label>
                <textarea class="form-control default-msg" rows="7" id="share_description"><{$shareView['description']}></textarea>
          </div>
      </div>
  </div>
  <p class="text-right">
    <button type="button" class="btn btn-primary btn-edit-save" id="saveShareBtn" style="margin-top:10px;">保存修改</button>
    <button type="button" class="btn btn-default btn-edit-cancle" style="margin-top:10px;">收起</button>
  </p>
</form>
<script type="text/javascript">

var shareView<{$shareView['id']}> = <{:json_encode($shareView)}>;

  $("#msg-img-input-edit<{$rand}>").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : TeditfunComplete<{$rand}>,
          onUploadStart :  readyUpload
      });
  function readyUpload(file){
        var old = shareView<{$shareView['id']}>['shareImg'];
        if(old){
            var params = {
                timestamp : '<{$timestamp}>',
                token     : '<{$token}>',
                oldFile   : old
            }
            $("#msg-img-input-edit<{$rand}>").uploadify("settings", "formData", params);
        }
    }
  //图片上传发生的事件
  function TeditfunComplete<{$rand}>(file, data, shareView) {
    var obj = eval ("(" + data + ")");
    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $("#showImg-edit<{$rand}>").attr('src', imgUrl);
      shareView<{$shareView['id']}>['img'] = imgUrl; 
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
    }
    

  }
//绑定收起按钮事件
  $('#form-<{$shareView['id']}>').on('click', '.btn-edit-cancle', function(){
    viewItem(<{$shareView['id']}>, "item-<{$shareView['id']}>", true, shareView<{$shareView['id']}>['title']);
  })

 $("input#share_title").blur(function(){
    shareView<{$shareView['id']}>['title']=$(this).val().trim();
  })

 $("input#share_url").blur(function(){
    shareView<{$shareView['id']}>['url']=$(this).val().trim();
  }) 
  $("textarea#share_description").blur(function(){
    shareView<{$shareView['id']}>['description']=$(this).val().trim();
  }) 

  $('#form-<{$shareView['id']}>').on('click', '.btn-edit-save', function(){
    
    $.post(
      "<{:U('Share/shareEditHandle')}>",
      shareView<{$shareView['id']}>,
      function(data){
        if(data['status'] === 0){
          $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
          viewItem(<{$shareView['id']}>, "item-<{$shareView['id']}>", true, shareView<{$shareView['id']}>['title']);
        }
        else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
      });
  })
</script>
