<div id="shareItem-list">
    <volist name='shareItem' id='shareItem'>
        <div class="panel panel-default" id='panel-<{$shareItem.id}>'>
            <div class="panel-heading item-heading panel-title" id='item-<{$shareItem.id}>' style="cursor:pointer;">分享模板<{$i}>：<{$shareItem.title}><span class="pull-right">展开</span></div>
            <div class="panel-body" id='content-<{$shareItem.id}>'>
                <p>
                    <p>标题：<{$shareItem.title}></p>
                </p>
                <p style="clear:both;">
                    <strong>url：<{$shareItem.url}></strong>
                    <if condition="$shareItem.isDefault neq 1">
                        <button class="btn btn-danger pull-right del-item-btn" id="del-<{$shareItem.id}>">删除模板</button>
                        <button class="btn btn-primary pull-right set-default-share" id="set-<{$shareItem.id}>">设为默认</button>
                        <else />
                        <button class="btn btn-default pull-right" disabled="disabled">当前默认模板</button>
                    </if>
                </p>
                <p>
                    <p>描述：<{$shareItem.description}></p>
                </p>
            </div>
        </div>
        <script type="text/javascript">
        //设置本规则为关闭状态
        itemControl['item-<{$shareItem.id}>'] = 0;
        </script>
    </volist>
</div>
<div class='well text-right' id="page">
    <ul class="pagination"><{$page}></ul>
</div>
<script type="text/javascript">
$("#page > ul > li > a").click(function()
{
    var _HREF = $(this).attr('href');       

       //加载页面
       $("#share-items").load(_HREF,
       {
       });                       
       return false;
   });
$('#shareItem-list').on('click', '.del-item-btn', function(){
    if(confirm('是否确认删除主题?')){
        var btnId = $(this).attr("id");
        var id = btnId.split('-')[1];

        $.post(
            "<{:U('delShareHandle')}>",
            {
                'id' : id
            },
            function(data, textStatus){
                if(data['status'] === 0){

                    $.scojs_message('删除成功！', $.scojs_message.TYPE_OK);

                    $('#share-items').load('__MODULE__/Share/shareItem');
                }
                else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            }
            );
    }
});

$('#shareItem-list').on('click', '.set-default-share', function(){
    var btnId = $(this).attr("id");
    var id = btnId.split('-')[1];

    $.post(
        "<{:U('setShareHandle')}>",
        {
            'id' : id
        },
        function(data, textStatus){
            if(data['status'] === 0){

                $.scojs_message('默认分享设置成功！', $.scojs_message.TYPE_OK);

                $('#share-items').load('__MODULE__/Share/shareItem');
            }
            else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        }
        );

});

    //设置所有规则标题的点击事件
    $(".item-heading").on("click", function(){
        var arrItem = $(this).attr('id').split("-");

        switch(itemControl[$(this).attr('id')]){
        case 0://当前状态为0表示要加载展开状态
        editItem(arrItem[1], $(this).attr('id'));
        break;
        case 1://当前状态为1表示要加载关闭状态
        viewItem(arrItem[1], $(this).attr('id'));
        break;
    }
});
    </script>