<div class="panel-body" id='content-<{$shareItem.id}>'>
	<p>
		<p>标题：<{$shareItem.title}></p>
	</p>
	<p style="clear:both;">
		<strong>url:<{$shareItem.url}></strong>
		<if condition="$shareItem.isDefault neq 1">
			<button class="btn btn-danger pull-right del-item-btn" id="del-<{$themeitem.id}>">删除模板</button>
			<button class="btn btn-primary pull-right " id="set-<{$shareItem.id}>">设为默认</button>
			<else />
			<button class="btn btn-default pull-right" disabled="disabled">当前默认模板</button>
		</if>
	</p>
	<p>
		<p>描述：<{$shareItem.description}></p>
	</p>
</div>