<table class="table table-hover">
	<thead>
	  <tr>
	  	<if condition="$isAdmin">
	  		<th>企业ID</th>
	  	</if>
	    <th>活动名称</th>
	    <th>类型</th>
	    <th>状态</th>
	    <th>操作</th>
	  </tr>
	</thead>
	<tbody>
		<volist name='activity' id='item' key='k'>
			<tr>
				<if condition="$isAdmin">
			  		<td width="10%"><{$item.ecid}></td>
			  	</if>
				<td width="50%" style="word-wrap: break-word;word-break:break-all;"><{$item.name}></td>
				<td width="20%"><{$item.typeName}></td>
				<td width="10%">
					<if condition="$activity[$k-1]['type'] eq question">
						<if condition="strtotime($activity[$k-1]['startDate']) gt strtotime($activity[$k-1]['date'])"><p>未开始</p>
						<elseif condition="strtotime($activity[$k-1]['endDate']) lt strtotime($activity[$k-1]['date'])"/><p>已结束</p>
						<else/>
						<p>进行中</p>
						</if>
					<else/>
						<if condition="$activity[$k-1]['timeType'] eq limit">
							<if condition="strtotime($activity[$k-1]['startTime']) gt strtotime($activity[$k-1]['date'])"><p>未开始</p>
							<elseif condition="strtotime($activity[$k-1]['endTime']) lt strtotime($activity[$k-1]['date'])" /><p>已结束</p>
							<else/>
							<p>进行中</p>
							</if>
						<else/>
							<p>进行中</p>
						</if>
					</if>
				</td>
				<td width="10%"><a href="__MODULE__/Activity/activityDetails/id/<{$item.id}>">详情</a></td>
			</tr>
		</volist>
	</tbody>
</table>
<div class='text-center'  id="page">
	<ul class="pagination"><{$page}></ul>
</div>

<script type="text/javascript">
var arr={
	'type':'<{$type}>',
	'ecid':'<{$ecid}>'
};
$("#page > ul > li > a").on('click' ,function()
{
	var _HREF = $(this).attr('href');

    //加载页面
    if(arr==''){
    	$("#activityList").load(_HREF);
    }
    else{
    	$("#activityList").load(_HREF,arr);
    }
        
    return false;
});
</script>