<table class="table-bordered table">

	<thead>
		<tr>
			<th>序号</th>
			<th>微信号</th>
			<th>性别</th>
			<th>城市</th>
			<th>扫描时间</th>
		</tr>
	</thead>

	<tbody>
		<volist name="scanUser" id="item" key="k">
			<tr>
				<td><{$k}></td>
				<td><{$item.nickname}></td>
				<td>
					<if condition="$scanUser[$k-1]['sex'] eq 0">
						<p></p>
					<elseif condition="$scanUser[$k-1]['sex'] eq 1"/>
						<p>男</p>
					<else/>
						<p>女</p>	
					</if>
				</td>
				<td><{$item.city}></td>
				<td><{$item.scanTime}></td>
			</tr>
		</volist>
	</tbody>

</table>

<div class='text-center' id="scanUserPage">
    <ul class="pagination"><{$page}></ul>
</div>

<script type="text/javascript">
     $("#scanUserPage > ul > li > a").click(function()
        {
            var _HREF = $(this).attr('href');      

            //加载页面
            $("#scanUserList").load(_HREF,
                {
                    "activityId" : '<{$activityId}>' , 
                    'page' : '<{$page}>',
                    'startTime' : '<{$startTime}>',
                    'endTime' : '<{$endTime}>',   
                });
            return false;
        });
</script>