<table class="table table-bordered" style="margin-top:20px;">
  <thead>
    <tr>
      <th width="10%"><a id="sel-checkBoX">全选</a><a id="unSelect" style="margin-left: 10px">反选</a></th>
      <th width='10%'>姓名</th>
      <th width='10%'>性别</th>
      <th width='35%'>公司名称</th>
      <th width='20%'>联系电话</th>
      <th width='15%'>操作</th>
    </tr>
  </thead>

  <tbody>
    <volist name="userItem" id="item" key="k">
        <tr>
            <td><input type="checkbox" class="radio" id="radio" name="checkBox" value="<{$item.id}>"></td>
            <td><{$item.user_name}></td>
            <td><{$item.sex}></td>
            <td><{$item.company}></td>
            <td><{$item.tel}></td>
            <td>
              <span style="cursor:pointer;"><a onclick="editUser(<{$item.id}>)">编辑</a></span>
              <span style="cursor:pointer;"><a onclick="delUser(<{$item.id}>)">删除</a></span>
            </td>
        </tr>
    </volist>
  </tbody>
</table>
<p class='text-right' id="page"></p>
<div id="userPage">
  <ul class="pagination"><{$page}></ul>
</div>
<script type="text/javascript">
  $("#userPage > ul > li > a").click(function()
  {
      var _HREF = $(this).attr('href');       

     //加载页面
      $("#userList").load(_HREF , {'id':<{$activityId}>});
      return false;
  });


  var checkBoX = true;
  /**
   * 全选/全不选按钮
   * @param boolean checkBox
   * @param string checkBoxSel
   * @param int i
   * @return boolean checkBox
   * @author 黄浩
   * 修改历史：2014/9/11 创建
   */
  $("#sel-checkBoX").on("click",function(){
    var checkBoxSel = document.getElementsByTagName("input");
    if(!checkBoX){
      for(var i = 0;i<checkBoxSel.length;i++){
        if(checkBoxSel[i].type == "checkbox") 
          checkBoxSel[i].checked = false;
      }
      checkBoX = true;
    }
    else{
      for(var i = 0;i<checkBoxSel.length;i++){
        if(checkBoxSel[i].type == "checkbox") checkBoxSel[i].checked = true;
      }
      checkBoX = false;
    }
  });

  $("#unSelect").on("click" ,function(){
    $('.radio').attr('checked' , true);
    var oInput = document.getElementsByTagName("input");
   
    for (var i = 1; i < oInput.length; i++)
    {
      oInput[i].checked = !oInput[i].checked;
    }

  });

</script>