.well{
	background-color: #fafafa;
}
.button-a {
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
    color: #4083BD;
}
.button-a :hover {
    color:#0066cc;
    text-decoration: underline;
}
.item-select{
	border: 5px solid #428BCA;
}
.news-one, .text-right {
    background-color: #FFF;
}
.panel{
	border: 1px solid #e9e9e9;
}