<div class="addNewQuestion">
  <div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
      <h3 class="panel-title">问题管理</h3>
    </div>
    <div class="panel-body" >
      <form class="form-horizontal" role="form">
        <div class="form-group"> 
          <div class="col-sm-2" >
            <label>问题题目：</label>
          </div>
          <div class="col-sm-12">
            <textarea id="question-new" class="form-control"   row="6" name="question" placeholder="请输入题目内容"></textarea>
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-2" style="padding-top: 10px;">
            <label>答案数量：</label>
          </div>
          <div class="col-sm-2">
            <select  class="form-control" id="answerNum">
              <option  value="2">2</option>
              <option  value="3">3</option>
              <option  value="4">4</option>
              <option  value="5">5</option>
              <option  value="6">6</option>
            </select>
          </div>
          <div class="col-sm-2 col-sm-offset-3" style="padding-top: 10px;">
            <label>标准答案：</label>
          </div>
          <div class="col-sm-2">
            <select  class="form-control" id="standardSelect">
            </select>
          </div>
        </div>
        <div class="form-grounp" id="answer_list"></div>
        <div class="form-group"> 
          <div class="col-sm-2 col-sm-offset-10">
            <p class="form-control-static">
              <button type="button" class="btn btn-primary" id="btn-save-question">添加问题</button>
            </p>
          </div>
        </div>
      </form>
    </div> 
  </div>
    <volist name="question" id="questionItem" key="k">
      <div class="panel-group"  style="margin-bottom:10px;">
        <div class="panel panel-info panel-bordered">
          <div class="panel-heading question-item" style="cursor:pointer;word-break: break-all;overflow: hidden; text-overflow: ellipsis;width: auto;white-space:nowrap;" id="heading-<{$k}>" data-toggle="collapse" data-parent="#accordio" href="#collapse-<{$k}>">
            <h3 class="panel-title"><a>问题<{$k}>：<{$questionItem.title}></a></h3>
          </div>
          <div id="collapse-<{$k}>" class="panel-collapse collapse">
              <div id="questionItem-<{$k}>"></div>
          </div>
        </div>
      </div>
    </volist>
 
</div>

<script src="__JS__/json2.js"></script>
<script type="text/javascript"> 
  
  var question = <{:json_encode($question)}>;
  var questionArr = {'title':'' , 'answer_list':[],'answer':''};
  
  $('.question-item').on('click',function(){
    var opt = $(this).attr("id").split("-");
    var k = opt[1];
    $('#questionItem-'+k).load('<{:U("editQuestion")}>',{
      'k':k,
      'question':question[k-1]
    });
  });


  if("<{$arr}>" ==''){
    var arr = [];
  }else{
    var arr = eval(<{:json_encode($arr)}>);
  }
  var arrNum = arr.length;
  var c=0;

  addAnswerInput();
  addStandardSelect();

  $("#answerNum").on('change',function(){  
    addAnswerInput();
    addStandardSelect();
  });

  function addAnswerInput(){
    {
      var num = $("#answerNum").val();
      $('#answer_list').html('');
      for(i=0;i<num;i++){
        $('#answer_list').append('<div class="form-group"><div class="col-sm-6"><input type="text" class="form-control" id="answer-'+i+'" placeholder="请输入答案内容"></div></div>')
      } 
    }
  }
  
    function editHandle(data,k,handleType){
      if(handleType=='edit'){
        arr[k-1] = data;
      }else{
       var b =k-1;
        arr.splice(k-1,1);
      }
        var editArr = {
          'id':'<{$id}>',
          'arr':JSON.stringify(arr) 
        }
        $.post("<{:U('editHandle')}>",editArr,function(data){
          if(data['status'] == 0){
            $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
            $("#question").load("<{:U('question')}>",{
              'activityId':"<{$activityId}>"
            });
          }else{
              $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        });
    } 

  function addStandardSelect(){
    var obj = document.getElementById('standardSelect')
    var num = $("#answerNum").val();
    obj.options.length = 0;

    for(i=0;i<num;i++){
       obj.add(new Option(i+1,i));
      } 

    }

    function validInputAdd(){
      if(questionArr['title']==''){
        $.scojs_message('请输入题目', $.scojs_message.TYPE_ERROR);
        return false;
      }
      var b = true;
      var num = $("#answerNum").val();
      for(i=0;i<num;i++){
        if($('#answer-'+i).val() == ''){
          b = false;
          break;
        }
      }
      if(!b){
        $.scojs_message('请完成选项内容', $.scojs_message.TYPE_ERROR);
        return false;
      }
      return true;
    }

    $('#btn-save-question').on('click',function(){
      questionHandle();
    });

  function questionHandle(){
    
      questionArr['title'] = $('#question-new').val().trim();
      questionArr['answer']  = $('#standardSelect').val().trim();

      var num = $('#answerNum').val().trim();
      for(var i = 0;i<num;i++){
        questionArr['answer_list'][i] = $('#answer-'+i).val();
      }
      arr[arrNum] = questionArr;
      var result = {
        'question' : JSON.stringify(arr) ,
        'activityId'  : <{:json_encode($activityId)}> ,
        'handleType' : 'add'
      };
      
      if(!validInputAdd()){
        return;
      }

      $.post("<{:U('questionHandle')}>",result, function(data){
        if(data['status'] == 0){
            $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
            $("#question").load("<{:U('question')}>",{
              'activityId':"<{$activityId}>"
            });
          }else{
              $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
      });
    }


</script>