<extend name="Public:Base" />
<block name="title">
	<title>产品中心</title>
</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/style.css">
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/unslider.min.js"></script>
</block>

<block name="content">   
    
    <include file="Public:header" />
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="padding-left:0;padding-right:0;">
				<img src="__IMAGE__/WEB/default/GBC_banner1.png" alt="" style="width:100%;">
			</div>
		</div>
	</div>
	<div class="container" style="padding-top:10px;">
		<div class="row">
			<div class="col-md-3">
				<img src="__IMAGE__/WEB/default/GBC_SB.png" alt="__MODULE__/Product/index" class="img-responsive center-block menu-icon img_div" id="sb_product">
				<p class="radio news-title"><a href="__MODULE__/Product/index"><strong>条码设备</strong></a></p>
			</div>
			<div class="col-md-3">
				<img src="__IMAGE__/WEB/default/GBC_HC.png" alt="" class="img-responsive center-block menu-icon img_div" id="hc_product">
				<p class="radio news-title"><a href="__MODULE__/Product/index"><strong>条码耗材</strong></a></p>
			</div>
			<div class="col-md-3">
				<img src="__IMAGE__/WEB/default/GBC_YS.png" alt="" class="img-responsive center-block menu-icon img_div" id="ys_product">
				<p class="radio news-title"><a href="__MODULE__/Product/index"><strong>印刷</strong></a></p>
			</div>
			<div class="col-md-3">
				<img src="__IMAGE__/WEB/default/GBC_FW.png" alt="" class="img-responsive center-block menu-icon img_div" id="fw_product">
				<p class="radio news-title"><a href="__MODULE__/Product/index"><strong>防伪服务</strong></a></p>
			</div>
		</div>
					
		<div class="col-md-12">
			<div style="background-color:#1760AC;height:30px;color:white;vertical-align:middle;"><h4 style="padding-top:4px;">条码打印机</h4>
			</div>
		</div>
		<div class="col-md-12" style="padding-top:20px;">
			<div class="row" style="text-align:center;">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/dyj_2.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>斑马打印机</h4>
			    </div>
			    <div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/dyj_1.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>博思得POSTEK条码打印机</h4>
			    </div>
			</div>
		</div>
		<div class="col-md-12">
			<div style="background-color:#1760AC;height:30px;color:white;vertical-align:middle;"><h4 style="padding-top:4px;">条码扫描器</h4>
			</div>
		</div>
		<div class="col-md-12" style="padding-top:20px;">
			<div class="row" style="text-align:center;">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/smq_1.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>GBC系列条码扫描枪</h4>
			    </div>
			    <div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/smq_2.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>美国Honeywell</h4>
			    </div>
			    <div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/smq_3.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>台湾CipherLAB</h4>
			    </div>
			    <div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/smq_4.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>摩托罗拉</h4>
			    </div>
			</div>
		</div>
		<div class="col-md-12">
			<div style="background-color:#1760AC;height:30px;color:white;vertical-align:middle;"><h4 style="padding-top:4px;">数据采集器</h4>
			</div>
		</div>
		<div class="col-md-12" style="padding-top:20px;padding-bottom:20px;">
			<div class="row" style="text-align:center;">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/smq_1.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>GBC系列条数据采集器</h4>
			    </div>
			    <div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/smq_2.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>美国Honeywell</h4>
			    </div>
			    <div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body customer-panel">
							<img src="__IMAGE__/WEB/default/cjq.png" alt="" class="center-block customer-img">
						</div>
					</div>
					<h4>讯宝数据采集器</h4>
			    </div>
			</div>
		</div>
	</div>
						
	<include file="Public:footer" />
</block>
<block name="end-js">
	<script>
		$('.menu-icon').on('mouseenter', function(){
			var imgUrl = $(this).attr('src');
			var newUrl = imgUrl.replace('.png', '_u.png');
			$(this).attr('src', newUrl);
		})

		$('.menu-icon').on('mouseleave', function(){
			var imgUrl = $(this).attr('src');
			var newUrl = imgUrl.replace('_u.png', '.png');
			$(this).attr('src', newUrl);
		})
	</script>
</block>