<div class="col-md-12">
	<volist name='column' id='Item'>
		<div class="col-md-3 columnget" style="text-align:center;padding-right:0;padding-top:10px;" id="column-<{$Item.id}>">
			<div class="panel panel-default" style="height:160px;">
				<a href="#"><img src="<{$Item.bigImg}>" alt="" style="width:120px;height:120px;padding-top:15px;"/>
				<h4 class="brandId"><{$Item.name}></h4></a>
			</div>
		</div>
	</volist>
</div>
<div class="col-md-12">
	<div class='text-center'  id="page">
		<ul class="pagination"><{$page}></ul>
	</div>
</div>
<script type="text/javascript">
	var arr={
			'id':''
		}
	$('.columnget').on('click',function(){
		arr['id']=$(this).attr('id');
		arr['id']=arr['id'].split("-")[1];
		$('#getcolumn').load("<{:U('info')}>",arr);
	})

	$("#page > ul > li > a").on('click' ,function()
	{
	var _HREF = $(this).attr('href');

    //加载页面
   
    $("#getcolumn").load(_HREF);
      
    return false;
	});
</script>