<extend name="Public:Base" />
<block name="title">
	<title>产品中心</title>
</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/style.css">
	<link rel="stylesheet" href="__CSS__/web/default/lrtk.css">
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/unslider.min.js"></script>
</block>

<block name="content">   
    
    <include file="Public:header" />
	<div class="container setdistance">
		<img src="__IMAGE__/WEB/default/NEWS_banner.png" alt="" style="width:100%;">
	</div>
	<div class="container"style="padding-bottom:10px;">
		<div class="col-md-2 productboder">
			<div id="firstpane">
				<volist name='info' id='Item'>
					<div class="menu_list">
						<if condition="$Item['arr'] eq null">
				            <a id="column-<{$Item.id}>" class="column">
			                	<p class="menu_head" id="<{$Item.id}>"><{$Item.name}></p>
			                </a>
				        <else />
				            <p class="menu_head"><{$Item.name}></p>
				            <div style="display:none" class="menu_body">
				                <volist name='Item.arr' id='item'>
				                  	<a id="column-<{$item.id}>" class="column"><{$item.name}></a>
				                </volist>
				            </div>
				        </if>
			        </div>
				</volist>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row" id="getcolumn">
				
			</div>
		</div>
	</div>
						
	<include file="Public:footer" />
</block>
<block name="end-js">
	<script>
		$('#product').addClass("active");
		
		$(document).ready(function(){
			$("#firstpane .menu_body:eq(0)").show();
			$("#firstpane p.menu_head").click(function(){
				$(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
				// $(this).siblings().removeClass("current");
			});
		});
		$('#getcolumn').load("<{:U('column')}>");
		
		$('.column').on('click',function(){
			var id =$(this).attr('id');
			$('.column').css('background-color','#fff');
			$("#"+id).css('background-color','#f1f1f1');
			id=id.split("-")[1];
			$('#getcolumn').load("<{:U('column')}>",{'id':id});
		});
		
	</script>
</block>