<extend name="Public:Base_mobile" />
<block name="title">
    <title>企业手机网站</title>
</block>
<block name="css">
  
</block>
<block name="js">
</block>
<block name="content">
  <div data-role="page">
    <script type="text/javascript">
      $(document).ready(function(){
        $("#firstpane .menu_body:eq(0)").show();
        $("#firstpane p.menu_head").click(function(){
          $(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
          // $(this).siblings().removeClass("current");
        });
      });
    </script>
    <div data-role="header" style="background-color:#F9F9F9;height:50px;">
      <a href="__MODULE__/Index/index" data-icon="arrow-l" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFF">返回</a>
      <h1 style="white-space:normal;padding-top:15px;">产品中心</h1>
      <a href="#menu" data-role="button" data-icon="grid" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFFFFF">菜单</a>
    </div>
    <div data-role="panel" id="menu" data-position="right" data-position-fixed="true" data-position="left" data-display="overlay" data-position-fixed="true" data-animate="true" data-theme="b" style="width:12em;"> 
      <div data-role="listview">
        <li data-theme="a"><a href="__MODULE__/Index/index" onclick="loginOut()" style="padding-left:2em;"><img src="__IMAGE__/WEB/mobile/headhome.png" class="ui-li-icon">首页</a></li>
        <li data-theme="a"><a href="__MODULE__/Product/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headproduct.png" class="ui-li-icon">产品中心</a></li>
        <li data-theme="a"><a href="__MODULE__/News/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headnews.png" class="ui-li-icon">新闻动态</a></li>
        <li data-theme="a"><a href="__MODULE__/Solution/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headsolution.png" class="ui-li-icon">解决方案</a></li>
        <li data-theme="a"><a href="__MODULE__/Fw/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headfw.png" class="ui-li-icon">防伪验证</a></li>
        <li data-theme="a"><a href="__MODULE__/About/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headabout.png" class="ui-li-icon">关于我们</a></li>
      </div>
    </div>
    <div data-role="content"  style="padding:10px 0px;" align="center">
      <img src="__IMAGE__/WEB/mobile/banner.png" width="100%" height="auto"/>
    </div>
    <div data-role="content">

      <div id="firstpane">
        <volist name='info' id='Item'>
          <div class="menu_list">
            <if condition="$Item['arr'] eq null">
              <a href="<{:U('Product/column')}>/id/<{$item.id}>" class="column" style="text-decoration:none;">
                <p class="menu_head" id="<{$Item.id}>"><{$Item.name}></p>
              </a>
            <else />
              <p class="menu_head"><{$Item.name}></p>
              <div style="display:none;" class="menu_body">
                <volist name='Item.arr' id='item'>
                  <a href="<{:U('Product/column')}>/id/<{$item.id}>" class="column" style="text-decoration:none;color:#C8C8C8"><{$item.name}></a>
                </volist>
              </div>
            </if>
          </div>
        </volist>
      </div>
    </div>
    <div data-role="footer" data-position="fixed" class="footerBg" height="69" data-tap-toggle="false" >
      <table width="100%">
        <tr>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/TEl.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/QQ.png" height="45" width="45"/>
            </a>
          </td>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/E-mil.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/Add.png" height="45" width="45"/>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</block>
<block name="end-js">
  
</block>