<extend name="Public:Base_mobile" />
<block name="title">
    <title>企业手机网站</title>
</block>
<block name="css">
  <link type="text/css" href="__CSS__/web/default/style.css" rel="stylesheet">
  <link href="__CSS__/web/default/component.css" rel="stylesheet" type="text/css" /></block>
<block name="js">
  <script type="text/javascript" src="__JS__/modernizr.custom.js"></script>
  <script type="text/javascript" src="__JS__/jquery.dlmenu.js"></script>
</block>
<block name="content">
  <div data-role="page">
    <div data-role="header" style="background-color:#F9F9F9;height:50px;">
      <a href="__MODULE__/Product/column" data-icon="arrow-l" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFF">返回</a>
      <h1 style="white-space:normal;padding-top:15px;"><{$info.name}></h1>
      <a href="#menu" data-role="button" data-icon="grid" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFFFFF">菜单</a>
    </div>
    <div data-role="panel" id="menu" data-position="right" data-position-fixed="true" data-position="left" data-display="overlay" data-position-fixed="true" data-animate="true" data-theme="b" style="width:12em;"> 
      <div data-role="listview">
        <li data-theme="a"><a href="__MODULE__/Index/index" onclick="loginOut()" style="padding-left:2em;"><img src="__IMAGE__/WEB/mobile/headhome.png" class="ui-li-icon">首页</a></li>
        <li data-theme="a"><a href="__MODULE__/Product/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headproduct.png" class="ui-li-icon">产品中心</a></li>
        <li data-theme="a"><a href="__MODULE__/News/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headnews.png" class="ui-li-icon">新闻动态</a></li>
        <li data-theme="a"><a href="__MODULE__/Solution/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headsolution.png" class="ui-li-icon">解决方案</a></li>
        <li data-theme="a"><a href="__MODULE__/Fw/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headfw.png" class="ui-li-icon">防伪验证</a></li>
        <li data-theme="a"><a href="__MODULE__/About/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headabout.png" class="ui-li-icon">关于我们</a></li>
      </div>
    </div>
    
    <table width="100%">
      <tr>
        <td width="50%" align="center" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <img src="<{$info.minImg}>" width="85%" height="auto"/>
        </td>
        <td width="50%" align="center">
          <p style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;"><{$info.info}></p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p style="border-bottom: 1px solid #ccc;">详情介绍</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p><{$info.content}></p>
        </td>
      </tr>
    </table>
      


    <div data-role="footer" data-position="fixed" class="footerBg" height="69" data-tap-toggle="false" >
      <table width="100%">
        <tr>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/TEl.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/QQ.png" height="45" width="45"/>
            </a>
          </td>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/E-mil.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/Add.png" height="45" width="45"/>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</block>
<block name="end-js">
  <script type="text/javascript">
    
  </script>
</block>