<div class="col-md-12">
	<div class="row">
		<div class="col-md-6" id="info" style="padding-top:10px;">
			<img src="<{$info.minImg}>" alt="" class="center-block customer-img">
		</div>
		<div class="col-md-6">
			<h4><{$info.name}></h4>
			<div style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;"><{$info.info}></div>
			<button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
				下载产品手册
			</button>
		</div>
		<div class="col-md-12" style="border-bottom: 1px dashed #bbbcbc;"> 		
			
				<p class="info-indent lineHeight">详情介绍</p>
			
		</div>
		<div class="col-md-12">		
			<div class="row" style="padding-bottom:20px;padding-top:20px;">
				<p class="info-indent lineHeight"><{$info.content}></p>
			</div>
		</div>
	</div>
</div>
	











	

