<extend name="Public:Base" />
<block name="title">
	<title>产品中心</title>
</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/style.css">
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/unslider.min.js"></script>
</block>

<block name="content">   
    
    <include file="Public:header" />
	<div class="container productboder">
		<img src="__IMAGE__/WEB/default/NEWS_banner.png" alt="" style="width:100%;">
	</div>
	<div class="container productboder  productboder">
		<div class="row">
			<div class="col-md-12">
				<p class="news-title"><a href="__MODULE__/index/index">首页</a>><a href="__MODULE__/Product/index">产品中心</a>><a href="__MODULE__/Product/index">条码设备</a>><a href="__MODULE__/Product/index">条码打印机</a>>斑马打印机</p>
			</div>
			<div class="col-md-12" style="padding-top:20px;">
				<div class="row" style="text-align:center;">
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/tmdyj.png" alt="" class="center-block customer-img">
							</div>
						</div>
						<p class="news-title"><a href="__MODULE__/Product/info"><strong>Zebra P330i证卡打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/tmdyj.jpg" alt="" class="center-block customer-img">
							</div>
						</div>
						<p class="news-title"><a href="__MODULE__/Product/info"><strong>P120i人像证卡打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/tmdyj(2).png" alt="" class="center-block customer-img">
							</div>
						</div>
						<p class="news-title"><a href="__MODULE__/Product/info"><strong>Zebra P430i人像证卡打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/tmdyj(2).jpg" alt="" class="center-block customer-img">
							</div>
						</div>
						<p class="news-titlp"><a href="__MODULE__/Product/info"><strong>Zebra P110i人像证卡打印机</strong></a></p>
				    </div>
				</div>
			</div>
			<div class="col-md-12" style="padding-top:20px;">
				<div class="row" style="text-align:center;">
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/tmdyj(3).png" alt="" class="center-block customer-img">
							</div>
						</div>
						<p><a href="__MODULE__/Product/info"><strong>斑马Zebra S4M工业级标签打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/tmdyj(3).jpg" alt="" class="center-block customer-img">
							</div>
						</div>
						<p><a href="__MODULE__/Product/info"><strong>斑马Zebra 105SL条码打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/tmdyj(4).png" alt="" class="center-block customer-img">
							</div>
						</div>
						<p><a href="__MODULE__/Product/info"><strong>Zebra GK420t专业标签打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/tmdyj(4).jpg" alt="" class="center-block customer-img">
							</div>
						</div>
						<p><a href="__MODULE__/Product/info"><strong>Zebra GK420d热敏打印机</strong></a></p>
				    </div>
				</div>
			</div>
			<div class="col-md-12 distance">
				<div class="row" style="text-align:center;">
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/条码打印机 (1).png" alt="" class="center-block customer-img">
							</div>
						</div>
						<p><a href="__MODULE__/Product/info"><strong>Zebra P330i证卡打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/条码打印机 (1).jpg" alt="" class="center-block customer-img">
							</div>
						</div>
						<p><a href="__MODULE__/Product/info"><strong>P120i人像证卡打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/条码打印机 (2).png" alt="" class="center-block customer-img">
							</div>
						</div>
						<p><a href="__MODULE__/Product/info"><strong>Zebra P430i人像证卡打印机</strong></a></p>
				    </div>
				    <div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-body customer-panel">
								<img src="__IMAGE__/WEB/default/条码打印机 (2).jpg" alt="" class="center-block customer-img">
							</div>
						</div>
						<p><a href="__MODULE__/Product/info"><strong>Zebra P110i人像证卡打印机</strong></a></p>
				    </div>
				</div>
			</div>
		</div>
	</div>
						
	<include file="Public:footer" />
</block>
<block name="end-js">
	<script>
		$('.menu-icon').on('mouseenter', function(){
			var imgUrl = $(this).attr('src');
			var newUrl = imgUrl.replace('.png', '_u.png');
			$(this).attr('src', newUrl);
		})

		$('.menu-icon').on('mouseleave', function(){
			var imgUrl = $(this).attr('src');
			var newUrl = imgUrl.replace('_u.png', '.png');
			$(this).attr('src', newUrl);
		})
	</script>
</block>