<extend name="nifty:Public:Base" />

<block name='title'>广告管理 | E码互联企业管理后台</block>
<block name="css">
        <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <script src="__JS__/Public.js"></script>
</block>
<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="__PUBLIC__/sco.js/js/sco.modal.js" type="text/javascript" charset="utf-8"></script>
</block>
<block name="content">
    <div id="main">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active">
          <a href="#home" data-toggle="tab">广告管理</a>
        </li>
      </ul>
      <div class="panel" style="margin-top:30px;">
        <div class="panel-body">
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">          
              <div class="row"style="margin-top:10px;">
                <if condition="$admin neq '' ">
                  <div class="col-md-4" style="padding-left:15px;">
                      <button class="btn btn-info" style="margin-bottom:10px;" id="addBtn">
                          添加广告
                      </button>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-control" id='companySelect'>
                            <option value='-1'>所有企业广告</option>
                            <volist name='type' id='item'>
                              <option value='<{$item.company_ecid}>'><{$item.company_name}></option>
                            </volist>
                        </select>
                    </div>
                  </div>
                </if>
                <div class="col-md-4">
                  <div id="adName"></div>
                </div>            
              </div>
              <div id="adInfo"></div>
              <div id="adList"></div>
            </div>
          </div>
        </div>
      </div>      
    </div>
</block>
<block name="footer-js">
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
  
  <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $('#group-fw').addClass('active-sub');
    $('#group-fw .collapse').addClass('in');
    $('#menu-fw-ad').addClass('active-link');
    $('#ad').addClass("active");

    //加载显示广告信息页面
    $('#adList').load("<{:U('adList')}>");

    $('#adName').load("<{:U('adSelect')}>");

    //绑定企业
    $('#companySelect').on('change',function(){
      var ecid = $('#companySelect').val();
      $('#adName').load("<{:U('adSelect')}>",{'ecid':ecid},function(){
        $('#companySelect').val(ecid);
      });
    });

    $('#addBtn').on('click', function(){
      editAd('add');
    }); 
  </script>
</block>

