<extend name="nifty:Public:Base" />

<block name='title'>工作台 | E码互联企业管理后台</block>

<block name='content'>
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">工作台</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
	<li><a href="#">E码互联</a></li>
	<li class="active">工作台</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<div id="page-content">
<!--Tiles - Bright Version-->
<!--===================================================-->
<div class="row">
	<div class="col-sm-6 col-lg-3">

		<!--Registered User-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div class="panel media pad-all">
			<div class="media-left">
				<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
				<i class="fa fa-user fa-2x"></i>
				</span>
			</div>

			<div class="media-body">
				<p class="text-2x mar-no text-thin">241</p>
				<p class="text-muted mar-no">防伪查询数</p>
			</div>
		</div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

	</div>
	<div class="col-sm-6 col-lg-3">

		<!--New Order-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div class="panel media pad-all">
			<div class="media-left">
				<span class="icon-wrap icon-wrap-sm icon-circle bg-info">
				<i class="fa fa-shopping-cart fa-2x"></i>
				</span>
			</div>

			<div class="media-body">
				<p class="text-2x mar-no text-thin">543</p>
				<p class="text-muted mar-no">新增订单</p>
			</div>
		</div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

	</div>
	<div class="col-sm-6 col-lg-3">

		<!--Comments-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div class="panel media pad-all">
			<div class="media-left">
				<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
				<i class="fa fa-comment fa-2x"></i>
				</span>
			</div>

			<div class="media-body">
				<p class="text-2x mar-no text-thin">34</p>
				<p class="text-muted mar-no">微信粉丝</p>
			</div>
		</div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

	</div>
	<div class="col-sm-6 col-lg-3">

		<!--Sales-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div class="panel media pad-all">
			<div class="media-left">
				<span class="icon-wrap icon-wrap-sm icon-circle bg-danger">
				<i class="fa fa-dollar fa-2x"></i>
				</span>
			</div>

			<div class="media-body">
				<p class="text-2x mar-no text-thin">654</p>
				<p class="text-muted mar-no">微博关注</p>
			</div>
		</div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

	</div>
</div>
<!--===================================================-->
<!--End Tiles - Bright Version-->
</div>
</block>

<block name='footer-js'>
	<script>
	$('#menu-dashboard').addClass('active-link');
	</script>
</block>