.navigate ul li a{
	line-height: 35px;
}
#top{
	margin-top: 8px;
	margin-bottom: 8px;
}
.nav  ul li {
	float:left;
	padding:0 10px;
	text-align:center;
	height:45px;
	line-height:55px;
	list-style: none;
	font-size: 16px;
	font-family: "黑体"
}
.nav li a{
	text-decoration: none;
	color: #4c4948;
}
.nav li a:hover{
	color:#00a0e9;
}
.weUseBtn{
	position: absolute;
	z-index: 12;
}
.text{
	border: 1px solid #CCC;
	border-radius: 4px;
	min-height: 40px;

	margin-top: 20px;
	margin-bottom: 20px;

	background-color: #F3F3F3;
	line-height: 40px;
	text-align: center;
	letter-spacing: 4px;
	color: #000;
}
.text h4{
	font-family: "微软雅黑";
}
.img-style{
	width:auto;
	height: auto;
}
.wxfw-text{
	/*color:#6a6a6a;*/
	font-size:18px;
	font-weight:normal;
	margin-top:20px
}
.txt-indent{
	font-size: 12px;
	font-weight: 15px;
	padding: 5px;
	line-height: 20px;
}
.apply-text{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #00A0E9;
	font-family: "微软雅黑";
}
.secondtxt{
	font-size: 20px;
}
.indent{
	text-indent:2em;
	line-height: 30px;
}
#goods{
	background-color: #F8F8F8;
	padding-top:30px;
	padding-bottom:30px;
}
#goods a{
	color: #000;
}
#goods a:hover{
	text-decoration: none;
	color: #00A0E9;
}
.border-bg{
	border-right:1px solid #dadada;
}
.anqi-text{
	margin-top: 15px;
	font-size: 14px;
	font-weight: 1px;
}
.anqi-text a{
	color: black;
}
.anqi-text a:hover{
	text-decoration: none;
	color: red;
}
.triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 22px solid #C9CACA;
    margin-top: 20px;
}
.hideStyle{
	display: none;
}
.backset{
	background-color: #C9CACA;
	padding: 10px 35px;
}
.top-text{
	font-size: 14px;
}
.foot-text ul{
	list-style: none;
}
.foot-text a{
	color: #777;
}
.txt{
	font-size: 18px;
}
.txt a{
	color: #333;
}
.footer{
	color: #777;
	text-align: center;
	padding: 20px 0px;
	margin-top: 10px;
	border-top: 1px solid #E5E5E5;
	background-color: #F5F5F5;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;/*脚部的高度*/
  background: #F5F5F5; 
}

/*联系我们页面*/
.heiti{
	font-family: "SimHei";
}
.ywzx{
	font-family: "微软雅黑";
	
	margin-top: 5px;
	font-size: 18px;
}
#triangle-down {
    height:0;
    width:0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color:#c9caca transparent transparent transparent;
    border-style:solid;
    border-width:10px;
}
/*功能特性*/
#img-text {
	font-size: 14px;
	font-weight: 15px;
	line-height:23px;
	padding: 5px 5px;
	
	text-align: left;
	color:#777777;
	
}
#con-img{
	background-repeat:no-repeat;
	
}
#con-img-text{
	margin-top: 20px;
	font-size: 24px;
}
/*#present{
	min-height: 360px;
	margin-top: 40px
}*/
#present-text{
	font-size:20px;
	color:#00a0e9;
	font-family: "黑体";
}
#present-text-bottom{
	margin-top: 5px; 
	line-height:23px;
	color:#777777;
}

#present-top,#present-bottom{
	min-height: 140px;
}

.carousel .masthead-bg{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../Image/fwShop/contact.jpg) no-repeat center center;
	height: 300px;
	min-width:100%; 
}
.blueStyle{
	font-family: "SimHei";
	text-align: center;
	color: #00A0E9;
	font-size: 22px;
}
.div-details{
	text-align: left;
	padding: 5px 10px;
}
.details{
	background-color: #959595;
	margin-bottom: 20px;
	border:2px solid #959595;
	border-radius: 4px;
	color: white;
	text-align: left;
}
#especial{
	color: red;
	padding-left: 0;
	margin-top: 6px;
}

div,h1,h2,h3,h4,p{
	font-family: "微软雅黑";
}
p.small {
	line-height: 90%
}
#title-text{
	font-family: "微软雅黑"
}

#myCarousel{
	height: 400px;
}

.item{
	width:3000px;
	text-align: left;
}

.carousel-inner .item .item-img{
	height:100%;
}

.carousel-caption{
	margin-top: 200px;
	top:35%;
}
.distance{
	margin-top:20px;
}
.bottom-distance{
	margin-bottom: 20px;
}