/* 
    Document   : index
    Created on : 2013-6-27, 21:20:34
    Author     : lisha_000
    Description:
        Purpose of the stylesheet follows.
*/

#main { 
    background-color: #000000;
    width:100%;
    height:250px;
}

.bs-callout{
	padding:20px;
	margin:20px 0;
	border:1px solid #eee;
	border-left-width:5px;
	border-radius:3px;
	background-color: white;
}

.bs-callout-info{
	border-left-color:#5bc0de
}

.bs-callout h4{
	margin-top:0;
	color:#5bc0de;
	margin-bottom:5px;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	margin-bottom:10px;
}