body{
    margin:0px;
    padding: 0px;
    color:#fff;
    font-family:"Microsoft YaHei";
    background: #ccc;
}

.site-wrapper{
  text-align:center;
  width: 100%;
  height: 100%;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  color: #000;

}

.content{
  background: #fff;
  margin:50px;
  padding:20px;
  border-radius: 10px;
}