<div class="modal fade" id="departmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">部门信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">部门名称：</label>
                        <div class="col-sm-8">
                            <input type="text" id="departName" class="form-control" value="<{$department.department}>"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">部门介绍：</label>
                        <div class="col-sm-8">
                            <textarea id="departInfo" class="form-control"><{$department.info}></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="department-comform">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	var departmentArr = <{:json_encode($department)}>;
	var $departName = $('#departName');
	var $departInfo = $('#departInfo');

	function validInput(){
		var departName = $departName.val().trim();

		if(departName=== ""){
	      	$.scojs_message("部门名称不能为空", $.scojs_message.TYPE_ERROR);
	      	return false;
	  	}

		return true;
	}

	$('#department-comform').on('click',function(){
		if(validInput()){
			departmentArr['department'] = $departName.val().trim();
			departmentArr['info'] = $departInfo.val().trim();
			dealDepartment();
		}
	});

    function dealDepartment(id,type){
	    if(type == "delete"){
	        if(!confirm("请确认是否删除")){
	          return;
	        }else{
	          departmentArr = {
	              "id" : id , 
	              "handleType" : type
	          };
	        }
	    }

	    $.post("<{:U('DepartHandle')}>" , departmentArr , function(data){
		    if(data['status'] == 0){
		        $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
		        $('#departmentModal').modal('hide');
		        $('#departmentModal').on('hidden.bs.modal', function (e) {
		          $('#department').load("<{:U('department')}>");
		        });
		        if(departmentArr['handleType']=='delete'){
          			$('#department').load("<{:U('department')}>");
        		}

		    }else{
		        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
		    }
    	});
    }
</script>