<div id="employees-page">
    <ul class="pagination"><{$page}></ul>
</div>
    <table class="table table-hover " style="table-layout:fixed;">
    <thead>
        <tr>
            <th style="width: 5%">序号</th>
            <th style="width: 10%">姓名</th>
            <th style="width: 5%">性别</th>
            <th style="width: 15%">手机号码</th>
            <th style="width: 10%">职位</th>
            <th style="width: 15%">所属部门</th>
            <th style="width: 10%">员工类型</th>
            <th style="width: 10%;">二维码信息</th>
            <th style="width: 15%">操作</th>
            <th style="width: 5%">状态</th>
        </tr>
    </thead>

    <tbody>
        <volist name="employees" id="item" key="k">
            <tr>
                <td><{$k}></td>
                <td><{$item.name}></td>
                <td><{$item.sexName}></td>
                <td><{$item.tel}></td>
                <td><{$item.position}></td>
                <td style="word-break: break-all"><{$item.department}></td>
                <td>
                    <if condition="$item.type eq 0">临时员工<else/>固定员工</if>
                </td>
                <td><span><a class='qrBtn' id='Employee-<{$item.id}>' href='javascript:void(0)'><if condition="$item.QrInfo eq 1">查看二维码<else />生成二维码</if></a></span></td>
                <td>
                    <span><a class="employeeEditBtn" id="<{$item.id}>" href='javascript:void(0)'>编辑</a></span>
                    <if condition="$item.account neq 1">
                        <span><a class="signupBtn" id="<{$item.id}>" href='javascript:void(0)'>添加账号</a><div id='signupShow'></div></span>
                    </if>
                </td>
                <td>
                    <span>
                        <a href="javascript:void(0)" class="interdict" id="interdict-<{$item.id}>"><if condition="$item.Interdiction eq 1">正常<else />禁用</if></a></span>
                </td>
            </tr>
        </volist>
    </tbody>
</table>
<script type="text/javascript">
/**
     * 员工列表分页显示
     * @author 蒋东芸
     * 2014/4/15
     */
    $("#employees-page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#employeesList").load(_HREF,{'type':'<{$type}>','departmentId':'<{$departmentId}>'});
        return false;
    });
    /**
     * 绑定员工编辑按钮
     * 2014/4/2
     * 范小宝
     */
    $('.employeeEditBtn').on('click' , function(){
        editEmployee($(this).attr('id'));
    });

    //传递当前操作id
    function editEmployee(id){
        $('#employeesInfo').load("<{:U('employeesInfo')}>" , {"id":id} , function(){
            $('#employeesModal').modal('show');
            $('#employeesModal').on('hidden.bs.modal', function (e) {
              document.getElementById("employeesInfo").innerHTML = "";
            });
        });
    }
    //绑定二维码信息
    $('.qrBtn').on('click' , function(){
        var btnId = $(this).attr("id");
        var id = btnId.split('-')[1];
        showQr(id);
    });
    //显示员工二维码图片
    function showQr(id){
        var arr = {
            "id" : id
        };
        $.post("<{:U('getQrHandle')}>",arr,function(data){
            if(data['status'] == 0){
                $('#qrImg').attr('src' , data['info']);                
                $('#qrModal').modal('show');
            }else{
                if(confirm("是否确认生成员工二维码")){
                    createQr(arr['id']);
                    $('#Employee-'+id).text("查看二维码");
                }
            }
        }); 
    }
    //生成员工二维码
    function createQr(id){
        var arr = {
            "id" : id
        };
        $.post("<{:U('createEmployeeQr')}>",arr,function(data){
            if(data['status'] == 0){
                showQr(arr['id']);
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }

    /**
     * 员工状态设置
     * @author 蒋东芸
     * 2014/4/15
     */
    $('.interdict').on('click',function(){
        var interictId = $(this).attr('id');
        var id = interictId.split('-')[1];
        switch($('#interdict-'+id).text()){
            case '正常':
                if(confirm("是否确定禁用")){
                    deliverInterdiction(id,0);
                }
            break;
            case '禁用':
                if(confirm("是否确定启用")){
                    deliverInterdiction(id,1);
                }
            break;
        }
    });
    /**
     * 员工状态设置
     * @author 蒋东芸
     * 2014/4/15
     */
    function deliverInterdiction(id,Interdiction){
        $.post("<{:U('InterdictHandle')}>",{'id':id,'Interdiction':Interdiction},function(data){
            if(data['status'] == 0){
                $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
                $('#employeesList').load("<{:U('employeesList')}>");
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }

    /**
     * 员工添加登陆账号
     * @author 范小宝
     * 2014/12/29
     */
    $('.signupBtn').on('click' , function(){
        var employeeId = $(this).attr('id');

        $('#signupShow').load("<{:U('signupShow')}>" , {employeeId:employeeId} , function(){
            $('#signupModal').modal('show');
        });
    });
</script>