<div class="row">
  <div class="col-md-4">
    <button type="button" class="btn btn-primary addContent">添加内容</button>
    <h3>内容列表</h3>
    <div class="list-group" id="product-list">
      <volist name="info" id="item" key="k">
        <if condition="$item.name neq ''">
          <a class="list-group-item brandGroup" style="cursor:pointer;" id="<{$item.id}>"><{$item.name}></a>
        </if>
      </volist> 
    </div>
  </div>

  <div class="col-md-8" style="margin-top:30px;" id="product-right">
    <div class="panel panel-info" id="intro-main" style="display:none;">
      <div class="panel-heading">内容管理</div>
      <div class="panel-body">
        
        <div class="row">
          <div class="col-md-2">
            <p class='text-info'>名称：</p>
          </div>
          <div class="col-md-10">
              <input type="text" class="form-control name" id="introName" placeholder="在此输入名称">
          </div>
        </div><p></p>
        <div class="row" id="bigImg-form">
          <label class="col-md-2 control-label">大图：</label>
          <div class="col-md-10">
            <input type='file' id='msg-bigImg-input' class="form-control" multiple="true"/>
            <img src="" class="img-thumbnail bigImg" id='bigImg' style='width:300px;'>
          </div>
        </div>
        <div class="row" id="minImg-form">
          <label class="col-md-2 control-label">小图：</label>
          <div class="col-md-10">
            <input type='file' id='msg-minImg-input' class="form-control" multiple="true"/>
            <img src="" class="img-thumbnail minImg" id='minImg' style='width:100px;'>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h5 class='text-info'>产品介绍</h5>
          </div>
          <textarea style="height: 600px;padding-top:50px;" id="inputIntroduction<{$rand}>"></textarea>
          <script type="text/javascript">
            window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
            var infoEdit = UE.getEditor('inputIntroduction<{$rand}>',{onready:function(){//创建一个编辑器实例
              this.addListener('contentChange',function(){
                Arr['content'] = this.getContent();
                noChange = false;
              });
            }});
          </script>
        </div>

      </div>

      <div class="panel-footer foot-right">
        <button type="button" class="btn btn-info default-save" onclick="contentHandle('edit')">保存</button>
        <button type="button" class="btn btn-danger" onclick="contentHandle('delete')">删除</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var Arr = "";
  var noChange = true;

  $('.addContent').on('click' , function(){
    $('.brandGroup').removeClass('active');
    showContent('add');
  });

  $('.brandGroup').on('click' , function(){
    $('.brandGroup').removeClass('active');
    showContent($(this).attr('id'));
    $(this).addClass('active');
  });

  //显示内容信息
  function showContent(id){
    var params = {
      "id" : id , 
      "ecid" : '<{$ecid}>'
    }
    $.post("<{:U('getContentFromID')}>" , params , function(data){
      Arr = data;
      $("#intro-main").show();
      $('#introName').val(Arr['name']);
      $("#bigImg").attr('src',Arr["bigImg"]+"?t=Math.random()");
      $(".minImg").attr('src',Arr["minImg"]+"?t=Math.random()");
      infoEdit.setContent(Arr['content']);
    });
  }

  $("#introName").on("keyup",function(){
    Arr['name'] = G("introName").value.trim();
    noChange = false;
  });

  function contentHandle(handleType){
    if(handleType == 'edit'){
      if(noChange){
        $.scojs_message('未修改任意一项！', $.scojs_message.TYPE_ERROR);
        return false;
      }
    }
    if(Arr["name"].trim() == ""){
      $.scojs_message('请输入名称', $.scojs_message.TYPE_ERROR);
      return;
    }      
    
    if(Arr["content"].trim() == ""){
      $.scojs_message('请输入介绍', $.scojs_message.TYPE_ERROR);
      return;
    }
    
    
    if(Arr["bigImg"] == ""){
      $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
      return;
    }
    

    if(Arr['handleType'] != 'add'){
      Arr['handleType'] = handleType;
    }

    if(handleType == "delete"){
      if(!confirm("请确认是否删除")){
        return;
      }
    }

    $.post("<{:U('contentHandle')}>",Arr,function(data){
      if(data["status"] == 0){
        $.scojs_message('操作成功！', $.scojs_message.TYPE_OK);
        $('#introduction').load('<{:U("introduction")}>');
      }else{
        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
      }
    });
  }

  $("#msg-bigImg-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funBigImgComplete,
          onUploadStart :  readyBigUpload
      });

  //图片上传前事件
  function readyBigUpload(file){
    var old = Arr['bigImg'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#msg-bigImg-input").uploadify("settings", "formData", params);
    }
  }

  //图片上传发生的事件
  function funBigImgComplete(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

      if(imgUrl){
        $('#bigImg').attr('src', imgUrl);
        $('#bigImg').show();

        Arr['bigImg'] = imgUrl;
        noChange = false;
      }
    }
  }

  $("#msg-minImg-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funMinImgComplete,
          onUploadStart :  readyMinUpload
      });
  //图片上传前事件
  function readyMinUpload(file){
    var old = Arr['minImg'];

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#msg-minImg-input").uploadify("settings", "formData", params);
    }
  }

  //图片上传发生的事件
  function funMinImgComplete(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

      if(imgUrl){
        $('#minImg').attr('src', imgUrl);
        $('#minImg').show();

        Arr['minImg'] = imgUrl;
      }
    }
  }
</script>