<div class="row" style="margin-top:20px;">
    <div class="col-md-2">
        <button class="btn btn-info" style="margin-bottom:10px;" id="userAddBtn">
            添加账号
        </button>
        <div id="userInfo"></div>
    </div>
</div>
<div id="loginUserPage">
    <ul class="pagination"><{$page}></ul>
</div>
<table class="table  table-bordered table-hover" style="table-layout: fixed;">
    <thead>
        <tr>
            <th class="col-md-1">序号</th>
            <th>账号名</th>
            <th>姓名</th>
            <th class="col-md-1">性别</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        <volist name="user" id="item" key="k">
            <tr>
                <td><{$k}></td>
                <td style="overflow:hidden;text-overflow:ellipsis;"><{$item.user_name}></td>
                <td style="overflow:hidden;text-overflow:ellipsis;"><{$item.name}></td>
                <td><{$item.sexName}></td>
                <td style="overflow:hidden;text-overflow:ellipsis;"><{$item.email}></td>
                <td>
                    <span><a class='loginEditBtn' id='<{$item.id}>' href='javascript:void(0)'>编辑</a></span>
                    <span style="margin-left:10px;"><a class='loginResetBtn' id='<{$item.id}>' href='javascript:void(0)'>重置密码</a></span></td>
            </tr>
        </volist>
    </tbody>
</table>
<script type="text/javascript">
    $('#userAddBtn').on('click' , function(){
        editUser('add');
    });

    /**
     * 绑定员工编辑按钮
     * 2014/4/3
     * 范小宝
     */
    $('.loginEditBtn').on('click' , function(){
        editUser($(this).attr('id'));
    });

    /**
     * 绑定员工重置密码按钮
     * 2014/4/3
     * 范小宝
     */
    $('.loginResetBtn').on('click' , function(){
        resetPWD($(this).attr('id'));
    });

    function editUser(id){
        $('#userInfo').load("<{:U('userInfo')}>" , {"id":id} , function(){
            $('#userModal').modal('show');
        });
    }

    $("#loginUserPage > ul > li > a").click(function()
    {
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#login").load(_HREF);
        return false;
    });

    function resetPWD(id){
        var arr = {
            "id" : id
        };

        if(confirm("请确认是否重置该账号密码")){
            $.post("<{:U('resetPWD')}>" , arr , function(data){
                if(data['status'] == 0){
                    $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
                }else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
        }
    }
</script>