<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加账号</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">账号名：</label>
                        <div class="col-sm-8">
                            <input type="text" id="accountInput" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">授权书权限：</label>
                        <div class="col-sm-8">
                            <select class="form-control" id='roleSelect'>
                                <option value='Dadd'>添加人员</option>
                                <option value='Dreview'>审核人员</option>
                                <option value='Dprint'>打印人员</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="eAccount-comform">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#eAccount-comform').on('click',function(){
        var name = $('#accountInput').val().trim();
        var role = $('#roleSelect').val();
        if(name == ''){
            $.scojs_message("请输入账户名！", $.scojs_message.TYPE_ERROR);
            $("#accountInput").focus();
            return;
        }

        $.post('<{:U("addAccountHandle")}>',{user_name:name,roleId:role,employeeId:'<{$employeeId}>'},function(data){
            if(data['status'] == 0){
                $.scojs_message('操作成功！', $.scojs_message.TYPE_OK);
                $('#signupModal').modal('hide');
                $('#signupModal').on('hidden.bs.modal', function (e) {
                  $('#employeesList').load("<{:U('employeesList')}>");
                });
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    });
</script>