<div class="panel">
    <div class="panel-body">
        <table class="table table-hover" style="table-layout:fixed;" id="newsTable">
            <thead>
                <tr>
                    <th width='50'>序号</th>
                    <th>主题</th>
                    <th width='180'>最近一次修改时间</th>
                    <th width='180' class='text-center'>操作</th>
                    <th width='80' class='text-center'>网站同步</th>
                    <th width='60' class='text-center'>置顶</th>
                </tr>
            </thead>

            <tbody>
                <volist name="list" id="listItem" key="k">
                    <tr>
                        <td><{$k}></td>
                        <td style="word-break : break-all;"><{$listItem.title}></td>
                        <td style="word-break : break-all;"><{$listItem.modifyTime}></td>
                        <td class='text-center'>
                            <div id="loginInfo"></div>
                            <span class="label label-table label-info publishBtn" style="cursor:pointer;" id="timed_publish<{$listItem.id}>" onclick="timedNews(<{$listItem.id}>,<{$listItem.weiboContent}>)">定时发微博</span>
                            
                        </td>
                        <td>
                            <label class="checkbox-inline">
                                <if condition="$listItem.synWeb eq 1">
                                    <label class="form-checkbox form-normal form-primary active">
                                        <input type="checkbox" id="synWeb-<{$listItem.id}>" class="synWeb" value="1" checked>
                                    </label>
                                <else />
                                    <label class="form-checkbox form-normal form-primary">
                                        <input type="checkbox" id="synWeb-<{$listItem.id}>" class="synWeb" value="0">
                                    </label>
                                </if>
                            </label>
                        </td>
                        <td>
                            <label class="checkbox-inline">
                                <if condition="$listItem.synWeb eq 1">
                                    <if condition="$listItem.top eq 1">
                                        <label class="form-checkbox form-normal form-primary active">
                                            <input type="checkbox" id="top-<{$listItem.id}>" class="top"  value="1" checked>
                                        </label>
                                    <else />
                                        <label class="form-checkbox form-normal form-primary">
                                            <input type="checkbox" id="top-<{$listItem.id}>" class="top"  value="0">
                                        </label>
                                    </if>
                                </if>
                            </label>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
        <div id="news-page" class='text-center'>
            <ul class="pagination"><{$page}></ul>
        </div>
    </div>
</div>
<script>
    /**
     * 新闻列表分页显示
     * @author 张赞富
     */
    $("#news-page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#newsList").load(_HREF,{'newsType': '<{$newsType}>','id': '<{$id}>'});
        return false;
    });
    $(document).ready(function(){
            $('#material').addClass("active");
        });
   
        /**新闻管理定时发布按钮click事件
         * 
         * @param {int} newsId 新闻ID，用于找到上层div进行load定时发布编辑页面
         * @param {string} description 新闻的摘要（内容）
         * 
         * @author 张赞富
         */
    function timedNews(newsId,weiboContent){
        $(".publishBtn").attr("disabled", "disabled"); 
           $.post("<{:U('oauth2Weibo')}>" , function(data){
                
                if(data["status"] == 0){
                     $('#timedDialog').load('<{:U("timedPublish")}>',{'type':'news','id':newsId,'expires_in':Number(data["expires_in"])},function(){
                     $('#timedPublish').modal('show');
                     $('#weiboContent').val(weiboContent);
            });}else{
                    var url = location.host + "<{:U('OauthCallback')}>";
                    var clientId = "2513417815";
                    var $url = 'https://api.weibo.com/oauth2/authorize?client_id='+clientId+'&response_type=code&redirect_uri='+url;
                    window.open($url,"授权",'height=600,width=600,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
        }
         
    });
}

    /**
     * 网站同步或新闻内容置顶复选框点击事件处理
     * @author 蒋东芸
     */
    $(':checkbox').click(function(){
        var str = $(this).attr("id");//获取id名称
        var arr    = str.split('-');
        var id = arr[1];
        var val = 1;
        
        //不选中情况下，变量赋值
        if(document.getElementById(str).checked == false){
            val = 0;
        }
        $.post("<{:U('synWebHandle')}>",{"id":id,"type":arr[0],"val":val},function(data){
            if(data['status'] == 0){
                $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
                $('#newsList').load('<{:U("newsList")}>');

            }else{
                $.scojs_message('操作失败', $.scojs_message.TYPE_ERROR);
            }
        });
    });

</script>