<div class="panel">
	<div class="panel-body">
		<div id="solutionContent">
			<div class="row">
		        <div class="col-md-3">
		            <button class="btn btn-info" style="margin-bottom:10px;" onclick="window.location.href=('__MODULE__/MaterialLib/solutionEdit/id/add')">
		                添加解决方案
		            </button>
		        </div>
		    </div>
		    <if condition="$title neq ''">
			    <table class="table table-bordered table-hover" style="table-layout: fixed;">
			        <thead>
			            <tr>
			                <th class="col-md-1"  style="text-align: center;">序号</th>
			                <th>标题</th>
			                <th>关键词</th>
			                <th>操作时间</th>
			                <th class="col-md-2" style="text-align: center;">操作</th>
			            </tr>
			        </thead>

			        <tbody>
			            <volist name="solution" id="item" key="k">
			                <tr>
			                    <td style="text-align: center;"><{$k}></td>
			                    <td style="overflow:hidden;text-overflow:ellipsis;"><{$item.title}></td>
			                    <td style="overflow:hidden;text-overflow:ellipsis;"><{$item.keyword}></td>
			                    <td style="overflow:hidden;text-overflow:ellipsis;"><{$item.modifyTime}></td>
			                    <td style="text-align: center;">
			                        <span><a class="solutionEditBtn" id="<{$item.id}>" onclick="window.location.href=('__MODULE__/MaterialLib/solutionEdit/id/<{$item.id}>')">编辑</a></span>
			                        <span style="margin-left:10px;"><a class="solutionDelBtn" id="<{$item.id}>" href='javascript:void(0)'onclick="dealerHandle(<{$item.id}> , 'delete')">删除</a></span>
			                    </td>
			                </tr>
			            </volist>
			        </tbody>
			    </table>
		    <else />亲，暂时木有解决方案哦~
			</if>
		</div>
		<div id="page" class='text-center'>
		    <ul class="pagination"><{$page}></ul>
		</div>
	</div>		
</div>
<script type="text/javascript">
	/**
	 * 分页显示
	 * 蒋东芸
	 * 2014/7/9
	 */
	$("#page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');    

        //加载页面
        $("#solution").load(_HREF);
        return false;
    });
	
	/**
	 * 删除解决方案内容
	 * 蒋东芸
	 * 2014/7/9
	 */
	var solutionArr={};//申明数组
	
    function dealerHandle(id , type){           
        if(type == "delete"){
            if(confirm("请确认是否删除")){
                solutionArr['id'] = id;
                solutionArr['handleType'] = type;
            }else{
                return;
            }
        }

        $.post("<{:U('solutionHandle')}>" , solutionArr , function(data){
            if(data['status'] == 0){
                $('#solution').load('<{:U("solution")}>');
                $.scojs_message('删除成功！', $.scojs_message.TYPE_OK);
            }else{
                $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
            }
        });
    }
</script>