<div class="container-fluid bg-<{$fwCheck.type}>">
	<div class="row"><p class="<{$fwCheck.type}>"></p></div>
	<div class="container fwMargin">
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<a href="#">
					<img class="logo" src="__IMAGE__/WEB/default/<{$fwCheck.type}>.png" alt="标题" class="center-block img_div" height="330">
				</a>					
			</div>
			<div class="col-md-4">
				<div class="row">
					<a href="#">
						<img class="logo" src="__IMAGE__/WEB/default/fw_logo.png" alt="标题" height="42" width="42">
					</a>
					<span  class="yahei logoRight">
						<if condition="$fwCheck.checkCount eq 0">您购买的是正牌产品<{$fwCheck.checkCount}>
							<else />
								<if condition="$fwCheck.checkCount lt 0">防伪码错误，谨防假冒
									<else />
										防伪码多次被查询
								</if>
						</if>
					</span>
				</div>
				<div class="row">
					<h4 class="textColor yahei lineHeight"><{$fwCheck.replyContent}></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row"><div class="<{$fwCheck.type}>"></div></div>
</div>
<p></p>
<br>
<include file="Public:footer" />