<extend name="Public:Base_mobile" />
<block name="title">
    <title>企业手机网站</title>
</block>
<block name="css">
</block> 
<block name="js">
  
</block>
<block name="content">
  <div data-role="page" style="background-color:#31b589;" class="header">
    <div data-role="header" style="background-color:#F9F9F9;height:50px;">
      <a href="__MODULE__/Index/index" data-icon="arrow-l" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFF">返回</a>
      <h1 style="white-space:normal;padding-top:15px;">防伪验证</h1>
      <a href="#menu" data-role="button" data-icon="grid" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFFFFF">菜单</a>
    </div>
    <div data-role="panel" id="menu" data-position="right" data-position-fixed="true" data-position="left" data-display="overlay" data-position-fixed="true" data-animate="true" data-theme="b" style="width:12em;"> 
      <div data-role="listview">
        <li data-theme="a"><a href="__MODULE__/Index/index" onclick="loginOut()" style="padding-left:2em;"><img src="__IMAGE__/WEB/mobile/headhome.png" class="ui-li-icon">首页</a></li>
        <li data-theme="a"><a href="__MODULE__/Product/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headproduct.png" class="ui-li-icon">产品中心</a></li>
        <li data-theme="a"><a href="__MODULE__/News/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headnews.png" class="ui-li-icon">新闻动态</a></li>
        <li data-theme="a"><a href="__MODULE__/Solution/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headsolution.png" class="ui-li-icon">解决方案</a></li>
        <li data-theme="a"><a href="__MODULE__/Fw/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headfw.png" class="ui-li-icon">防伪验证</a></li>
        <li data-theme="a"><a href="__MODULE__/About/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headabout.png" class="ui-li-icon">关于我们</a></li>
      </div>
    </div>
    <div data-role="content" style="padding:10px 0px;" align="center" >
      <table width="100%">
        <tr>
          <td width="100%" align="center" style="padding-top:20px;">
            <h2 style="color:white;">验证通过</h2>
          </td>
         </tr>
        <tr>
          <td style="padding-top:20px;">
            <h3 align="center" style="color:black;">您购买的是正牌产品</h3>
            <h4 style="color:black;"><{$replyContent}></h4>
          </td>
        </tr>
      </table>
    </div>
     
    
  </div>
</block>
<block name="end-js">
  <script type="text/javascript">
    
  </script>
</block>