<extend name="Public:Base" />
<block name="title">
	<title>防伪验证</title>
</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/style.css">
	<link rel="stylesheet" href="__CSS__/web/default/fwyz.css">
</block>
<block name="js">
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/projects.js"></script>
    <script type="text/javascript" src="__JS__/unslider.min.js"></script>
</block>

<block name="content">   
    
    <include file="Public:header" /><div id="fwCheck">
	<div class="container-fluid" style="background: url('__IMAGE__/WEB/default/fwbg.png') no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" >
		<div class="container" style="margin-top: 100px;">
			<div class="row">
				<div class="col-md-5">
					<h1 class="yahei textColor">防伪验证</h1>
				</div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
					  	<input type="text" id="fwCode" class="form-control fwmInput" placeholder="请在此输入防伪码">
					</div>
					<div class="row">
						<div class="col-md-5">
							<button class="btn yzBtn">验证</button>
						</div>
						<div class="col-md-6 col-md-offset-1 text-right">
							<button class="btn resetBtn">重新输入</button>
						</div>
					</div>
					<br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="textColor">本公司产品亦支持深圳市市场监管防伪服务中心其他防伪查询方式，包括：</p>
					<p class="textColor">电话查询：4008899936 / 4008891936</p>
					<p class="textColor">短信查询：106903330123</p>
				</div>
			</div>
			<div class="row fwbottom">
				<div class="col-md-12">
					<a href="#">
						<img class="logo" src="__IMAGE__/WEB/default/fw_logo.png" alt="标题" height="42" width="42">
					</a>
					<p>
						<a href="#" class="textColor">① 本公司已成为深圳市市场监管防伪服务中心防伪成员，本公司所有产品使用深圳市市场监管防伪服务中心特制的防伪标签，支持防伪查询。</a>
					</p>
					<p>
						<a href="#" class="textColor">②本公司防伪标识防伪编码为20位数字编码，且每一个防伪编码仅支持首次查询有效，重复查询会获得相应的提示说明。</a>
					</p>
				</div>
			</div>
			<p></p>
		</div>
	</div></div>
</block>
<block name="end-js">
	<script type="text/javascript">
		$('#fwyz').addClass("active");
		//防伪验证
		$('.yzBtn').on('click',function(){
			var fwCode = $('#fwCode').val().trim();
			var re = new RegExp("^[0-9]*$");
			if(fwCode.match(re)==null || fwCode.length != 20){
				alert('请输入20防伪码！');
				return;
			}
			$('#fwCheck').load("<{:U('fwCheckResult')}>" , {'fwCode':fwCode});
		});
		//清空内容
		$('.resetBtn').on('click',function(){
			 document.getElementById("fwCode").value="";
		});
	</script>
</block>