<extend name="Public:Base_mobile" />
<block name="title">
    <title>企业手机网站</title>
</block>
<block name="css">
</block> 
<block name="js">
  
</block>
<block name="content">
  <div data-role="page" style="background-image: url('__IMAGE__/WEB/mobile/fwimg.png');background-size:100% 100%" class="header">
    <script type="text/javascript">
      //防伪验证
      $('.yzBtn').on('click',function(){
        var fwCode = $('#fwCode').val().trim();
        var re = new RegExp("^[0-9]*$");
        if(fwCode.match(re)==null || fwCode.length != 20){
          alert('请输入20位数的防伪码！');
          return;
        }
        $.get("<{:U('Fw/getfw')}>",{'fwCode':fwCode},function(data, textStatus){
          if(data['status']==0){
            if(data['info']['type']=='right'){
              location.href = "fwright/replyContent/"+data['info']['replyContent'];
            }else if(data['info']['type']=='error'){
              location.href = "fwerror/replyContent/"+data['info']['replyContent'];
            }else{
              location.href = "fwrepeat/replyContent/"+data['info']['replyContent'];
            }
          }
        
        });
      });
      //清空内容
      $('.resetBtn').on('click',function(){
         document.getElementById("fwCode").value="";
      });
    </script>
    <div data-role="header" style="background-color:#F9F9F9;height:50px;">
      <a href="__MODULE__/Index/index" data-icon="arrow-l" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFF">返回</a>
      <h1 style="white-space:normal;padding-top:15px;">防伪验证</h1>
      <a href="#menu" data-role="button" data-icon="grid" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFFFFF">菜单</a>
    </div>
    <div data-role="panel" id="menu" data-position="right" data-position-fixed="true" data-position="left" data-display="overlay" data-position-fixed="true" data-animate="true" data-theme="b" style="width:12em;"> 
      <div data-role="listview">
        <li data-theme="a"><a href="__MODULE__/Index/index" onclick="loginOut()" style="padding-left:2em;"><img src="__IMAGE__/WEB/mobile/headhome.png" class="ui-li-icon">首页</a></li>
        <li data-theme="a"><a href="__MODULE__/Product/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headproduct.png" class="ui-li-icon">产品中心</a></li>
        <li data-theme="a"><a href="__MODULE__/News/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headnews.png" class="ui-li-icon">新闻动态</a></li>
        <li data-theme="a"><a href="__MODULE__/Solution/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headsolution.png" class="ui-li-icon">解决方案</a></li>
        <li data-theme="a"><a href="__MODULE__/Fw/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headfw.png" class="ui-li-icon">防伪验证</a></li>
        <li data-theme="a"><a href="__MODULE__/About/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headabout.png" class="ui-li-icon">关于我们</a></li>
      </div>
    </div>
    <div data-role="content" style="padding:10px 0px;" align="center" >
      <table width="100%">
        <tr>
          <td width="100%" colspan="2">
            <h4 style="color:white;">防伪验证</h4>
            <input type="text" id="fwCode"/>
          </td>
        </tr>
        <tr>
          <td style="padding-right:0px;">
            <a href="#" class="yzBtn" style="color:#31B589;" data-role="button">验证</a>
          </td>
          <td style="padding-left:0px;">
            <button class="resetBtn" style="color:#dd5e5e;">重新输入</button>
          </td>
        </tr>
        <tr>
          <td width="100%" colspan="2">
            <p style="color:white;">本公司产品亦支持深圳市市场监管防伪服务中心其他防伪查询方式，包括：</p>
            <p style="color:white;">电话查询：4008899936 / 4008891936</p>
            <p style="color:white;">短信查询：106903330123</p>
          </td>
        </tr>
      </table>
    </div>
     
    <div data-position="fixed" style="position:fixed; bottom:0;width:100%;">
      <table width="100%">
        <tr>
          <td width="10%">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/fw_logo.png" height="45" width="45" style="float:right;"/></a>
          </td>
          <td width="90%">
            <p>
              <a href="" style="color:white;text-decoration:none;">
                ① 本公司已成为深圳市市场监管防伪服务中心防伪成员，本公司所有产品使用深圳市市场监管防伪服务中心特制的防伪标签，支持防伪查询。
              </a>
            </p>
            <p>
              <a href="" style="color:white;text-decoration:none;">
               ②本公司防伪标识防伪编码为20位数字编码，且每一个防伪编码仅支持首次查询有效，重复查询会获得相应的提示说明。
              </a>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</block>
<block name="end-js">
  
</block>