<extend name="Public:Base" />
<block name="title">
	<title>新闻动态</title>
</block>
<block name="css"></block>
<block name="js"></block>

<block name="content">   
    
    <include file="Public:header" />
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div style="padding-left:0;padding-right:0;">
					<img src="__IMAGE__/WEB/default/NEWS_banner.png" alt="新闻动态图片" style="width:100%;">
				</div>
			</div>
		</div>
		<p></p>
		<br/>
		<div class="row">
			<div class="col-md-12">
				<div class="panel" id="header-<{$latest.id}>">
					<div class="panel-body news-panel">
						<div class="col-md-4">
							<a href="<{:U('info')}>/id/<{$latest.id}>"><img src="<{$item.minImg}>" alt="..." class="img-responsive center-block customer-img"></a>
						</div>
						<div class="col-md-8">
							<a href="<{:U('info')}>/id/<{$latest.id}>"><h4 class="blueTxt yahei"><{$latest.title}></h4></a>
							<p>[ <{:date("Y-m-d", strtotime($latest['modifyTime']))}> ]</p>
							<p style="height:120px;overflow:hidden;"> <{$latest.description}></p>
							<p class="text-right"><a href="<{:U('info')}>/id/<{$latest.id}>" class="title_next">【MORE】</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<p></p>
		<div class="row">
			<volist name="newsList" id="item" key="k">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="panel" id="news-<{$item.id}>">
								<div class="panel-body new-material">
									<div class="col-md-4">
										<img src="<{$item.minImg}>" alt="" class="center-block customer-img">
									</div>
									<div class="col-md-8">
										<p class="news-title  yahei newsTxt" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;"><strong><a href="#"><{$item.title}></a></strong></p> 
										<p class='news-title' style="height:60px;overflow:hidden;"><a href="<{:U('info')}>/id/<{$item.id}>"><{$item.description}></a></p>
										<div class="dateSize"><{:date("Y-m-d", strtotime($item['modifyTime']))}></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
			</volist>
		</div>		
	</div>
	<div class='text-center'  id="page">
		<ul class="pagination"><{$page}></ul>
	</div>

	<include file="Public:footer" />
</block>
<block name="end-js">
	<script type="text/javascript">
		$('#news').addClass("active");
		$('.panel').on('click',function(){
			var nameId = $(this).attr('id');
			var arr    = nameId.split('-');
			var id     = arr[1];
			window.location.href = "<{:U('info')}>/id/"+id;
		})
	</script>
</block>
