<extend name="Public:Base_mobile" />
<block name="title">
    <title>企业手机网站</title>
</block>
<block name="css">
  
</block>
<block name="js">
  
</block>
<block name="content">
  <div data-role="page">
    <div data-role="header" style="background-color:#F9F9F9;height:50px;">
      <a href="__MODULE__/News/index" data-icon="arrow-l" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFF">返回</a>
      <h1 style="white-space:normal;padding-top:15px;">新闻中心</h1>
      <a href="#menu" data-role="button" data-icon="grid" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFFFFF">菜单</a>
    </div>
    <div data-role="panel" id="menu" data-position="right" data-position-fixed="true" data-position="left" data-display="overlay" data-position-fixed="true" data-animate="true" data-theme="b" style="width:12em;"> 
      <div data-role="listview">
        <li data-theme="a"><a href="__MODULE__/Index/index" onclick="loginOut()" style="padding-left:2em;"><img src="css/images/qrcode.jpg" class="ui-li-icon">首页</a></li>
        <li data-theme="a"><a href="__MODULE__/Product/index" onclick="loginOut()"><img src="css/images/qrcode.jpg" class="ui-li-icon">产品中心</a></li>
        <li data-theme="a"><a href="__MODULE__/News/index" onclick="loginOut()"><img src="css/images/qrcode.jpg" class="ui-li-icon">新闻动态</a></li>
        <li data-theme="a"><a href="__MODULE__/Solution/index" onclick="loginOut()"><img src="css/images/qrcode.jpg" class="ui-li-icon">解决方案</a></li>
        <li data-theme="a"><a href="__MODULE__/Fw/index" onclick="loginOut()"><img src="css/images/qrcode.jpg" class="ui-li-icon">防伪验证</a></li>
        <li data-theme="a"><a href="__MODULE__/About/index" onclick="loginOut()"><img src="css/images/qrcode.jpg" class="ui-li-icon">关于我们</a></li>
      </div>
    </div>
    
    <div data-role="content"  style="padding:10px 0px;" align="center">
      <img src="__IMAGE__/WEB/mobile/banner.png"  width="100%" height="auto"/>
    </div>
    
    <div data-role="content">
      <table width="100%">
        <tr>
          <td align="center">
            <h3><{$news.title}></h3>
          </td>
        </tr>
        <tr>
          <td align="center">
            <strong>
              [<{:date("Y-m-d", strtotime($news['modifyTime']))}>]
            </strong>
          </td>
        </tr>
        <tr>
          <td align="center">
            <img src="<{$news.minImg}>" class="img-responsive"/>
          </td>
        </tr>
        <tr>
          <td>
            <{$news.content}>
          </td>
        </tr>
      </table>
    </div>

    <div data-role="footer" data-position="fixed" class="footerBg" height="69" data-tap-toggle="false" >
      <table width="100%">
        <tr>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/TEl.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/QQ.png" height="45" width="45"/>
            </a>
          </td>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/E-mil.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/Add.png" height="45" width="45"/>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</block>
<block name="end-js">
  <script type="text/javascript">
    
  </script>
</block>