 <div class="footer">
  <span>@深圳市市场监管防伪网  <a href='http://www.sz12365.net'  target="view_window">www.sz12365.net</a></span>
  <span style="padding-left: 20px;">深圳市标准技术研究院下属单位</span>
</div>


   