<div class="row" style="margin: 0;">
	<div id="top">
		<div class="row">
			<div class="col-md-5">
				<a href="<{:U('Index/index')}>">
					<img src="__PUBLIC__/Image/fwShop/logo.png"  class="img-responsive" align="center">
				</a>
			</div>
			<div class="col-md-7">
				<div class="nav nav-pills pull-right navigate">
				    <ul>
				        <li><a href="<{:U('Index/index')}>" id="home">首页</a></li>
				        <li><a href="<{:U('Property/index')}>" id="property">功能特性</a></li>
				        <li><a href="<{:U('ClientCase/index')}>" id="clientcase">客户案例</a></li>
				        <li><a href="<{:U('ContactUs/index')}>" id="contactus">联系我们</a></li>
				        <button type="button" class="btn btn-default btn-xs" style="margin-top: 15px;margin-left: 30px;font-size: 14px;" onclick="window.location.href = '<{:U('Index/Login')}>';" >登录</button>
				    </ul>
				</div>
			</div>	
		</div>		
	</div>	
</div>