html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.button{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    width: 65%;
    height: auto;
    z-index: 120;
}
.title{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 8%;
    width: 26%;
    height: auto;
    z-index: 100;
}

.footer{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3%;
    width: 22%;
    height: auto;
    z-index: 100;
}

.page{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 21%;
    width: 22%;
    height: auto;
    z-index: 100;
}

.text{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 18%;
    width: 80%;
    height: auto;
    z-index: 100;
} 
.center{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 26%;
    width: 100%;
    height: auto;
    z-index: 100;
} 

#s1 .text{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    width: 70%;
    height: auto;
    z-index: 100;
} 
#s2 .text{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    width: 70%;
    height: auto;
    z-index: 100;
} 
#s2 .text2{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 46%;
    width: 70%;
    height: auto;
    z-index: 100;
} 