<extend name="Public:Base" />
<block name="title">
	<title>关于我们</title>
</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/WEB/default/contact.css">
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/unslider.min.js"></script>
</block>

<block name="content">   
    
    <include file="Public:header" />

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="__IMAGE__/WEB/default/NEWS_banner.png" alt="标题" style="width:100%;">
			</div>
		</div>

		<div class="row" id="navWidth">
			<div class="col-md-12">
				<table>
					<tr>
						<volist name="info" id="item">
							<td id="pro-<{$item.id}>" class="aboutUs" align="center">
								<h5 class="yahei newsTxt">
									<{$item.name}>
								</h5>
							</td>
						</volist>
					</tr>
				</table>
			</div>
		</div><p></p><br>
		<div id="profileCont"></div>
	</div><p></p>
	<include file="Public:footer" />
</block>
<block name="end-js">
	<script>
		$('#us').addClass("active");
		$('.banner').unslider({
			dots: true
		});
		$('#profileCont').load('<{:U("profile")}>/id/<{$firstId}>');

		$('.aboutUs').on('click',function(){
			var str = $(this).attr('id');
			var arr = str.split('-');
			var id  = arr[1];

			$('.aboutUs').removeClass('blackBorder');
			$(this).addClass("blackBorder");
			$('#profileCont').load("<{:U('profile')}>/id/"+id);
		});
		var navWidth = $('#navWidth').width();
		$('.aboutUs').css('width',navWidth/<{$count}>);


	</script>
</block>