<extend name="Public:Base_mobile" />
<block name="title">
    <title>企业手机网站</title>
</block>
<block name="css">
</block> 
<block name="js">
  
</block>
<block name="content">
  <div data-role="page">
    <script type="text/javascript">
      var arr={
          'id':<{$firstId}>
        };
      aboutinfo(arr);  
      function aboutinfo(obj){
        $.get("<{:U('About/info')}>",obj,function(data, textStatus){
          if(data['status']==0){
            $('#getabout').html("");
             $('#getabout').append("<tr align='center'><td width='10%' style='border-bottom: 1px solid #F2F2F2;'><img src="+data['info']['bigImg']+" width='100%' height='auto'/></td></tr><tr><td width='100%' style='border-bottom: 1px solid #F2F2F2;'>"+data['info']['content']+"</td></tr>");
            
          }
          
        });
      }
      
      $('.aboutleft').on('click',function(){
        var str = $(this).attr('id');
        var array = str.split('-');
        arr['id']  = array[1];

        aboutinfo(arr);
      });

      $('.aboutcenter').on('click',function(){
        var str = $(this).attr('id');
        var array = str.split('-');
        arr['id']  = array[1];

        aboutinfo(arr);
      });

      $('.aboutright').on('click',function(){
        var str = $(this).attr('id');
        var array = str.split('-');
        arr['id']  = array[1];

        aboutinfo(arr);
      });

      function getid(){

      }
      
    </script>
    <div data-role="header" style="background-color:#F9F9F9;height:50px;">
      <a href="__MODULE__/Index/index" data-icon="arrow-l" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFF">返回</a>
      <h1 style="white-space:normal;padding-top:15px;">关于我们</h1>
      <a href="#menu" data-role="button" data-icon="grid" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFFFFF">菜单</a>
    </div>
    <div data-role="panel" id="menu" data-position="right" data-position-fixed="true" data-position="left" data-display="overlay" data-position-fixed="true" data-animate="true" data-theme="b" style="width:12em;"> 
      <div data-role="listview">
        <li data-theme="a"><a href="__MODULE__/Index/index" onclick="loginOut()" style="padding-left:2em;"><img src="__IMAGE__/WEB/mobile/headhome.png" class="ui-li-icon">首页</a></li>
        <li data-theme="a"><a href="__MODULE__/Product/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headproduct.png" class="ui-li-icon">产品中心</a></li>
        <li data-theme="a"><a href="__MODULE__/News/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headnews.png" class="ui-li-icon">新闻动态</a></li>
        <li data-theme="a"><a href="__MODULE__/Solution/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headsolution.png" class="ui-li-icon">解决方案</a></li>
        <li data-theme="a"><a href="__MODULE__/Fw/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headfw.png" class="ui-li-icon">防伪验证</a></li>
        <li data-theme="a"><a href="__MODULE__/About/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headabout.png" class="ui-li-icon">关于我们</a></li>
      </div>
    </div>
    
    
    <div data-role="content">
      <table width="100%">
        <tr>
          <td width="33%" style="background-color:#A3A3A3;">
            <volist name='info' id='Item' key="k" mod="3" >
             <div style="text-align:center;padding-right:0;">
                <div>
                  <eq name="mod" value="0">
                    <h4 class="aboutleft" id="about-<{$Item.id}>" style="color:white"><{$Item.name}></h4>
                  </eq>
                </div>
              </div> 
            </volist>
          </td>
          <td width="33%" style="background-color:#A3A3A3;">
            <volist name='info' id='Item' key="k" mod="3">
              <div style="text-align:center;padding-right:0;">
                <div>
                  <eq name="mod" value="1">
                    <h4 class="aboutcenter" id="about-<{$Item.id}>" style="color:white"><{$Item.name}></h4>
                  </eq>
                </div>
              </div> 
            </volist>
          </td>
          <td width="33%" style="background-color:#A3A3A3;">
            <volist name='info' id='Item' key="k" mod="3">
              <div style="text-align:center;padding-right:0;">
                <div>
                  <eq name="mod" value="2">
                    <h4 class="aboutright" id="about-<{$Item.id}>" style="color:white"><{$Item.name}></h4>
                  </eq>
                </div>
              </div> 
            </volist>
          </td>
        </tr>
      </table>
    </div>
    <div data-role="content" align="center">
        <table width="100%" id="getabout"></table>
    </div>

    <div data-role="footer" data-position="fixed" class="footerBg" height="69" data-tap-toggle="false" >
      <table width="100%">
        <tr>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/TEl.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/QQ.png" height="45" width="45"/>
            </a>
          </td>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/E-mil.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/Add.png" height="45" width="45"/>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</block>
<block name="end-js">

</block>