<div class="row">
	<div class="col-md-4">
		<img src="<{$info.bigImg}>" alt="..."  class="img-responsive center-block img-thumbnail" width="280">
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
		  	<div class="panel-body" style="overflow: hidden;">
		  		<{$info.content}>
			</div>
		</div>
	</div>
</div>