<table class="table table-bordered">
    <thead>
        <th>微信号</th>
        <th>防伪码</th>
        <th>类型</th>
        <th>品牌</th>
        <th>产品</th>
        <th>经销商</th>
    </thead>
    <tbody>
        <volist name="result" id="item" key="k">
            <tr>
                <td><{$item.nickname}></td>
                <td><{$item.fwCode}></td>
                <td><{$item.fwType}></td>
                <td><{$item.brand}></td>
                <td><{$item.product}></td>
                <td><{$item.dealerName}></td>
            </tr>
        </volist>
    </tbody>
</table>
<div id="fwLogList">
    <ul class="pagination"><{$page}></ul>
</div>
<script>
    $("#fwLogList > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       
        //加载页面
        $("#fwLogChart").load(_HREF,params);
        return false;
    });

</script> 