<extend name="Public:base" />
<block name="title">
	<title><{$title}></title>
</block>
<block name="top-css">
	<link href="__CSS__/fwShop/newIndex.css" rel="stylesheet" type="text/css" />
</block>
<block name="picture">
	<div id="full-screen-slider">
		<ul id="slides">
			<volist name="picture" key="k" id="item">
				<li style="background:url('<{$item.imgPath}>') no-repeat center top"><a href="<{$item.linkUrl}>" target="_blank"></a></li>
			</volist>
			<a href="__MODULE__/ContactUs/index/#name" id="top-btn">
				<img src="__PUBLIC__/Image/fwShop/user.png">
			</a>			
		</ul>
	</div>
</block>
		
<block name="container">
	<div class="container">
		<div class="row">
			<div class="col-md-12 distance">
				<div class="row">
					<div class="col-md-12">
						<h4 class="text">
							成就企业微梦想：微信防伪与运营管理平台，移动互联网时代的营销利器！
						</h4>
					</div>
				</div>
				<div class="row distance" style="min-height:270px;">
					<div id="fw" class="col-md-3">
						<div align="center">
							<img src="__PUBLIC__/Image/fwShop/fw.png" class="img-style">
						</div>
						<div align="center" class="wxfw-text">微信防伪</div>
						<p class="txt-indent" id="img-text">
							中国首创的微信防伪验证功能，移动互联网最好的防伪技术，让微信成为您产品服务额平台，引导您产品的消费者成为你的微信粉丝，提高微信粉丝质量。
						</p>
					</div>	
					<div id="code" class="col-md-3">
						<div align="center">
							<img  class="img-style" src="__PUBLIC__/Image/fwShop/code.png">
						</div>
						<div align="center" class="wxfw-text">多功能二维码</div>
						<p class="txt-indent" id="img-text">
							独有的二维码防伪标签智能识别、产品识别、经销商识别及员工识别技术；让关注粉丝自动分组，丰富微信功能，让你了解每一个粉丝的真实情况。
						</p>
					</div>	
					<div id="dealers" class="col-md-3">
						<div align="center">
							<img  class="img-style" src="__PUBLIC__/Image/fwShop/dealers.png">
						</div>
						<div align="center" class="wxfw-text">经销商管理</div>
						<p class="txt-indent" id="img-text">
							微信经销商防窜货、授权书管理、防伪产品定义，全方位的管理您的经销商。
						</p>
					</div>	
					<div id="statistics" class="col-md-3">
						<div align="center" >
							<img  class="img-style" src="__PUBLIC__/Image/fwShop/statistics.png">
						</div>
						<div align="center" class="wxfw-text">数据分析</div>
						<p class="txt-indent" id="img-text">
							微信运营数据、防伪数据、人员数据自动统计；每个粉丝自动分析属性。
						</p>
					</div>	
				</div>

				<div class="row">
					<div class="col-md-12">
						<h3 class="apply-text">
							他们都在使用
						</h3>
					</div>
				</div>
				<div id="apply" class="row">
					<div class="col-md-2"align="center">
						<div id="anqi-block">
							<img src="__PUBLIC__/Image/fwShop/anqi.png">
							<div class="anqi-text">
								<a>
									安琪食品</a>
							</div>
							<div id="anqi" class="triangle-up"></div>
						</div>							
					</div>
					<div class="col-md-2 "align="center" onmouseover="showHandle('ybcontent','yubo','show');" onmouseout="showHandle('ybcontent','yubo','hide');">
						<img src="__PUBLIC__/Image/fwShop/yubo.png">
						<div class="anqi-text">
							<a >Yoobao 羽博</a>
						</div>
						<div id="yubo" class="triangle-up hideStyle"></div>
					</div>

					<div class="col-md-2" align="center" onmouseover="showHandle('gkcontent','guokong','show');" onmouseout="showHandle('gkcontent','guokong','hide');">
						<img src="__PUBLIC__/Image/fwShop/guokong.png">
						<div class="anqi-text">
							<a >国控润滑油</a>
						</div>
						<div id="guokong" class="triangle-up hideStyle"></div>
					</div>

					<div class="col-md-2" align="center" onmouseover="showHandle('hbcontent','heibao','show');" onmouseout="showHandle('hbcontent','heibao','hide');">
						<img src="__PUBLIC__/Image/fwShop/heibao.png">
						<div class="anqi-text">
							<a >黑豹防水</a>
						</div>
						<div id="heibao" class="triangle-up hideStyle"></div>
					</div>

					<div class="col-md-2" align="center" onmouseover="showHandle('zgcontent','zhonggong','show');" onmouseout="showHandle('zgcontent','zhonggong','hide');">
						<img src="__PUBLIC__/Image/fwShop/jewellery.png">
						<div class="anqi-text">
							<a >中工商检珠宝证书</a>
						</div>
						<div id="zhonggong" class="triangle-up hideStyle"></div>
					</div>

					<div class="col-md-2" align="center" onmouseover="showHandle('kscontent','keshang','show');" onmouseout="showHandle('kscontent','keshang','hide');" >
						<img src="__PUBLIC__/Image/fwShop/keshang.png">
						<div class="anqi-text">
							<a >柯尚木门</a>
						</div>
						<div id="keshang" class="triangle-up hideStyle"></div>
					</div>
				</div>

				<div id="anqicontent" class="col-md-12 backset" >
					<div class="col-md-4">
						<h3 class="apply-text">微信经销商管理—安琪食品</h3>
						<p class="secondtxt">防经销商窜货 助经销商推广</p><br>
						<p class="indent">  安琪有限公司是一家名族品牌高科技公司，主要采用总代理、分级经销商代理的销售模式。</p>
						<p class="indent">  微防伪V4平台为其设置各层级菜单，通过会员登录机制，进行经销商和会员管理，将微信公众平台转变为经销商和会员管理平台。</p>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<img src="__PUBLIC__/Image/fwShop/anqi01.png" style="width:100%;">
					</div>
					
				</div>

				<div id="ybcontent" class="col-md-12 backset hideStyle" onmouseover="showHandle('ybcontent','yubo','show'); "onmouseout="showHandle('ybcontent','yubo','hide');">
					<div class="col-md-4">
						<h3 class="apply-text">微信防伪——羽博 </h3>
						<p class="secondtxt">简单快捷，无缝安全保护</p><br>
						<p class="indent"> “Yoobao羽博”,是通信、数码、IT配件领域领导者，在强大的市场需求刺激下，也衍生了众多假冒伪劣产品，严重侵害了企业和消费的利益。</p>
						<p class="indent">  中心提出，微信防伪能有效解决所有面临的产品假冒问题。微信防伪是查阅简单便捷，同时验证结果准确详实，不止提升了消费者的防伪查询体验，更使羽博企业品牌形象更优</p>
					</div>
					<div class="col-md-4" align="right">
						<img src="__PUBLIC__/Image/fwShop/yubo01.png" class="img-responsive">
					</div>
					<div class="col-md-4" align="center">
						<img src="__PUBLIC__/Image/fwShop/yubo02.png" class="img-responsive">
					</div>
				</div>

				<div id="gkcontent" class="col-md-12 backset hideStyle" onmouseover="showHandle('gkcontent','guokong','show');"onmouseout="showHandle('gkcontent','guokong','hide');">
					<div class="col-md-4">
						<h3 class="apply-text">微信经销商管理—国控油品</h3>
						<p class="secondtxt">防经销商窜货 助经销商推广</p><br>
						<p class="indent">  国控油品有限公司是一家名族品牌高科技公司，专注于工业润滑、防锈行业的研发和生产，主要采用总代理、分级经销商代理的销售模式。</p>
						<p class="indent">  微防伪V4平台为其设置各层级菜单，通过会员登录机制，进行经销商和会员管理，将微信公众平台转变为经销商和会员管理平台。</p>
					</div>
					<div class="col-md-4" align="right">
						<img src="__PUBLIC__/Image/fwShop/guokong01.png" class="img-responsive">
					</div>
					<div class="col-md-4" align="center">
						<img src="__PUBLIC__/Image/fwShop/guokong02.png" class="img-responsive">
					</div>
				</div>

				<div id="hbcontent" class="col-md-12 backset hideStyle" onmouseover="showHandle('hbcontent','heibao','show');"onmouseout="showHandle('hbcontent','heibao','hide');">
					<div class="col-md-4">
						<h3 class="apply-text">产品防伪服务—黑豹防水</h3>
						<p class="secondtxt">建材行业解决方案</p><br>
						<p class="indent">  深圳市新黑豹建材有限公司是国内早期研制和生产聚合物水泥防水材料的生产企业。在行业内，具有很高的知名度与口碑，也正因为如此，有不法商家以类似或者相同的“黑豹”商标冒充其产品大行其道，严重损害了新黑豹的品牌形象。</p>
						<p class="indent">  中心一直坚持为品牌企业保驾护航，提供优质的产品防伪服务。事实上，有不少商家以高价钱希望我们能够为其制作与“黑豹”一样或相近的防伪标签，但都被我们一一婉拒。我们坚持的原则是，为企业提供高价值的防伪服务，为企业提供“独一无二”的防伪标签。</p>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<img src="__PUBLIC__/Image/fwShop/heibao01.png" style="width:118%;">
					</div>
					
				</div>

				<div id="zgcontent" class="col-md-12 backset hideStyle"onmouseover="showHandle('zgcontent','zhonggong','show');"onmouseout="showHandle('zgcontent','zhonggong','hide');">
					<div class="col-md-4" >
						<img src="__PUBLIC__/Image/fwShop/jewellery01.png" class="img-responsive">
					</div>
					<div class="col-md-4" >
						<img src="__PUBLIC__/Image/fwShop/jewellery02.png" class="img-responsive">
					</div>
					<div class="col-md-4" >
						<h3 class="apply-text">珠宝二维码鉴定证书</h3>
						<p class="secondtxt">珠宝行业防伪解决方案</p><br>
						<p class="indent">  珠宝二维码鉴定证书，是中心针对珠宝行业提供的专业解决方案。市面上出现了大量假冒的珠宝鉴定证书，使证书失去了原有的作用。</p>
						<p class="indent"> 中心利用加密二维码防伪系统结合原有的证书上，能够打击这类假冒行为，同时证书二维码能将消费者、经销商、珠宝检测机构有机链接在一起，扫描二维码即可追溯三者信息。</p>
					</div>
					
				</div>

				<div id="kscontent" class="col-md-12 backset hideStyle"onmouseover="showHandle('kscontent','keshang','show');"onmouseout="showHandle('kscontent','keshang','hide');" >
					<div class="col-md-4">
						<h3 class="apply-text">防伪营销综合管理—柯尚木门</h3>
						<p class="secondtxt">第一家微防伪客户</p><br>
						<p class="indent"> 柯尚木门是柯尚木业有限公司旗下的高端木门品牌，亦是中心在2012年全国推出微防伪的首批客户之一。</p>
						<p class="indent">  微防伪是中心为企业量身定做的新一代防伪营销综合管理平台，为企业品牌护航，帮助企业做大品牌，打击假冒产品，增强企业市场竞争力。除全国首创的微信防伪功能之外，同时具有特色的二维码应用功能，多个微信管理功能模块以及全方位的数据统计。</p>
					</div>
					<div class="col-md-4" align="right">
						<img src="__PUBLIC__/Image/fwShop/keshang01.png" class="img-responsive" style="margin-top: 4%">
					</div>
					<div class="col-md-4" align="center">
						<img src="__PUBLIC__/Image/fwShop/keshang02.png" class="img-responsive" style="margin-top: 4%">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h3 class="apply-text">
							适合使用的商品
						</h3>
					</div>
				</div>
				<div id="goods" class="col-md-12">
					<div class="row" align="center">
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive" src="__PUBLIC__/Image/fwShop/electricity.png">
							</a>
							<h4><a href="">电子产品</a></h4>
						</div>
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive"src="__PUBLIC__/Image/fwShop/clothes.png">
							</a>
							<h4><a href="">服装饰品</a></h4>
						</div>
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive"src="__PUBLIC__/Image/fwShop/fastfood.png">
							</a>
							<h4><a href="">快消食品</a></h4>
						</div>
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive"src="__PUBLIC__/Image/fwShop/material.png">
							</a>
							<h4><a href="">装饰材料</a></h4>
						</div>
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive"src="__PUBLIC__/Image/fwShop/building.png">
							</a>
							<h4><a href="">建材</a></h4>
						</div>
						<div class="col-md-2">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive"src="__PUBLIC__/Image/fwShop/tools.png">
							</a>
							<h4><a href="">玩具</a></h4>
						</div>
					</div>
					<hr>
					<div class="row" align="center">
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive" src="__PUBLIC__/Image/fwShop/jewell.png">
							</a>
							<h4><a href="">珠宝贵金属</a></h4>
						</div>
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive" src="__PUBLIC__/Image/fwShop/certificate.png">
							</a>
							<h4><a href="">证书</a></h4>
						</div>
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive" src="__PUBLIC__/Image/fwShop/cosmetics.png">
							</a>
							<h4><a href="">化妆品</a></h4>
						</div>
						<div class="col-md-2 border-bg">
							<a href="<{:U('Index/newindex')}>">
								<img class="img-responsive" src="__PUBLIC__/Image/fwShop/furniture.png">
							</a>
							<h4><a href="">家居</a></h4>
						</div>
						<div class="col-md-2 border-bg">
			                <a href="<{:U('Index/newindex')}>">
			                  <img class="img-responsive" src="__PUBLIC__/Image/fwShop/book.png">
			                </a>
			                <h4><a href="">文化艺术</a></h4>
			            </div>
			            <div class="col-md-2">
			                <a href="<{:U('Index/newindex')}>">
			                  <img class="img-responsive" src="__PUBLIC__/Image/fwShop/yiliao.png">
			                </a>
			                <h4><a href="">医疗器材</a></h4>
			            </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="apply-text">
							最好的防伪服务平台
						</h3>
					</div>
				</div>
				<div class="row bottom-distance">
					<div class="col-md-3" >
						<div align="center"><img class="img-responsive" src="__PUBLIC__/Image/fwShop/pt01.png"></div>
						<div align="center" class="wxfw-text">数据安全</div>
					</div>
					<div class="col-md-3" >
						<div align="center"><img class="img-responsive" src="__PUBLIC__/Image/fwShop/pt02.png"></div>
						<div align="center" class="wxfw-text">服务客户</div>
					</div>
					<div class="col-md-3">
						<div align="center"><img class="img-responsive" src="__PUBLIC__/Image/fwShop/pt03.png"></div>
						<div align="center" class="wxfw-text">树立品牌</div>
					</div>
					<div class="col-md-3">
						<div align="center"><img class="img-responsive" src="__PUBLIC__/Image/fwShop/pt04.png"></div>
						<div align="center" class="wxfw-text">迭代更新</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="end-js">
	<script type="text/javascript" src="__JS__/jquery.jslides.js"></script>
	<script src="__JS__/jquery-1.10.2.min.js"></script>
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$('.carousel').carousel({
		  interval: 3000
		});
		function showHandle (obj,triangle,type) {
			var div = document.getElementById(obj);
			var triangleId = document.getElementById(triangle);
			if(type == 'show'){
				document.getElementById('anqi').style.display = 'none';	
				document.getElementById('anqicontent').style.display = 'none';		
				div.style.display = 'block';
				triangleId.style.display = 'block';
			}
			if(type == 'hide'){
				document.getElementById('anqi').style.display = 'block';	
				document.getElementById('anqicontent').style.display = 'block';
				div.style.display = 'none';
				triangleId.style.display = 'none';
			}

		}
		$("#home").css("color", "#00a0e9");
		var clientWidth = document.body.clientWidth;
		var clientHeight = document.body.clientHeight;
		var offsetWidth = (clientWidth - $('.item-img').width())/2;
		$('.item').css('margin-left',offsetWidth);
		$('#top-btn').css('margin-left',clientWidth*0.6);
		$('#top-btn').css('margin-top',clientHeight*0.118);

		$(document).ready(function(){
			$(window).resize(function() {
				var offsetWidth = (document.body.clientWidth - $('.item-img').width())/2;
				$('.item').css('margin-left',offsetWidth);
			});
		});
	</script>
</block>	
