<div id="header">
    <div id="head-main">
        <div id="head-logo"><img src="__IMAGE__/weixinlogo.png" /></div>
        <div id="head-user"><ul>
            <li style="border-right:1px solid #000;"><{$userName}></li>
            <li><a onclick="exitCheck()" style="cursor:pointer;">退出</a></li></ul>
            <script type="text/javascript">
                function exitCheck() {
                    if (confirm("是否确认退出")) {
                        location.href = "__ROOT__/index.php/Index/doQuit";
                    }
                }
            </script>
        </div>
    </div>
</div>
<div id="head-menu">
    <ul>
        <li><a href="__MODULE__">首页</a></li>
        <li><a href="__MODULE__/Fw/">防伪管理</a></li>
        <li><a href="__MODULE__/Location">LBS管理</a></li>
        <li><a href="__MODULE__/MaterialLib/">素材管理</a></li>
        <li><a href="__MODULE__/Keyword/">关键字</a></li>
        <li><a href="__MODULE__/Menu/">菜单管理</a></li>
        <li><a href="__MODULE__/Userset/">用户管理</a></li>
    </ul>
</div>