<div id="menu">
    <ul class="list-group">
        <if condition="$role eq 'admin'">
            <a href="<{:U('Index/index')}>" class="list-group-item" id='index'>首页</a>
            <a href="<{:U('Fw/index')}>" class="list-group-item" id='fw'>微信防伪</a>
            <a href="<{:U('Fans/index')}>" class="list-group-item" id='fans'>粉丝管理</a>
            <a href="<{:U('Keyword/index')}>" class="list-group-item" id='keyword'>智能回复</a>
            <a href="<{:U('Menu/index')}>" class="list-group-item" id="menu-diy">自定义菜单</a>
            <a href="<{:U('Brand/index')}>" class="list-group-item" id='product'>产品管理</a>
            <a href="<{:U('Location/index')}>" class="list-group-item" id="dealers">经销商管理</a>
            <a href="<{:U('Activity/index')}>" class="list-group-item" id='activity'>活动管理</a>
            <a href="<{:U('Ad/index')}>" class="list-group-item" id='ad'>广告管理</a>
            <a href="#" class="list-group-item" id='moblie'>微门户设置</a>
            <a href="<{:U('MaterialLib/index')}>" class="list-group-item" id='material'>素材中心</a>
            <if condition="$ecid eq '816'">
                <a href="<{:U('Manager/index')}>" class="list-group-item" id='manager'>企业管理</a>
                <a href="<{:U('Website/index')}>"  class="list-group-item" id='website' >网站管理</a>
            <else />
                <a href="<{:U('User/index')}>" class="list-group-item" id='user'>企业管理</a>
            </if>
            <a href="<{:U('Statistics/index')}>" class="list-group-item" id='statistics'>数据中心</a>
        </if>
        <if condition="$role eq 'dealer'||$role eq 'Dadd'||$role eq 'Dreview'||$role eq 'Dprint'">
            <a href="<{:U('Location/index')}>" class="list-group-item" id="dealers">经销商管理</a>
            <a href="<{:U('User/index')}>" class="list-group-item" id='user'>企业管理</a>
        </if>
    </ul>
</div>