<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand"><strong>微防伪 V5</strong> | <small>成就企业微梦想</small></a>
      </div>  
       <ul class="nav navbar-nav navbar-right">
         <li><a href="#">欢迎您，<{:session( 'user_name' )}></a></li>
         <li><a href="#"><span class="glyphicon glyphicon-bell"></span>消息</a></li>
         <li><a href="javascript:void(0)" onclick="exitCheck()"><span class="glyphicon glyphicon-off"></span>退出</a></li>
         <script type="text/javascript">
              function exitCheck() {
                  if (confirm("是否确认退出")) {
                      location.href = "__APP__/Home/Index/doQuit";
                  }
              }
          </script>
       </ul>
    </div>
</header>