body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0;font-style: normal;font-size: 100%; font-family: inherit;} 
h1,h2{font-weight:normal;}
ol, ul ,li{list-style: none;} 
img {border: 0;} 
body {color:#000;background:#f8f8f8;font: 12px/1.5 Arial, Helvetica, sans-serif;} 
.clearfix:after {clear:both; content:"."; display:block; height:0pt; visibility:hidden; overflow:hidden;} 
.clear{clear:both;height:1px; margin-top:-1px; width:100%;} 

.dis{display:block;} 
.undis{display:none;} 

#class-title{
    height:35px;
    line-height:35px;
    padding-left:20px;
    padding-right:20px;
    width:100%;
    font-size:18px;
    border-bottom:1px solid #d3d3d3;
}

#main-left{
    float:left;
    height:100%;
}

#left-menu ul li{
    height:30px;
    line-height:30px;
}

#left-menu ul li a{
    display:block;
    color:#000;
    text-decoration:none;
    padding-left:20px;
}

#left-menu ul li a:hover{
    background:#6EB262;
}


#main-right{
    float:left;
    min-height:500px;
    min-width:500px;
    padding-left:20px;
    padding-top:25px;
    border-left:1px solid #d3d3d3;
}

#left , #right{
    float:left;
    margin-top:20px;
    margin-right:20px;
}

#brand{
    background: #fff;
    border: 1px solid #ccc;
    padding:10px;
    width:100px;
    height:310px;
    overflow: auto;
}

#product{
    background: #fff;
    border: 1px solid #ccc;
    padding:10px;
    width:200px;
    height:310px;
    overflow: auto;
}

#subBtn{
    margin-top:20px;
    width:80px;
    height:25px;
    cursor:pointer;
}


#not-show{
	clear:both;
	height:1px;
}