﻿body{
	background-color:#f00017;
}

#logo{
	margin-top:50px;
	margin-bottom:100px;
}

.info{
	background-color:#fff;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:20px;
	margin-bottom:20px;
}

.red_text{
	color:red;
}

#result_info{
	margin-top:20px;
}

#checkBtn{
	background-color:#ffd400;
	color:#ea8400;
}