body{
    margin:0px;
    padding: 0px;
    color:#666;
    font-family:"Microsoft YaHei";
    width: 100%;
    height: 100%;
}
.head{
	padding:10px 10px 30px;
}
.introduce{
	padding:10px;
}
.info{
	padding-bottom:35px;
}
.head_inputName{
	width: 100%;
	/*height: 40px;*/
	margin: auto;
	margin-bottom: 10px;
	/*line-height: 40px;*/
	font-size: 14px;
}
.head_img_radio{
	margin-left: 10px;
	width: 95%;
	font-size: 14px;
}
.sex .radio{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url("../images/radio.png") no-repeat scroll center center;
    _background-size: 10%;
    cursor: pointer;
    margin: 0px 10px;
}
.sex .checked{
    background: transparent url("../images/checked.png") no-repeat scroll center center;
}
.panel a:visited,a:link{
	text-decoration: none;
}
p{
	margin-bottom:14px;
}
.title1{
	padding-bottom: 10px;
}
.spreadCls{
	padding-top: 10px;
	background:url('../images/ycm/bg.png') no-repeat;
	background-size: 100%;
}
#info1{
	padding:60px 0px 20px 10px;
}
.bottom{
	padding-bottom: 40px;
}
.distance{
	padding-bottom: 20px;
}
.footerCls{
	margin-top:10px;
	font-size:12px;
}
.footerCls a{
	color:#999;
}
.ecode{
	border-top:1px dotted #ccc;
	padding:10px 20px 35px 20px;
}
.codeBottom{
	padding-bottom: 10px;
}