body{
    margin:0px;
    padding: 0px;
    color:#666;
    font-family:"Microsoft YaHei";
    width: 100%;
    height: 100%;
}
ul{
	padding-left: 15px;
}
.introduce{
	padding:10px;
}
#system ul li{
	color:#0099FF;
}
#systemState_2 ul li{
	color:#99CC33;
}
#systemState_3 ul li{
	color:#CC9900;
}
.full{
	padding:10px 0px;
}
.title4_Img h4{
	border-bottom: 1px #0099FF dotted;
	padding-bottom:10px;
	color: #09f;
	text-indent: 0.7em;
	font-weight: bold;
}
#systemState_4 ul li{
	color:#0099FF;
}
.bottom{
	margin-bottom: 10px;
}
.plateform{
	padding: 0px 10px 10px;
}
.hide{
	display: none;
}
.head_inputName{
	width: 100%;
	/*height: 40px;*/
	margin: auto;
	margin-bottom: 10px;
	/*line-height: 40px;*/
	font-size: 14px;
}
.head_img_radio{
	margin-left: 10px;
	width: 95%;
	font-size: 14px;
}
.sex .radio{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url("../images/radio.png") no-repeat scroll center center;
    _background-size: 10%;
    cursor: pointer;
    margin: 0px 10px;
}
.sex .checked{
    background: transparent url("../images/checked.png") no-repeat scroll center center;
}
.panel a:visited,a:link{
	text-decoration: none;
}
p{
	margin-bottom:14px;
}
.distance{
	padding-bottom: 20px;
}
.footerCls{
	margin-top:10px;
	font-size:12px;
}
.footerCls a{
	color:#999;
}