<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <button class="btn btn-info" id="addDepartmentBtn">
                添加部门
            </button>
        </div>
        <h3 class="panel-title">
            部门管理
        </h3>
    </div>
    <div class="panel-body">
        <div id="departmentInfo"></div>
        <p id="Name-items"></p>
        <div id="page">
            <ul class="pagination"><{$page}></ul>
        </div>
        <table class="table table-bordered table-hover" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th class="col-md-1"  style="text-align: center;">序号</th>
                    <th>部门名称</th>
                    <th>部门介绍</th>
                    <th class="col-md-2" style="text-align: center;">操作</th>
                </tr>
            </thead>

            <tbody>
                <volist name="department" id="item" key="k">
                    <tr>
                        <td style="text-align: center;"><{$k}></td>
                        <td style="overflow:hidden;text-overflow:ellipsis;"><{$item.department}></td>
                        <td style="overflow:hidden;text-overflow:ellipsis;"><{$item.info}></td>
                        <td style="text-align: center;">
                            <span><a class="departEditBtn" id="<{$item.id}>" href='javascript:void(0)'>编辑</a></span>
                            <span style="margin-left:10px;"><a class="departDelBtn" id="<{$item.id}>" href='javascript:void(0)'>删除</a></span>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
        <div id="Editdepartment"></div>
    </div>       
</div>
<script type="text/javascript">
    $('#Editdepartment').load("<{:U('departmentInfo')}>");

    $("#page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#employees").load(_HREF);
        return false;
    });

    $('#addDepartmentBtn').on('click',function(){
        editDepartment('add');
    });

    $('.departEditBtn').on('click',function(){
        editDepartment($(this).attr('id'));
    });

    $('.departDelBtn').on('click',function(){
        dealDepartment($(this).attr('id'),'delete');
    });

    function editDepartment(id){
        $('#departmentInfo').load("<{:U('departmentInfo')}>" , {"id":id} , function(){
            $('#departmentModal').modal('show');
        });
    }

</script>