<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">员工二维码</h4>
            </div>
            <div class="modal-body">
                <img src="" class="img-thumbnail" id='qrImg' style='width:300px;'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div id="Employee-content">
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    说明：
        <p style="text-indent:2em">批量上传人员信息表时，请先下载员工格式表。员工格式表格填写格式：性别列填写男或女，不填或填写其它时默认为男。类型列选填固定员工或临时员工，不填或填写其它时默认为固定员工。手机号码列填写时需为纯数字，个人邮箱列填写需要按照正确的邮箱格式。</p>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div class="row">
          <div class="col-md-1"style="margin-bottom:10px;">
              <button class="btn btn-info"  id="addEmployeesBtn">
                  添加员工
              </button>
              
              <div id="employeesInfo"></div>
          </div>
          <div class="col-md-7">
              <div class="col-md-6">
                  <label class="col-sm-4 control-label" style="line-height: 35px;">员工：</label>
                  <div class="col-sm-7">
                      <select class="form-control" id='typeSelect'>
                          <option value='all'>全部</option>
                          <option value='0'>临时员工</option>
                          <option value='1'>固定员工</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-6">
                  <label class="col-sm-4 control-label" style="line-height: 35px;font-size: 14px;">部门:</label>
                  <div class="col-sm-7">
                      <select class="form-control" id='departSelect'>
                          <option value='all'>全部</option>
                          <volist name='department' id='item'>
                            <option value='<{$item.id}>'><{$item.department}></option>
                          </volist>
                      </select>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="input-group">
                <input type="text" class="form-control" id='NameInput' placeholder="搜索员工姓名">
                <span class="input-group-btn">
                  <button class="btn btn-info" id='search-btn' type="button">搜索</button>
                </span>
              </div>
          </div>
          <div class="col-md-1">
              <button class="btn btn-info" id='reset-btn' type="button" >全部</button>
          </div>
      </div>

      <div class="row" style="margin-left: -16px;">
          <div class="col-md-2">
              <button type="button" class="btn btn-default" onclick="window.location.href = '__ROOT__/index.php/Index/downEmployeeInfoFile'">下载员工格式表</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-default" id='upload-employee-btn'>批量添加员工</button>
          </div>   
          
          <div class="col-md-3 col-md-offset-4">
              <div class="input-group">
                <input type="text" class="form-control" id='TelInput' placeholder="搜索员工电话">
                  <span class="input-group-btn">
                     <button class="btn btn-info" id='search-tel' type="button">搜索</button>
                  </span>
              </div>
          </div>
      </div>
      <div id="employeesList"></div>
      </div>
  </div>
</div>


<script type="text/javascript">
$('#employeesList').load('<{:U("employeesList")}>');
    /**
     * 员工类型选择
     * @author 蒋东芸
     * 2014/4/15
     */
    $('#typeSelect').on('change',function(){
        var type = $('#typeSelect').val();
        var departmentId = $('#departSelect').val();
        $('#employeesList').load('<{:U("employeesList")}>',{'type':type,'departmentId':departmentId},function(){
            $('#typeSelect').val(type);
        });
    });
    /**
     * 部门类型选择
     * @author 蒋东芸
     * 2014/5/5
     */
    $('#departSelect').on('change',function(){
        var departmentId = $('#departSelect').val();
        var type = $('#typeSelect').val();
        $('#employeesList').load('<{:U("employeesList")}>',{'type':type,'departmentId':departmentId},function(){
            $('#departSelect').val(departmentId);
        });
    });

    /**
     * 绑定员工添加按钮
     * 2014/4/15
     * 蒋东芸
     */
    $('#addEmployeesBtn').on('click' , function(){
        editEmployee('add');
    });

    /**
     * 绑定批量上传员工信息
     *  @author 黄浩
     *  1、修改时间：2014/9/3
     */
    $("#upload-employee-btn").uploadify({
        swf           : '__PUBLIC__/uploadify/uploadify.swf',
        uploader      : '__MODULE__/Public/fileXls',
        buttonText    : '批量上传员工信息',
        method        : 'post',
        fileTypeExts  : '*.xlsx;*.xls',    
        onUploadSuccess    : empfunComplete  
    });
    
    /**
     * 上传发生事件
     * @author 黄浩
     * 修改时间：1、2014/9/3
     */
    function empfunComplete(file, data, response) {
        var obj = eval ("(" + data + ")");
              
        if(obj['Filedata']['ext']== "xlsx"){
            fileType = "Excel2007";
        }else if(obj['Filedata']['ext'] == "xls"){
            fileType = "Excel5";
        }
              
        var arr = {
            "fileName" : obj['Filedata']['savename'] ,
            "fileType" : fileType
        };  
        $.post("<{:U('uploadFile')}>" , arr , function (result){
    
            if(result["status"] == 0){
               if(result["telNum"]!=0||result["emailNum"]!=0){
                  alert("您有:"+result["telNum"]+"条电话格式不对,\n"+"您有："+
                    result["emailNum"]+"条Email格式不对,\n请核对电话格式和Email格式后再上传。");
                  $.scojs_message("上传失败！", $.scojs_message.TYPE_ERROR);
                }else{
                  $.scojs_message("上传成功！", $.scojs_message.TYPE_OK);
                  $('#employeesList').load('<{:U("employeesList")}>');
                }
            }else{
              $.scojs_message("上传失败！", $.scojs_message.TYPE_ERROR);
            }
        });
    }

     /**
     * 绑定手机号码搜索按钮
     *
     * 
     */

    $('#search-tel').on('click',function(){
        var tel = $('#TelInput').val().trim();
        $('#NameInput').val('');//设定员工搜索输入为空

        if(tel != ''){
            $('#employeesList').load('<{:U("employeesList")}>',{'tel':tel});
        }
        else{
            $.scojs_message('请输入要搜索的关键词',$.scojs_message.TYPE_ERROR);
        }
    });

    /**
     * 绑定员工搜索按钮
     * 2014/4/15
     * 蒋东芸
     */
    $('#search-btn').on('click',function(){
        var name = $('#NameInput').val().trim();
        $('#TelInput').val('');

        if(name != ''){
            $('#employeesList').load('<{:U("employeesList")}>',{'name':name});
           
        }
        else{
            $.scojs_message('请输入要搜索的关键词',$.scojs_message.TYPE_ERROR);
        }
    });

  
    /**
     * 绑定员工全部显示按钮
     * 2014/3/19
     * 蒋东芸
     */
    $('#reset-btn').on('click',function(){
        $('#Employee-content').load('<{:U("employees")}>');
    });

</script>