<div class="modal fade" id="advertEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">广告设置</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">选择企业：</label>
            <div class="col-sm-8">
              <select class="form-control" id="company-select" >
              <volist name='company' id='companyItem'>
                <option value='<{$companyItem.company_ecid}>'><{$companyItem.company_name}></option>
              </volist>
            </select>
            </div>
          </div>

          <div class="form-group">
            <label for="postion" class="col-sm-3 control-label">广告位：</label>
            <div class="col-sm-8">
              <select class="form-control sort-responseType" id="ad-select">
                <volist id="adItem" name="ad">
                  <option value="<{$adItem.id}>"><{$adItem.value}></option>
                </volist>
              </select>
            </div>
          </div>
         
        <div class="form-group">
          <label for="positon" class="col-sm-3 control-label">绑定品牌：</label>
          <div class="col-sm-8">
              <select class="form-control sort-responseType" id="brand-select">
            </select>
          </div>
        </div>

          <div class="form-group" id="advert_product">
            <label for="typeSelect" class="col-sm-3 control-label">绑定产品：</label>
            <div class="col-sm-8">
              <select class="form-control sort-responseType" id="product-select">
              </select>
            </div>
          </div>

          <div class="form-group" id="advert_dealerId">
            <label class="col-sm-3 control-label" for="typeSelect">经销商：</label>
            <div class="col-sm-8">
              <select class="form-control sort-responseType" id="dealer-select">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputActivityName" class="col-sm-3 control-label">上传图片：</label>
            <div class="col-sm-8"> 
                <input type='file' id='msg-img-input' class="form-control" multiple="true"/>
                <img src="<{$adArr.imgPath}>"  class="img-thumbnail" id='minImg' >  
                <if condition="$imgRule eq ''">建议2600*400
                  <else />
                  规格：<{$imgRule.width}>*<{$imgRule.height}>
                </if>
                
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="typeSelect" id="weburl">广告链接：</label>
            <div class="col-sm-8">
              <input class="form-control" name="ad-linkUrl" id="ad-linkUrl" value="<{$adArr.linkUrl}>">
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="advertHandle('add')">确认</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var adArr = <{:json_encode($adArr)}>;

    $("#msg-img-input").uploadify({
            swf           : '__PUBLIC__/uploadify/uploadify.swf',
            uploader      : '__MODULE__/Public/file',
            buttonText    : '点击上传图片',
            method        : 'post',
            onUploadSuccess    : funMinImgComplete,
            onUploadStart :  readyMinUpload
        });

    //图片上传前事件
    function readyMinUpload(file){
      var old = adArr['imgPath'];

      var old = getFileName(old);
      
      if(old){
        var params = {
            timestamp : '<{$timestamp}>',
            token     : '<{$token}>',
            oldFile   : old
          }
        $("#msg-img-input").uploadify("settings", "formData", params);
      }
    }

    //图片上传发生的事件
    function funMinImgComplete(file, data, response) {
      var obj = eval ("(" + data + ")");
      if(obj['code'] != 0){
        $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
        return;
      }else{
        $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
        var imgUrl = obj['imgUrl'];
        if(imgUrl){
            $('#minImg').attr('src', imgUrl);
            $('#minImg').show();

            adArr['imgPath'] = imgUrl;
          }
      }
    }

    getBrand();
    getDealer();

    /**
     * 绑定企业选择按钮
     * @author 黄浩
     * 2014/7/17
     */
    $("#company-select").on('change',function(){
      getBrand();
    });

    /**
     * 绑定品牌选择按钮
     * @author 黄浩
     * 2014/7/17
     */
    $("#company-select").on('change',function(){
      getDealer();
      });

    /**
     * 绑定品牌选择按钮
     * @author 黄浩
     * 2014/7/17
     */
    $("#brand-select").on('change',function(){
      getProduct();
    });

    /**
     * 
     * 获取品牌
     * @author 黄浩
     * 2014/7/23
     */
    function getBrand(){
       var companyArr = {
        'ecid':$("#company-select").val()
      };
      $.post('<{:U('getCompanyBrand')}>',companyArr,function(data){
        if (data == null||data.length == 0) {
          $("#advert_product").hide();
        }else{
          $("#advert_product").show();
        }
        var selectObj = document.getElementById("brand-select");
        selectObj.options[0] = new Option('全部', '-1');
        selectObj.options.length = 1;
        for(var i=0;i<data.length;i++){ 
          selectObj.options[selectObj.length] = new Option(data[i]["name"], data[i]["id"]);
        };

        if(adArr['handleType'] == 'edit'){
          $('#brand-select').val(adArr['brandId']);
        }
        getProduct();
      });
    }
    /**
     * 获取经销商
     * @author 黄浩
     * 2014-7-23
     */
    function getDealer(){
      var dealerArr = {
        'ecid':$("#company-select").val()
      };
      $.post('<{:U('getDealer')}>',dealerArr,function(data){
        if (data == null||data.length == 0) {
          $("#advert_dealerId").hide();
        }else{
          $("#advert_dealerId").show();
        }
        var selectObj = document.getElementById("dealer-select");
          selectObj.options[0] = new Option('全部', '-1');
          selectObj.options.length = 1;
          for(var i=0;i<data.length;i++){ 
            selectObj.options[selectObj.length] = new Option(data[i]["name"], data[i]["id"]);
          };

          if(adArr['handleType'] == 'edit'){
            $('#dealer-select').val(adArr['dealerId']);
          }
        });
      }

    /**
     * 获取产品信息
     * @author 黄浩
     * 2014-7-23
     */
    function getProduct(){
      var productArr = {
        'brandId':$("#brand-select").val()
      };
      $.post('<{:U('getProduct')}>',productArr,function(data){
        var selectObj = document.getElementById("product-select");
        selectObj.options[0] = new Option('全部', '-1');
          selectObj.options.length = 1;
        for(var i=0;i<data.length;i++){ 
          selectObj.options[selectObj.length] = new Option(data[i]["name"], data[i]["id"]);
        }

        if(adArr['handleType'] == 'edit'){
          $('#product-select').val(adArr['productId']);
        }
      });
    }
    
    /**
     * 绑定确定按钮
     * @param  {[type]} type  操作方式
     * @author 黄浩 2014-7-23
     */
    function advertHandle(type){
      
      if($('#brand-select') == ""){
        $.scojs_message('请选择品牌', $.scojs_message.TYPE_ERROR);
        return;
      }
      if($('#product-select').val() == ""){
        $.scojs_message('请选择产品', $.scojs_message.TYPE_ERROR);
        return;
      }
      
      if($('#ad-select').val() == ""){
        $.scojs_message('请选择广告位', $.scojs_message.TYPE_ERROR);
        return;
      } 

      if(adArr['imgPath'] == "") {
         $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
        return;
      }
      
      if($('#ad-linkUrl').val() == ""){
        $.scojs_message('请添加网站链接', $.scojs_message.TYPE_ERROR);
        return;
      } 

      if(type =='add'){
          adArr['ecid'] = $('#company-select').val().trim();
          adArr['brandId'] = $('#brand-select').val().trim();
          adArr['productId'] = $('#product-select').val().trim();
          adArr['dealerId'] = $('#dealer-select').val().trim();
          adArr['linkUrl'] = $("#ad-linkUrl").val().trim();
          adArr['adId'] = $("#ad-select").val().trim();
          dealerHandle();
      }     
    }
    /**
     * 判断操作方式是否为编辑。
     * 如果是，将各个数据赋值给页面。
     */
    if(adArr['handleType'] == 'edit'){
      $('#company-select').val(adArr['ecid']);
      getBrand();
      getDealer();
    }
</script> 