<extend name="nifty:Public:Base" />
<block name="title">
    自定义菜单 | E码互联企业管理后台
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="content">
    <div id="main">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control">
                    <button class="btn btn-default button-a" data-target="#appTokenForm" data-toggle="collapse" id="edit-appToken-btn">
                        <i class="fa fa-edit"></i>编辑
                    </button>
                </div>
                <h3 class="panel-title">接口信息</h3>
            </div>
            <!-- <a href="javascript:void(0)" type="btn" class="pull-right button-a" id="edit-appToken-btn"><i class="fa fa-edit fa-fw" ></i>编辑</a> -->
            <div class='collapse in' id='appTokenForm'>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div for="appIdInput" class="input-group-addon">AppId</div>
                            <input type="text" class="form-control" id="appIdInput" placeholder="输入AppId" value="<{$appToken['weixin_AppId']}>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div for="appSecretInput" class="input-group-addon">AppSecret</div>
                            <input type="text" class="form-control" id="appSecretInput" placeholder="输入AppSecret" value="<{$appToken['weixin_AppSecret']}>">
                        </div>
                    </div>
                    <button class="btn btn-info" id='save-token-btn'>保存</button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading"><h3 class="panel-title">自定义菜单设置</h3></div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    说明：
                    <p>可创建最多 3 个一级菜单，每个一级菜单下可创建最多 5 个二级菜单。编辑中的菜单不会马上被用户看到，请放心调试。</p>
                    <p>目前自定义菜单最多包括3个一级菜单，每个一级菜单最多包含5个二级菜单。一级菜单最多4个汉字，二级菜单最多7个汉字，多出来的部分将会以“...”代替。请注意，创建自定义菜单后，由于微信客户端缓存，需要24小时微信客户端才会展现出来。</p>
                </div>
                <table class="table table-bordered" style="table-layout:fixed;border-radius: 4px !important;">
                    <thead>
                      <tr style="border-radius: 1px;">
                        <th width="250">
                            <span style="line-height:35px;"><i class="fa fa-thumb-tack"></i> 菜单管理</span>
                            <a href="javascript:void(0)" class="btn btn-info pull-right" id='add-root-btn'><i class="fa fa-plus"></i> 添加</a>
                        </th>
                        <th style="line-height:35px;"><i class="fa fa-wrench"></i> 设置动作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr height="400">
                        <td id='menu-list'>
                        </td>
                        <td id='menu-reply'></td>
                      </tr>
                      <tr>
                        <td colspan="2" class='active'>
                            <button type='button' class='btn btn-info' id='release-btn'>发布菜单</button>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">菜单名：</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputMenuName" placeholder="在此输入菜单名">
                    </div>
                  </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id='add-comfom-btn'>确定</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</block>

<block name="footer-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/Public.js"></script>
    <script src="__PUBLIC__/nifty/js/jquery-ui.js"></script>
    <script type="text/javascript">    
      $('#group-wx').addClass('active-sub');
      $('#group-wx .collapse').addClass('in');
      $('#menu-wx-menu').addClass('active-link');
        $('#menu-diy').addClass("active");

        var token = {
            'weixin_AppId' : "<{$appToken['weixin_AppId']}>",
            'weixin_AppSecret' : "<{$appToken['weixin_AppSecret']}>",
            'company_ecid' : <{$appToken['company_ecid']}>
        }

        <if condition="$appToken != ''"> 
            $('#appTokenForm').hide();
            $('#menu-list').load('__MODULE__/Menu/refreshMenu');
        <else /> 
            $('#appTokenForm').show();
        </if>

        $('#edit-appToken-btn').on('click', function(){
            $('#appTokenForm').toggle();
        })

        $('#save-token-btn').on('click', function(){
            if(token['weixin_AppId'] == ""){
                alert("请输入AppId");
                return;
            }

            if(token['weixin_AppSecret'] == ""){
                alert("请输入AppSecret");
                return;
            }
            
            $.post(
                "__MODULE__/Menu/editTokenHandle",
                token,
                function(data, textStatus){
                    if(data['data'] > 0){
                        $('#appTokenForm').hide();
                        $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
                    }
                });
        })

        //模态框隐藏时取消绑定事件
        $('#add-modal').on('hidden.bs.modal', function (e) {
            $('#add-comfom-btn').off();
        });

        $('#appIdInput').on('change', function(){
            token['weixin_AppId'] = $(this).val();
        })
        $('#appSecretInput').on('change', function(){
            token['weixin_AppSecret'] = $(this).val();
        })

        //修复问题编号23，弹出框隐藏时清空输入框
        $('#add-modal').on('hidden.bs.modal', function (e) {
            $('#inputMenuName').val('');
        })

        $('#add-modal').on('hidden.bs.modal' , function(e){
            $("#inputMenuName").off();
        });

        $('#add-root-btn').on('click', function(){
            $('#add-modal').find('.modal-title').text('添加一级菜单');
            $('#add-modal').modal('show');

            //检验菜单名称长度
            $("#inputMenuName").on('keyup' , function(){
                checkLength("inputMenuName" , 4);
            });

            var params= {
                rootId : -1
            };

            $('#add-comfom-btn').on('click', function(){
                if($('#inputMenuName').val().trim() == ""){
                    alert("请输入菜单名");
                    return;
                }

                if($('#inputMenuName').val().trim().length > 4){
                    alert("一级菜单最多输入四个字");
                    return;
                }

                params['name'] = $('#inputMenuName').val();

                $.post(
                    '<{:U("Menu/addMenuHandle")}>',
                    params,
                    function(data, textStatus){
                        if(data['data'] === 0){
                            $('#menu-list').load('__MODULE__/Menu/refreshMenu');
                            $('#add-modal').modal('hide');
                            $('#inputMenuName').val('');
                            $('#add-comfom-btn').off();
                        }
                        else{
                            // $('#add-modal').modal('hide');
                            $('#add-modal').on('hidden.bs.modal', function () {
                            $('#add-comfom-btn').off();
                            });
                            $('#inputMenuName').val('');
                            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                        }
                    })
            })
        });

        $('#menu-list').on('click', '.add-icon', function(){
            $('#add-modal').find('.modal-title').text('添加二级菜单');
            $('#add-modal').modal('show');

            //检验菜单名称长度
            $("#inputMenuName").on('keyup' , function(){
                checkLength("inputMenuName" , 7);
            });

            var item = $(this).parent().parent();
            var idArr = item.attr('id').split("-");

            var params= {
                rootId : idArr[2]
            };

            $('#add-comfom-btn').on('click', function(){
                if($('#inputMenuName').val().trim() == ""){
                    alert("请输入菜单名");
                    return;
                }

                if($('#inputMenuName').val().trim().length > 7){
                    alert("二级菜单最多输入七个字");
                    return;
                }

                params['name'] = $('#inputMenuName').val();

                $.post(
                    '<{:U("Menu/addMenuHandle")}>',
                    params,
                    function(data, textStatus){
                        if(data['data'] === 0){
                            $('#menu-list').load('__MODULE__/Menu/refreshMenu');
                            $('#add-modal').modal('hide');
                            $('#inputMenuName').val('');
                            $('#add-comfom-btn').off();
                        }
                        else{
                            // $('#add-modal').modal('hide');
                            $('#add-modal').on('hidden.bs.modal', function () {
                            $('#add-comfom-btn').off();
                            });
                            $('#inputMenuName').val('');
                            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);

                        }
                    })
            })
        })

        function editMenuName(obj , textLength){
            $('#add-modal').find('.modal-title').text('修改菜单名称');
            $('#add-modal').modal('show');
            //修复问题编号25，修改时在输入框加入原有的值
            $('#inputMenuName').val($.trim($(obj).parent().text()));

            //检验菜单名称长度
            $("#inputMenuName").on('keyup' , function(){
                checkLength("inputMenuName" , textLength);
            });

            var item = $(obj).parent().parent();
            var itemA = $(obj).parent();
            var idArr = item.attr('id').split("-");

            var params= {
                id : idArr[2]
            };

            $('#add-comfom-btn').on('click', function(){
                if($('#inputMenuName').val().trim() == ""){
                    alert("请输入菜单名");
                    return;
                }

                params['name'] = $('#inputMenuName').val();

                $.post(
                    '<{:U("Menu/editMenuHandle")}>',
                    params,
                    function(data, textStatus){
                        if(data['data'] === 0){
                            window.location.reload();
                            itemA.find('.menu-name').text($('#inputMenuName').val())
                            $('#add-modal').modal('hide');
                            $('#inputMenuName').val('');
                            $('#add-comfom-btn').off();
                        }
                        else{
                            $('#add-modal').modal('hide');
                            $('#add-comfom-btn').off();
                            $('#inputMenuName').val('');
                            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                        }
                    })
            })
        }

        $('#release-btn').on('click', function(){
            $(this).button('正在发布...');
            $.post(
                '<{:U("Menu/releaseMenuHandle")}>',
                {},
                function(data, textStatus){
                    if(data['data'] === 0){
                        $.scojs_message(data['info'], $.scojs_message.TYPE_OK);
                        $(this).button('发布菜单');
                    }else{
                        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                        $(this).button('发布菜单');
                    }
                })
        })
    </script>
</block>