<table class="table table-striped">
	<thead>
		<tr>
			<th>新闻标题</th>
			<th>选择</th>
		</tr>
	</thead>
	<tbody>
		<volist name="news" id="item" key='k'>
			<tr>
				<td>
					<div id="title-<{$item.id}>"><{$item.title}></div>
				</td>
				<td>
					<button class="btn btn-mint selectBtn" id="select-<{$item.id}>">选择</button>
				</td>
			</tr>								
		</volist>
	</tbody>
</table>
<div class='text-center'  id="page">
	<ul class="pagination"><{$page}></ul>
</div>
<script type="text/javascript">
	var arr={
		'ecid':'<{$ecid}>'
	};
	$("#page > ul > li > a").on('click' ,function()
	{
		var _HREF = $(this).attr('href');

	    //加载页面
	    if(arr==''){
	    	$("#newsList").load(_HREF);
	    }
	    else{
	    	$("#newsList").load(_HREF,arr);
	    }
	        
	    return false;
	});	

	$('.selectBtn').on('click',function(){
		var divId = $(this).attr('id');
		var arr = divId.split('-');
		var id = arr[1];

		var title = $('#title-'+id).html();

		$('#view_material-modal').modal('hide');
		menu['linkURL'] = 'http://www.msa12365.com/Index/news/id/'+id;
		viewArr['news'] = id;
		$('#view_material-url').val(title);
		
	});
</script>