<ul class="nav sortable" id='menu-li-ul'>
    <volist name="menuArr" id="item" key='i'>
        <li style="border-bottom: 1px solid #CCC;" id='root-menu-<{$item.id}>' class='root-menu-li'>
            <a href="javascript:void(0)" class='name menuName' id="name-<{$item.id}>">
                <i class="fa fa-list"></i>
                <span class='menu-name'><{$item.name}></span>
                <span class="glyphicon glyphicon-remove pull-right del-icon icon">&nbsp;</span>
                <span class="glyphicon glyphicon-edit pull-right edit-icon icon" onclick="editMenuName(this , 4)">&nbsp;</span>
                <span class="glyphicon glyphicon-plus pull-right add-icon icon">&nbsp;</span>
            </a>
            <ul class="nav sortable" id="navName-<{$item.id}>">
                <volist name="item['subitem']" id='subItem' key='j'>
                    <li id='menu-sub-<{$subItem.id}>' style='padding-left:10px;'>
                        <a href="javascript:void(0)" class='name'>
                            <i class="fa fa-hand-o-right"></i>
                            <span class='menu-name'><{$subItem.name}></span>
                            <span class="glyphicon glyphicon-remove pull-right del-icon icon"></span>
                            <span class="glyphicon glyphicon-edit pull-right edit-icon icon" onclick="editMenuName(this , 7)">&nbsp;</span>
                        </a>
                    </li>
                </volist>
            </ul>
        </li>
    </volist>
</ul>
<script>
    $('.sortable').sortable({
        update: function (event, ui) {
            var rootDIV   = $(this).attr('id');
            var rootIdArr = rootDIV.split('-');
            var rootId    = rootIdArr[1];
            if(rootId == 'li'){
                rootId = -1;
            }
            var data      = $(this).sortable('serialize');
            var params = {
                obj : data,
                rootId:rootId
            }
            $.post(
                "<{:U('Menu/saveMenu')}>",
                params,
                function(data, textStatus){
                    if(data.data === 0){
                        $.scojs_message(data.info, $.scojs_message.TYPE_OK);
                    }else{
                        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                    }
                }); 
        }
    });
    // $( ".sortable" ).disableSelection();

    $('.icon').hide();
    $('#menu-li-ul').on('mouseover','.name', function(){
        $(this).find('.icon').show();
    });
    $('#menu-li-ul').on('mouseleave','.name', function(){
        $(this).find('.icon').hide();
    });

    $('#menu-li-ul').on('click', '.del-icon', function(event){
        //修复问题编号28
        if(confirm("是否确认删除菜单（如删除一级菜单将会将此一级菜单下的所有二级菜单删除！）")){
            var item = $(this).parent().parent();
            var idArr = item.attr('id').split("-");

            switch(idArr[0]){
                case 'root':
                    var params = {
                        id : idArr[2],
                        rootId : 1
                    }
                    break;
                case 'menu':
                    var params = {
                        id : idArr[2],
                        rootId : 0
                    }
                    break;
            }

            $.post(
                "<{:U('Menu/delMenuHandle')}>",
                params,
                function(data, textStatus){
                    if(data['data'] === 0){
                        item.remove();
                    }
                    else{
                        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                    }
                }) 

            $('#menu-reply').empty();
            event.stopPropagation();
        }
    })

    $('#menu-li-ul').on('click', '.name', function(){
        var itemLi = $(this).parent();
        var idArr = itemLi.attr('id').split("-");

        $('.name').removeClass('item-active');
        $(this).addClass('item-active');

        var params = {
            id : idArr[2]
        }
        $('#menu-reply').load(
            '<{:U('Menu/showEditHtml')}>',
            params, function(){});
    });

    //菜单内容折叠显隐
    $('.menuName').on('click',function(){
        var divId = $(this).attr('id');
        var arr = divId.split('-');
        var id = arr[1];

        $('#navName-'+id).toggle();
    });

</script>   