<if condition="$menu['rootId']==-1 && $menu['hasSub']==1"> 
	<h4 class='text-center'>此一级菜单包含二级菜单，不可编辑！</h4>
<else /> 
	<p>
		<div class="form-group">
			<label for="exampleInputEmail1">回复类型：</label>
			<select class="form-control sort-type">
				<option value="text">文本信息</option>
				<option value="news">图文素材</option>
				<option value="view">浏览网页</option>
				<option value="qrcode">扫描二维码</option>
			</select>
		</div>
		<div id="viewSel" style="display:none;">
			<div class="form-group">
				<select class="form-control" id="viewSelect">
					<option value="view_define">自定义</option>
					<option value="view_material">新闻</option>
					<option value="fw_check">防伪验证</option>
				</select>
			</div>
			<div class="form-group">				
				<div id="view_define-content" style="display:none;">						
					<div class="input-group mar-btm">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button">http://</button>
						</span>
						<input type="text" placeholder="请输入网址" class="form-control" id="view_define-url">
					</div>
				</div>
				<div id="view_material-content" style="display:none;">						
					<div class="input-group mar-btm">
						<span class="input-group-btn">
							<button class="btn btn-info" id="relect" type="button">新闻</button>
						</span>
						<input type="text" class="form-control" id="view_material-url" disabled>
					</div>
				</div>
			</div>
		</div>
	</p>
	<p>
		<div id="reply-content"></div>
	</p>
	<p>
		<button class='btn btn-info pull-right' id='save-btn'>保存修改</button>
	</p>

    <div class="modal fade" id="view_material-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            	<h4 class="modal-title">新闻选择</h4>
          	</div>
          	<div class="modal-body">            
				<div class="table-responsive">
					<div id="newsList"></div>
				</div>
          	</div>
          	<div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          	</div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	<script>
		var menu = <{:json_encode($menu)}>;	
		var newIndex = 0;
		var viewArr = {
			'type':'view_define',
			'news':''
		};

		if(menu['responseType'] == null)
			menu['responseType'] = 'text';

		$('.sort-type').val(menu['responseType']);	

		function changeType(type){
			switch(type){
	            case 'text':
	                $('#reply-content').load("__MODULE__/Ajax/textInput",
	                    {
	                        p:"menu['responseText']",
	                        v:menu['responseText']
	                    });
	                break;
	            case 'news':
	                if(menu['responseMaterialId'])
	                    $('#reply-content').load("__MODULE__/Ajax/newsChange",
	                        {
	                            p:"menu['responseMaterialId']",
	                            cId:"reply-content",
	                            id:menu['responseMaterialId'],
                            	ecid:"<{$ecid}>"
	                        });
	                else
	                    $('#reply-content').load("__MODULE__/Ajax/newsChange",
	                        {
	                            p:"menu['responseMaterialId']",
	                            cId:"reply-content",
                            	ecid:"<{$ecid}>"
	                        });
	                break;
	            case 'check_prize':
	            	$('#reply-content').load("__MODULE__/Ajax/activitySelect" , {
	            		p:"menu['informKeyword']",
	            		menuId:"<{$menuId}>"
	            	});
	                break;
	            case 'view':
	            	$('#viewSel').show();
	            	if(menu['view_attr']){
						var viewValue = menu['view_attr']; 
						$('#viewSelect').val(viewValue['type']);
	            		$('#'+viewValue['type']+'-content').show(); 
	            		if(viewValue['type'] == 'view_define'){
	            			$('#view_define-url').val(menu['linkURL'].substring(7));
	            			$('#view_material-content').hide(); 
	            		}else if(viewValue['type'] == 'view_material'){
	            			$('#view_material-url').val(viewValue['title']);
	            			$('#view_define-content').hide(); 
	            		}else{
	            			$('#view_define-content').hide(); 
	            			$('#view_material-content').hide();
	            			viewArr['news'] = '<{$ecid}>';
	            		}
						
						viewArr['type'] = viewValue['type'];
					}else{
						$('#view_define-content').show();
						$('#view_material-content').hide(); 
						$('#view_define-url').val(menu['linkURL'].substring(7));
						viewArr['type'] = 'view_define';
					}
	                break;
	            case 'information':
	            	menu['keyword'] = "<-new->";
	            	$('#reply-content').empty();
	            	break;
	            case 'report':
	            	$('#reply-content').empty();
	            	break;
	            case 'service':
	            	menu['keyword'] = "<-new->";
	            	$('#reply-content').empty();
	            	break;
	            case 'mall':
	            	$('#reply-content').load("__MODULE__/Ajax/mallSelect" , {} , function(){
	            		$("#selectMallType").val(menu['mall_keyword']);
	            		menu['mall_keyword'] = $("#selectMallType").val();
	            	});
	                break;
	            case 'vip':
	            	$('#reply-content').load("__MODULE__/Ajax/vipSelect" , {} , function(){
	            		$("#selectVipType").val(menu['vip_keyword']);
	            		menu['vip_keyword'] = $("#selectVipType").val();
	            	});
	                break;
	            case 'activity':
	            	$('#reply-content').load("__MODULE__/Ajax/activityAllSelect",
	                    {
	                        p:"menu['activityId']",
	                        v:menu['activityId']
	                    });
	                break;
	        }
		}

		changeType(menu['responseType']);

		$('.sort-type').on('change',function(){			
			menu['responseType'] = $('.sort-type').val();
			if(menu['responseType'] != 'view'){
				$('#viewSel').hide();
			}
			$('#reply-content').html('');
			changeType(menu['responseType']);				
		});

		$('#viewSelect').on('change',function(){
			var view = $('#viewSelect').val();
			$('#'+view+'-content').show();
			viewArr['type'] = view;
			if( view == 'view_material'){
	        	$('#view_define-content').hide();
	        	$('#view_material-modal').modal('show');
	        	$('#newsList').load('__MODULE__/Menu/newsList');
	        }else if( view == 'view_define'){
				$('#view_material-content').hide();
	        }else{
	        	$('#view_define-content').hide();
	        	$('#view_material-content').hide();
	        }
		});

		//重选择新闻素材操作处理
		$('#relect').on('click',function(){
			$('#view_material-modal').modal('show');
			$('#newsList').load('__MODULE__/Menu/newsList');
		});
		

		$('#save-btn').on('click', function(){
			//修复问题编号27 添加对空值的判断
			switch(menu['responseType']){
				case 'text':
					if(menu['responseText'] === '' || menu['responseText'] === null){
						$.scojs_message('请输入回复的文本信息！', $.scojs_message.TYPE_ERROR);
						return;
					}
					break;
				case 'news':
					if(menu['responseMaterialId'] === null || menu['responseMaterialId']==='0'){
						$.scojs_message('请选择回复的图文信息！', $.scojs_message.TYPE_ERROR);
						return;
					}
					break;
				case 'view':
					if(viewArr['type'] =='view_define'){
						menu['linkURL'] = 'http://'+$('#view_define-url').val();
						viewArr['news']  = menu['linkURL'];

						if(menu['linkURL'] == ''){
							$.scojs_message('请输入浏览网址！', $.scojs_message.TYPE_ERROR);
							return;
						}
					}					

					if(menu['linkURL'] == '' && viewArr['type'] =='view_material'){
						$.scojs_message('请选择新闻！', $.scojs_message.TYPE_ERROR);
						return;
					}
					break;

			}
			if(menu['responseType'] == "check_prize"){
				if(menu['informKeyword'].length == 0){
					$.scojs_message("请选择活动", $.scojs_message.TYPE_ERROR);
					return;
				}
			}
			menu['view_attr'] = viewArr;

			$.post(
				'<{:U('Menu/editMenuHandle')}>',
				menu,
				function(data, textStatus){
					if(data['data'] === 0){
                    	$.scojs_message(data['info'], $.scojs_message.TYPE_OK);
	                }
	                else{
	                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
	                }
				})
		});
	</script>
</if>