<div class="row" style="margin-top:20px;">
  <div class="col-md-4">
        <select class="form-control" id='codeSelect'>
            <option value='all'>全部</option>
            <volist name='name' id='item'>
                <option value='<{$item.company_ecid}>'><{$item.company_name}></option>
            </volist>
        </select>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-default" id='upload-user-btn'>上传防伪码</button>
    </div>
</div>

<script type="text/javascript">
var arr={
  ecid:''
};
$('#codeSelect').on('change',function(){
  arr['ecid']=$(this).val();
});
$("#upload-user-btn").uploadify({
                  swf           : '__PUBLIC__/uploadify/uploadify.swf',
                  uploader      : '__MODULE__/Public/fwcodetxt',
                  buttonText    : '上传防伪码',
                  fileTypeExts  : '*.txt;*.xls', 
                  method        : 'post',   
                  timestamp     : '<{$timestamp}>',
                  token         : '<{$token}>',
                  uploadReplace : true,
                  onUploadSuccess    : funComplete  
              });
   //图片上传发生的事件
  function funComplete(file, data, response) {
   
      if(data['code'] == 0){
        $.scojs_message("上传文件失败！", $.scojs_message.TYPE_ERROR);
        return;
      }

     $.post("<{:U('updatefwcode')}>" , arr , function (result){
        if(result){
          $.scojs_message("添加防伪码成功！", $.scojs_message.TYPE_OK);
        }else{
          $.scojs_message(result["info"], $.scojs_message.TYPE_ERROR);
        }
      });
     
  }
</script>