<div id="page<{$rand}>">
    <ul class="pagination"><{$page}></ul>
</div>
<div class="row">
    <div class="col-md-4">
        <volist name="newsArr" id='item' mod="3" key='i'>
            <eq name="mod" value="0">
                <div class="news-one" id="material-<{$item.groupId}>">
                    <table class="table table-bordered">
                        <eq name="item['multiple']" value="0">
                            <tbody>
                                <tr>
                                    <td colspan='2'>
                                        <{$item['addTime']}>
                                        <h5 style="word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                        <div style="background:url(<{$item['Result'][0]['newsImg']}>) no-repeat center center;width:100%;height:150px;border-radius: 6px;"></div>
                                        <!-- <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded"> -->
                                    </td>
                                </tr>
                            </tbody>
                        </eq>
                        <eq name="item['multiple']" value="1">
                            <tbody>
                                <tr>
                                    <td colspan='2'>
                                        <{$item['addTime']}>
                                        <h5 style="word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                        <div style="background:url(<{$item['Result'][0]['newsImg']}>) no-repeat center center;width:100%;height:150px;border-radius: 6px;"></div>
                                        <!-- <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded"> -->
                                    </td>
                                </tr>
                                <volist name="item['Result']" id='materialItem' offset="1" key='j'> 
                                    <tr>
                                        <td colspan='2'>
                                            <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                            <h5 style="width:180px;word-break:break-all;"><{$materialItem['title']}></h5>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </eq>
                    </table>
                </div>
            </eq>
        </volist>
    </div>
    <div class="col-md-4">
        <volist name="newsArr" id='item' mod="3" key='i'>
            <eq name="mod" value="1">
                <div class="news-one" id="material-<{$item.groupId}>">
                    <table class="table table-bordered">
                        <eq name="item['multiple']" value="0">
                            <tbody>
                                <tr>
                                    <td colspan='2'>
                                        <{$item['addTime']}>
                                        <h5 style="word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                        <div style="background:url(<{$item['Result'][0]['newsImg']}>) no-repeat center center;width:100%;height:150px;border-radius: 6px;"></div>
                                        <!-- <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded"> -->
                                    </td>
                                </tr>
                            </tbody>
                        </eq>
                        <eq name="item['multiple']" value="1">
                            <tbody>
                                <tr>
                                    <td colspan='2'>
                                        <{$item['addTime']}>
                                        <h5 style="word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                        <div style="background:url(<{$item['Result'][0]['newsImg']}>) no-repeat center center;width:100%;height:150px;border-radius: 6px;"></div>
                                        <!-- <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded"> -->
                                    </td>
                                </tr>
                                <volist name="item['Result']" id='materialItem' offset="1" key='j'> 
                                    <tr>
                                        <td colspan='2'>
                                            <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                            <h5 style="width:180px;word-break:break-all;"><{$materialItem['title']}></h5>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </eq>
                    </table>
                </div>
            </eq>
        </volist>
    </div>
    <div class="col-md-4">
        <volist name="newsArr" id='item' mod="3" key='i'>
            <eq name="mod" value="2">
                <div class="news-one" id="material-<{$item.groupId}>">
                    <table class="table table-bordered">
                        <eq name="item['multiple']" value="0">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <{$item['addTime']}>
                                        <h5 style="word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                        <div style="background:url(<{$item['Result'][0]['newsImg']}>) no-repeat center center;width:100%;height:150px;border-radius: 6px;"></div>
                                        <!-- <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded"> -->
                                    </td>
                                </tr>
                            </tbody>
                        </eq>
                        <eq name="item['multiple']" value="1">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <{$item['addTime']}>
                                        <h5 style="word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                        <div style="background:url(<{$item['Result'][0]['newsImg']}>) no-repeat center center;width:100%;height:150px;border-radius: 6px;"></div>
                                        <!-- <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded"> -->
                                    </td>
                                </tr>
                                <volist name="item['Result']" id='materialItem' offset="1" key='j'> 
                                    <tr>
                                        <td colspan="2">
                                            <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                            <h5 style="width:180px;word-break:break-all;"><{$materialItem['title']}></h5>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </eq>
                    </table>
                </div>
            </eq>
        </volist>
    </div>
    </div>
<script>

$("#page<{$rand}> > ul > li > a").click(function()
    {
        var _HREF = $(this).attr('href'); 
       //加载页面
        $("#<{$ajaxClassID}>").load(_HREF,{"ecid":'<{$ecid}>'});                       
        return false;
    });

$(".news-one").on("click", function(){
        noChange = false;
        isChange<{$responseId}> = 1;    
    var arrItem = $(this).attr('id').split("-");
    if(arrItem[1] !== <{$param}>){
        if(<{$param}> !== ''){
            $('#material-'+ <{$param}>).removeClass('item-select');
        }

        $(this).addClass('item-select');

        <{$param}> = arrItem[1];
    }
});

</script>