<form role="form" id="form-<{$response['id']}>">
  <div class="row">
      <div class="col-md-12">
          <div class="form-group">
              <label>规则名：</label>
              <input type="text" class="form-control name" placeholder="在此输入规则名,字符限于60" value="<{$response['name']}>" maxlength="60">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label>关键词：</label>
              <div class="input-group">
                <input type="text" class="form-control input-keyword" placeholder="在此输入关键词，限于30个字符" maxlength="30">
                <span class="input-group-btn">
                  <button class="btn btn-default add-keyword" type="button">添加</button>
                </span>
              </div><!-- /input-group -->
          </div>
          <ul class="list-group list<{$response['id']}>">
            <volist name="response['keyword']" id='word'> 
              <li class="list-group-item" >
                <div class="row">
                  <div class="col-md-10"><{$word}></div>
                  <div class="col-md-1" id='<{$response['id']}>-<{$i-1}>'>
                    <span class="glyphicon glyphicon-remove pull-right close close-keyword-btn">
                    </span>
                  </div>
                </div>
              </li>
            </volist>
          </ul>
      </div>
      <div class="col-md-8">
          <div class="form-group">
              <label for="exampleInputEmail1">回复类型：</label>
              <select class="form-control sort-responseType">
                <option value="text">文本信息</option>
                <option value="news">图文素材</option>
              </select>
          </div>
          <div class='response-content' id="response-<{$response['id']}>" maxlength='300' placeholder="在此输入回复内容,字符限于300">

          </div>
      </div>
  </div>
  <p class="text-right">
    <button type="button" class="btn btn-primary btn-edit-save" style="margin-top:10px;">保存修改</button>
    <button type="button" class="btn btn-default btn-edit-cancle" style="margin-top:10px;">收起</button>
  </p>
</form>

<script type="text/javascript">
  var response<{$response['id']}> = <{:json_encode($response)}>;
  var isChange<{$response['id']}> = 0;
  _G('#form-<{$response['id']}>', '.sort-responseType').val('<{$response['responseType']}>');

  //绑定删除按钮事件
  $('#form-<{$response['id']}>').on('click', '.close-keyword-btn',delKeyword);

  function changeType(type){
    switch(type){
      case 'text' :
        _G('#form-<{$response['id']}>', '.response-content').load("__MODULE__/Ajax/textInput",
          {
            p:"response<{$response['id']}>['textContent']",
            v:response<{$response['id']}>['textContent']
          } , function(){
            _G('#form-<{$response['id']}>', '.response-content').on('change' , function(){
              isChange<{$response['id']}> = 1;
            });
          });
        break;
      case 'news' :
        if(response<{$response['id']}>['materialId'])
          _G('#form-<{$response['id']}>', '.response-content').load("__MODULE__/Ajax/newsChange",
            {
              p:"response<{$response['id']}>['materialId']",
              cId:"response-<{$response['id']}>",
              id:response<{$response['id']}>['materialId'],
              ecid:"<{$ecid}>",
              responseId:"<{$response['id']}>"
            });
        else
          _G('#form-<{$response['id']}>', '.response-content').load("__MODULE__/Ajax/newsChange",
            {
              p:"response<{$response['id']}>['materialId']",
              cId:"response-<{$response['id']}>",
              ecid:"<{$ecid}>"
            });
        break;
    }
  }

  changeType(_G('#form-<{$response['id']}>', '.sort-responseType').val());

  function delKeyword(event){
    var arr1 = $(this).parent().attr('id').split("-");
    response<{$response['id']}>['keyword'].splice(arr1[1],1);

    isChange<{$response['id']}> = 1;
    
    //重新设置关键词列表
    var htmlContent = '';
    for(i=0; i<response<{$response['id']}>['keyword'].length; i++ ){
      htmlContent += "<li class='list-group-item' >"+"<div class='row'>" +"<div class='col-md-10'>"+response<{$response['id']}>['keyword'][i]+ "</div>"+"<div class='col-md-1' id='<{$response['id']}>-" +i+"'>"+ "<span class='glyphicon glyphicon-remove pull-right close close-keyword-btn'></span></li>"
    }
    $('.list<{$response['id']}>').html(htmlContent);
  }

  //绑定添加关键词按钮事件
  _G('#form-<{$response['id']}>', '.add-keyword').on('click', function(){
    var index = response<{$response['id']}>['keyword'].length;

    var keyword = _G('#form-<{$response['id']}>', '.input-keyword').val().trim();

    if(keyword !== '' && $.inArray(keyword, response<{$response['id']}>['keyword']) === -1){
      response<{$response['id']}>['keyword'].push(keyword);

      isChange<{$response['id']}> = 1;

      $('.list<{$response['id']}>').append("<li class='list-group-item' >" +"<div class='row'>"+"<div class='col-md-10'>"+response<{$response['id']}>['keyword'][index]+ "</div>"+"<div class='col-md-1' id='<{$response['id']}>-" +index+ "'>"+"<span class='glyphicon glyphicon-remove pull-right close close-keyword-btn'></span></li>");
    }

    _G('#form-<{$response['id']}>', '.input-keyword').val("");
    _G('#form-<{$response['id']}>', '.input-keyword').focus();
  })

  //绑定规则名输入事件
  $('#form-<{$response['id']}>').on('change', '.name', function(){
    response<{$response['id']}>['name'] = $(this).val().trim();
    isChange<{$response['id']}> = 1;
  })

  //绑定回复类型选择事件
  _G('#form-<{$response['id']}>', '.sort-responseType').on('change', function(){
    response<{$response['id']}>['responseType'] = $(this).val();
    isChange<{$response['id']}> = 1;
    changeType($(this).val());
  })

  //绑定收起按钮事件
  $('#form-<{$response['id']}>').on('click', '.btn-edit-cancle', function(){
    viewItem(<{$response['id']}>, 'item-<{$response['id']}>');
  })

  //绑定保存按钮事件
  $('#form-<{$response['id']}>').on('click', '.btn-edit-save', function(){

    if(!validInput<{$response['id']}>())
      return;

    if(response<{$response['id']}>['responseType'] == "news" && response<{$response['id']}>['materialId'] == "0"){
      $.scojs_message('请选择图文素材', $.scojs_message.TYPE_ERROR);
      return;
    }
      $.post(
        "<{:U('Keyword/editHandle')}>",
        response<{$response['id']}>,
        function(data, textStatus){
          if(data['data'] === 0){
            $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
            viewItem(<{$response['id']}>, 'item-<{$response['id']}>', true, response<{$response['id']}>['name']);
          }
          else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        });
  })

  function validInput<{$response['id']}>(){
    if(isChange<{$response['id']}> === 0){
      $.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
      return false;
    }

    if(response<{$response['id']}>['name'].trim() ===''){
      $.scojs_message('请输入规则名', $.scojs_message.TYPE_ERROR);
      return false;
    }
    if(response<{$response['id']}>['keyword'].length < 1){
      $.scojs_message('请添加关键词', $.scojs_message.TYPE_ERROR);
      return false;
    }
    if(response<{$response['id']}>['responseType'].trim() === 'text' && response<{$response['id']}>['textContent']===''){
      $.scojs_message('请输入回复文本', $.scojs_message.TYPE_ERROR);
      return false;
    }

    //修改问题：规则内容添加中，图文素材没有选择内容，添加成功
    if(response<{$response['id']}>['responseType'] === 'news' && 
      (response<{$response['id']}>['materialId']==='' || response<{$response['id']}>['materialId']==='0')){
      $.scojs_message('请选择图文素材', $.scojs_message.TYPE_ERROR);
      return false;
    }

    return true;
  }
</script>