<extend name="Public:Base" />
<block name="title">
    <title>微防伪——消息管理</title>
</block>

<block name="css">
    <link href="__CSS__/Key-event.css" rel="stylesheet" type="text/css" />
        <link href="__CSS__/header.css" rel="stylesheet" type="text/css" />
</block>

<block name="js">
    <script type="text/javascript" src="__JS__/jquery-1.7.2.js"></script>
<script language="javascript">
var clickSelected = false;
var materialNum = 0;
var eventArr = [{
"name" : "",
"keyword" : "",
"textContent" : "",
"materialID" : "" ,
}];

    function G(id){
        return document.getElementById(id);
    }
    
    $(document).ready(function(){
           $(".rule-big-main").show();
           $(".key-main").hide();
           $("#rule-new").hide();
           $("#text-new").hide();
           eventArr[0]["responseType"] = "text";
        });
    
    function setType(index , type){
        materialNum = index;
        
        if(type == "text"){
                eventArr[index]["responseType"] = type;
            $("#data-news-"+index).hide();
            $("#textresponse-"+index).show();
        }else{
            $.post("<{:U('getMaterialGroup')}>", eventArr[index],function(data){
                document.getElementById("materialGroup").innerHTML = data;
                $("#pageBtn").bind('click' , function(){
                    $.post("<{:U('getMaterialGroup')}>?page="+document.getElementById("pagenum").value, eventArr,function(data){
                            document.getElementById("materialGroup").innerHTML = data;
                            document.getElementById("pagenum").value = "";
                    });
                });

                $("#downBtn").bind('click' , function(){
                    $.post("<{:U('getMaterialGroup')}>?page=<{$materialPage}>", eventArr,function(data){
                            document.getElementById("materialGroup").innerHTML = data;
                            document.getElementById("pagenum").value = "";
                    });
                });

                $("#upBtn").bind('click' , function(){
                    $.post("<{:U('getMaterialGroup')}>?page=<{$materialPage-1}>", eventArr,function(data){
                            document.getElementById("materialGroup").innerHTML = data;
                            document.getElementById("pagenum").value = "";
                    });
                });
        });
            $("#material").show();
            $("#textresponse-"+index).hide();
            $("#data-news-"+index).show();
            $("#material-bg").css("height", document.body.scrollHeight);
            $("#material-main").css("top",  document.documentElement.clientHeight/2-285 + document.documentElement.scrollTop);
            $("#material-main").css("left",  document.body.clientWidth/2-400);
        }
    }
    
    function getGroup(){
        $.post("/weixin/admin.php/Keyword/getMaterialGroup/page/"+document.getElementById("pagenum").value, eventArr,function(data){
                document.getElementById("materialGroup").innerHTML = data;
        });
    }
    
    function setMaterial(id){
        if(materialNum == 0){
            eventArr[materialNum]["materialID"] = id;
            document.getElementById("data-news-0").innerHTML = document.getElementById("news-"+id).innerHTML;
        }
        else{
            eventArr[materialNum]["materialID"] = id;
            document.getElementById("data-news-"+materialNum).innerHTML = document.getElementById("news-"+id).innerHTML;
        }
        eventArr[materialNum]["responseType"] = "news";
        $("#material").hide();
    }
    
    function closeGroup(){
        $("#material").hide();
        eventArr[materialNum]["responseType"] = "text";
        $("#data-news-"+materialNum).hide();
        $("#textresponse-"+materialNum).show();
    }
     
     function showMain(index , checked){
        if(checked == "true"){
            $("#key-"+index).show();
            $("#rule-big-"+index).hide();
            eventArr[index]["checked"] = "false";
        }
        else{
            $("#rule-big-"+index).show();
            $("#key-"+index).hide();
            eventArr[index]["checked"] = "true";
        }
    }
    
    function changeContent(id , index){
      eventArr[index]["textContent"] = document.getElementById("text-" + id).value;
    }
    
    function eventHandle(index , eventType){
        eventArr[index]["eventType"] = eventType;
        eventArr[index]["event"] = eventType;
        eventArr[index]["timestamp"] = '<{$timestamp}>';
        eventArr[index]["token"]     = '<{$token}>';
        $.post("<{:U('KeywordAjax/eventHandle')}>", eventArr[index],function(data){
            if(data["status"] == 0){
                alert("添加成功");
                window.location.reload();
            }else{
                alert(data["info"]);
            }
        });
    }
        
</script>
<include file="Js:ImgCtrl" />
</block>

<block name="pre-begin">
    <div id="material" style="display:none;">
            <div id="material-bg"></div>
            <div id="material-main">
                <div id="material-title"><div id="page"><a id="upBtn" style="margin-right:10px;">上一页</a><a id="downBtn" style="margin-right:10px;">下一页</a><input type="text" id="pagenum" size="5" style="padding-left:5px;"/><a id="pageBtn" style="margin-right:5px;margin-left:5px;">跳转</a>共<{$materialPage}>页  共<{$materialCount}>条记录</div><a onclick='closeGroup()'>关闭</a></div>
                <div id="materialGroup"></div>
            </div>
        </div>
</block>

<block name="class-title">
    <div id="class-title">防伪管理</div>
</block>

<block name="left">
    <div id="left-menu">
                    <ul>
                        <li><a href="__MODULE__/Keyword/">关键词自动回复</a></li>
                        <li><a href="__MODULE__/Keyword/Event">消息回复</a></li>
                    </ul>
                </div>
</block>

<block name="right">
    <div id="event-main">
                    <script type="text/javascript">
                        eventArr[0] = <{:json_encode($subscribe)}>;
                    </script>
                        <div id="event-title" onclick="showMain('0' , eventArr[0]['checked'])">事件：关注<font>展开</font></div>
                        <div class="key-main" id="key-0">
                            <div class="key-response"><font>回复类型：<{$subscribe['response']}></font></div>
                        </div>
                        <div class="rule-big-main" id="rule-big-0">
                                <div class="right-response-title">回复：<button onclick="setType('0' , 'text')">文字回复</button><button onclick="setType('0' , 'news')">图文回复</button></div>
                                <div class="right-response-text" id="response-text-0">
                                    <{$subscribe['output']}>
                                </div>
                                <div class="left-key-add"></div>
                            
                            <div id="not-show"></div>
                            <div id="handleBtn"><div onclick="eventHandle('0' , 'subscribe')">完成</div></div>
                    </div>
                </div>
</block>