<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">经销商管理</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">经销商类型：</label>
                        <div class="col-sm-9">
                            <select id="dealerTypeSelect">
                                <option value="-1">一级经销商</option>
                                <option value="0">二级经销商</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" id="rootDealerList">
                        <label class="col-sm-3 control-label">绑定一级经销商</label>
                        <div class="col-sm-9">
                            <select id="dealerTypeSelect">
                                <volist name="" id="">
                                    <option value=""></option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">经销商名称：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" placeholder="请输入经销商名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">联系电话：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="tel" placeholder="请输入联系电话">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">经销商介绍：</label>
                        <div class="col-sm-9">
                            <textarea type="text" class="form-control" id="info" placeholder="请输入经销商介绍"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="dealerHandle(0 , 'edit')">确认添加</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>