<table class="table table-bordered table-hover" style="word-wrap:break-word;word-break:break-all;" id="segment">
  <thead>
    <tr>
      <th width="20%">经销商名称</th>
      <th width="20%">品牌</th>
      <th width="20%">产品</th>
      <th width="10%">开始时间</th>
      <th width="10%">截止时间</th>
      <th width="20%">审核</th>
    </tr>
  </thead>
  <tbody>
    <volist name="list" id="authorize">
      <tr>
        <td><{$authorize["dealer"]}></td>
        <td><{$authorize["brand"]}></td>
        <td><{$authorize["product"]}></td>
        <td><{$authorize["startTime"]}></td>
        <td><{$authorize["endTime"]}></td>
        <td class='text-center'>
          <button type="button" id="pass-<{$authorize.id}>" class="btn btn-info reviewPass">通过</button>
          <button type="button" id="notPass-<{$authorize.id}>" class="btn btn-info reviewDontpass">不通过</button>
        </td>
      </tr>
    </volist>
  </tbody>
</table>
<div class="text-center" id='authorize-page'>
  <ul class="pagination"><{$page}></ul>
</div>
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel" >审核不通过原因</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" role="form">               
              <div class="form-group">
                  <label for="custom-company" class="col-sm-3 control-label">不通过原因：</label>
                  <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="review-message" placeholder="请输入原因"></textarea>
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="AconfirmBtn">确认</button>
          <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
<script>
  $("#authorize-page > ul > li > a").click(function()
  {
    var _HREF = $(this).attr('href');       

     //加载页面
      $("#authorizeReview").load(_HREF);                       
      return false;
  });

  var arr = {
      "id" : '',
      "pass":0
  };
  //审核通过的处理
  $('.reviewPass').on('click',function(){
    if(confirm('请确定是否通过？')){
      var div = $(this).attr('id');
      var id = div.split('-')[1];
      arr['id'] = id;
      arr['pass'] = 1;
      LocationPassHandle(arr);
    }
  });
  //审核不通过处理
  $('.reviewDontpass').on('click',function(){
    $('#reviewModal').modal('show');
    var div = $(this).attr('id');
    var id = div.split('-')[1];
    arr['id'] = id;
  });

  $('#AconfirmBtn').on('click',function(){
    arr['message'] = $('#review-message').val().trim();
    LocationPassHandle(arr);
  });

  //审核调用的方法
  function LocationPassHandle(arr){
    $.post("<{:U('passHandle')}>",arr,function(data){
      if(data['status'] == 0){
        $.scojs_message("操作成功", $.scojs_message.TYPE_OK);
        if(arr['pass'] == 1){
          $("#authorizeReview").load("<{:U('authorizeReview')}>");
        }else{
          $('#reviewModal').modal('hide');
          $('#reviewModal').on('hidden.bs.modal', function (e) {
            $("#authorizeReview").load("<{:U('authorizeReview')}>");
          });
        }                  
      }else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
      }
    }); 
  }
</script>