<ul class="pagination"><{$page}></ul>
<table class="table table-striped" style="word-break:break-all;word-wrap:break-word;">
    <thead>
        <tr>
            <th width="60%">图片</th>
            <th width="25%">图片链接</th>
            <th width="15%">状态</th>
        </tr>
    </thead>

     <tbody>
        <volist name='result' id='item'>
            <tr>
                <td>
                    <if condition="$item.imgurl neq ''">
                        <img src='<{$item.imgurl}>' width='100%'/>
                    </if>
                </td>
                <td><a href='<{$item.imghref}>' target='_blank'><{$item.imghref}></a></td>
                <td>
                    <if condition="$item.sign eq 0">
                        <font>等待审核</font>
                    </if>
                    <if condition="$item.sign eq 1">
                        <font>审核通过</font>
                    </if>
                    <if condition="$item.sign eq -1">
                        <font style="color:red;">审核不通过</font>
                    </if>
                </td>
            </tr>
        </volist>
    </tbody>
</table>
<ul class="pagination"><{$page}></ul>

<script type="text/javascript">
    $(".pagination > li > a").click(function()
    {
      var _HREF = $(this).attr('href');       

       //加载页面
        $(".product-info").load(_HREF);                       
        return false;
    });
</script>