<extend name="Public:Base" />
<block name="title">
    <title>微防伪——LBS管理</title>
</block>

<block name="css">
    <link href="__CSS__/Location-index.css" rel="stylesheet" type="text/css" />
        <link href="__CSS__/header.css" rel="stylesheet" type="text/css" />
</block>

<block name="js">
    <script type="text/javascript" src="http://127.0.0.1/weixin/Public/Js/jquery-1.7.2.js"></script>
        <script type="text/javascript">
            function deleteCheck(id){
                if(confirm("是否确认删除")){
                    var arr = {
                        "id"          : id , 
                        "timestamp"   : '<{$timestamp}>' , 
                        "token"       : '<{$token}>'
                    };
                    $.post("<{:U('LocationAjax/deletePoi')}>" , arr,function(data){
                            if(data["status"] == 0){
                                alert("删除成功");
                            }
                            else{
                                alert(data["info"]);
                            }
                            
                            window.location.reload();
                        });
                }
            }
            
            function allDelete(){
                var count = 0;
                var a="";
                if(document.checkboxform.selectBox.length)
                {
                    for(var i = 0; i < document.checkboxform.selectBox.length; i++)
                    {
                        if(document.checkboxform.selectBox[i].checked)
                        {
                            a += document.checkboxform.selectBox[i].value + ',';
                            count++;
                        }
                    }
                }

                else {

                    if(document.checkboxform.selectBox.checked)
                    {

                        a += document.checkboxform.selectBox.value ;

                    }

                }
                
                if( count > 0)
                {
                    if( confirm('是否要删除所选择的'+ count +'条记录！') )
                    {
                        var arr = {
                            "id":a.substr(0,a.length-1) , 
                            "timestamp" : '<{$timestamp}>' , 
                            "token" : '<{$token}>'
                        };

                        $.post("<{:U('LocationAjax/allDelete')}>" , arr,function(data){
                            if(data["status"] == "0"){
                                alert("删除成功");
                            }
                            else{
                                alert(data["info"]);
                            }
                            
                            window.location.reload();
                        });
                    }
                }
                else
                {
                    alert('请在需要删除的条目前打勾！');
                }
            }

            function ChkAllClick(sonName, cbAllId){
                var arrSon = document.getElementsByName(sonName);
                var cbAll = document.getElementById(cbAllId);
                var tempState=cbAll.checked;

                for(i=0;i<arrSon.length;i++) {
                    if(arrSon[i].checked!=tempState){
                        arrSon[i].click();
                    }
                }
            }
        </script>
</block>

<block name="pre-begin">
</block>

<block name="class-title">
    <div id="class-title">LBS管理</div>
</block>

<block name="left">
    <div id="left-menu">
                    <ul>
                        <li><a href="__MODULE__/Location/">门店信息</a></li>
                    </ul>
                </div>
</block>

<block name="right">
     <div id='addBtn'><a href="<{:U('poi')}>"><button>添加</button></a><button onclick="allDelete()">删除</button></div>
               <form name="checkboxform" method="post" id="checkboxform">
                   <div id="control">
                       <input type="checkbox" name="chkAll" id="chkAll" onClick="ChkAllClick('selectBox','chkAll')" style='float:left;margin-top:9px;margin-right:10px;'>全选
                   </div>
                <div id='loctionList'>
                    <volist name="list" id="data" offset='0' length="100">
                        <div id='locationItem'>
                            <input type="checkbox" name="selectBox" value="<{$data.poiID}>" style="float:left;margin-top:8px;"/>
                            <div id='locationName'><{$data.name}></div>
                            <div id='deleteBtn'><a onclick="deleteCheck('<{$data.poiID}>')">删除</a></div>
                            <div id='updateBtn'><a href="<{:U('poi?type=update&id='.$data['poiID'])}>">修改</a></div>
                        </div>
                    </volist>
                </div>
               </form>
                <div id='page'>
                    <ul class="pagination"><{$page}></ul>
                </div>
                <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</block>