<extend name="Public:new-base" />
<block name="title">
    <title>经销商管理——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/location.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
    <link href="__CSS__/main.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="right">
<div id="editWeb"></div>
<div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">经销商二维码</h4>
            </div>
            <div class="modal-body">
                <img src="" class="img-thumbnail" id='qrImg' style='width:300px;'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">经销商管理</a></li>
            <li><a href="#electricity" class="electricity" data-toggle="tab">网店管理</a></li>
            <li><a href="#authorizeTab" class="authorizeTab" data-toggle="tab">授权书管理</a></li>
            <if condition="$role eq 'Dreview' || $role eq 'admin'">
                <li><a href="#authorizeReview" class="authorizeReviewTab" data-toggle="tab">授权书审核管理</a></li>
            </if>
            <li><a href="#stock" class="stock" data-toggle="tab">库存管理</a></li>
            <li><a href="#order" class="order" data-toggle="tab">物流码管理</a></li>
            <li><a href="#agent" class="agent" data-toggle="tab">代理品牌管理</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home" style="margin-top:15px;">
                <div class="row"style="margin-top:10px;">
                    <div class="col-md-5">
                        <button class="btn btn-info" style="margin-bottom:10px;" onclick="window.location.href=('__MODULE__/Location/dealer/id/add')">
                            添加经销商 
                        </button>
                    </div>
                    <div class="col-md-3 dealerType">
                        <div class="form-group">
                            <select class="form-control" id='dealerTypeSelect'>
                                <option value='all'>所有经销商类型</option>
                                <option value='-1'>一级经销商</option>
                                <option value='0'>二级经销商</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" id='dealerSelect'>
                                <option value='all'>所有经销商</option>
                                <volist name='type' id='item'>
                                  <option value='<{$item.id}>'><{$item.name}></option>
                                </volist>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="dealerList"></div>
            </div>

            <div class="tab-pane fade" id="electricity" style="margin-top:15px;"></div>

            <div class="tab-pane fade" id="order" style="margin-top:15px;"></div>

            <div class="tab-pane fade" id="authorizeTab" style="margin-top:15px;"></div>

            <div class="tab-pane fade" id="authorizeReview" style="margin-top:15px;"></div>

            <div class="tab-pane fade" id="agent" style="margin-top:15px;"></div>

            <div class="tab-pane fade" id="stock" style="margin-top:15px;"></div>
        </div>
    </div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/jquery-1.10.2.min.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/Public.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/sco.js/js/sco.modal.js" type="text/javascript" charset="utf-8"></script>
    <script language="javascript" type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#dealers').addClass("active");
        });
        $('#dealerList').load('<{:U("dealerList")}>');
        //显示网店标签页
        $('.electricity').on('click' , function(){
            $("#electricity").load("<{:U('electricity')}>" , {
                "cId" : "electricity"
            });
        });

        //显示物流码管理标签页
        $('.order').on('click' , function(){
            $("#order").load("<{:U('order')}>" , {
                "cId" : "order" , 
                "type" : "all"
            });
        });

        //显示授权书标签页
        $('.authorizeTab').on('click' , function(){
            $("#authorizeTab").load("<{:U('authorize')}>");
        });

        //显示授权书审核标签页
        $('.authorizeReviewTab').on('click' , function(){
            $("#authorizeReview").load("<{:U('authorizeReview')}>");
        });

        //显示代理品牌标签页
        $('.agent').on('click' , function(){
            $("#agent").load("<{:U('agent')}>" , {"cId" : "agent" , "type":"brand"});
        });

        //显示库存标签页
        $('.stock').on('click' , function(){
            $("#stock").load("<{:U('stock')}>" , {"cId" : "stock" , "productId":'all' , "dealerId":'all'});
        });
        function delChart(id){
            var arr = {"id":id};
            
            if(confirm("是否确认删除")){
                $.post("<{:U('delChart')}>" , arr , function(data){
                    if(data['status'] == 0){
                        $("#authorizeTab").load('__MODULE__/Location/authorize'); 
                        $.scojs_message('删除成功！', $.scojs_message.TYPE_OK);
                    }else{
                        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                    }
                });
            }
        }
        /**
         * 绑定经销商类型选择
         * @author 蒋东芸
         * 2014/6/16
         */
        $('#dealerTypeSelect').on('change',function(){
            var type = $(this).val();
            $('#dealerSelect').text('');
            if(type === 'all'){
                $('#dealerSelect').append("<option value='all'>所有经销商</option><volist name='type' id='item'><option value='<{$item.id}>'><{$item.name}></option></volist>")
                $('#dealerList').load("<{:U('dealerList')}>");
            }
            else{
                $.post("<{:U('dealerSelect')}>" , {'dealerType': type} , function(data){
                
                    if(data!=''){
                        if(type == -1){
                            $('#dealerSelect').append("<option value='-1'>所有一级经销商</option>");
                        }
                        if(type == 0){
                            $('#dealerSelect').append("<option value='0'>所有二级经销商</option>");
                        }
                        for(i=0;i<data.length;i++){
                            if(data[i]['name']!=undefined){
                                var opts=[];
                                var arr=data[i]['name'];
                                opts += "<option value='"+data[i]['id']+"'>"+arr+"</option>";                              
                            }

                        $('#dealerSelect').append(opts);
                        }
                    }
                });

                $('#dealerList').load("<{:U('dealerList')}>",{'dealerType': type});
            }
                     
        });
        /**
         * 绑定经销商选择
         * @author 蒋东芸
         * 2014/6/16
         */
        $('#dealerSelect').on('change',function(){
             var id = $(this).val();
             var type =  $('#dealerTypeSelect').val();
            if(id === 'all')
                $('#dealerList').load("<{:U('dealerList')}>");
            else if(id == -1 )
                $('#dealerList').load("<{:U('dealerList')}>",{'dealerType': type});
            else if(id == 0 )
                $('#dealerList').load("<{:U('dealerList')}>",{'dealerType': type});
            else{
                $('#dealerList').load("<{:U('dealerList')}>",{'dealerType': type,'id': id},function(){
                    $('#dealerSelect').val(id);
                    $('#dealerTypeSelect').val(type);
                });   
            }
        });
    </script>
</block>