<div class="form-group">
	<select id="productSelect" class="form-control">
		<option value="all">全部产品</option>
		<if condition="$noBindProduct neq '' ">
			<option value="-1">无</option>
		</if>
	    <volist name='productInfo' id='item'>
      		<option value="<{$item.id}>"><{$item.name}></option>
        </volist>
	</select>
</div>	
<script>
	$('#productSelect').on('change', function(){
		<{$val}> = $(this).val();
		$('#authorizeList').load('<{:U("authorizeList")}>',params);
	});
</script>