<div class="modal fade" id="showWlcode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">物流码详情</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width='50'>序号</th>
                            <th>物流码</th>
                        </tr>
                    </thead>

                    <tbody>
                        <volist name="wlcode" id="item" key="k">
                            <tr>
                                <td><{$k}></td>
                                <td><{$item.wl_Code}></td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>