<ul class="pagination"><{$page}></ul>
<table class="table table-striped" style="word-break:break-all;word-wrap:break-word;">
    <thead>
        <tr>
            <th width="60%">图片</th>
            <th width="30%">图片链接</th>
            <th width="10%">操作</th>
        </tr>
    </thead>

     <tbody>
        <volist name='result' id='item'>
            <tr>
                <td>
                    <if condition="$item.imgurl neq ''">
                        <img src='<{$item.imgurl}>' width='100%'/>
                    </if>
                </td>
                <td><a href='<{$item.imghref}>' target='_blank'><{$item.imghref}></a></td>
                <td>
                    <button type="button" class="btn btn-success reviewOkBtn" style="width:100%;" id='<{$item.id}>'>通过</button>
                    <button type="button" class="btn btn-danger reviewNoBtn" style="margin-top:10px;width:100%;" id='<{$item.id}>'>不通过</button>
                </td>
            </tr>
        </volist>
    </tbody>
</table>
<ul class="pagination"><{$page}></ul>

<script type="text/javascript">
    $(".pagination > li > a").click(function()
    {
      var _HREF = $(this).attr('href');       

       //加载页面
        $(".product-info").load(_HREF);                       
        return false;
    });

    $('.reviewOkBtn').on('click',function(){
        reviewHandle($(this).attr('id'),'ok');
    })

    $('.reviewNoBtn').on('click',function(){
        reviewHandle($(this).attr('id'),'no');
    })

    function reviewHandle(id,type){
        $.post("<{:U('zgReviewHandle')}>",{'id':id,'type':type},function(data){
            $.scojs_message('审核成功', $.scojs_message.TYPE_OK);
            $('.product-info').load("<{:U('getZgProduct')}>");
        });
    }
</script>