<extend name="nifty:Public:Base" />

<block name='title'>用户管理 | E码互联企业管理后台</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
</block>

<block name="content">
    <div id="main">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#user" data-toggle="tab">用户管理</a></li>
            <li><a href="#sn" data-toggle="tab">设备管理</a></li>
            <li><a href="#fwcode" data-toggle="tab">补充防伪码</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="user" style="margin-top:30px;">

            </div>

            <div class="tab-pane fade" id="sn" style="margin-top:30px;">

            </div>
            <div class="tab-pane fade" id="fwcode" style="margin-top:30px;">

            </div>
        </div>
    </div>
</block>

<block name="footer-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__JS__/Public.js"></script>
    <script type="text/javascript">

        $('#group-fw').addClass('active-sub');
        $('#group-fw .collapse').addClass('in');
        $('#menu-fw-manager').addClass('active-link');
        $('#manager').addClass("active");

        $('#user').load("<{:U('serviceList')}>" , {
            "cId":"user" , 
            "select" : "all"
        });

        $('#sn').load("<{:U('sn')}>" , {
            "cId":"sn"
        });

        $('#fwcode').load("<{:U('fwcode')}>");
    </script>
</block>