<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-info" style="margin-bottom:10px;" onclick="editSn('add')">
                    添加设备
                </button>
                <div id="snInfo"></div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" id='snecid' placeholder="搜索企业ID">
                  <span class="input-group-btn">
                    <button class="btn btn-info" id='search-btn' type="button" onclick="searchSn()">搜索</button>
                  </span>
                </div><!-- /input-group -->
            </div>
        </div>
        <div class='text-right' id="snpage">
            <ul class="pagination"><{$page}></ul>
        </div>

        <div id="company-main"></div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width='80'>企业ID</th>
                    <th>企业名称</th>
                    <th>设备号</th>
                    <th>购买时间</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <volist name="sn" id="item" key="k">
                    <tr>
                        <td><{$item.company_ecid}></td>
                        <td><{$item.company_name}></td>
                        <td><{$item.sn}></td>
                        <td><{$item.buyTime}></td>
                        <td><span><a onclick="editSn(<{$item.id}>)" style='cursor:pointer;'>编辑</a></span></td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
function editSn(id){
    $('#snInfo').load("<{:U('snInfo')}>" , {"id":id} , function(){
        $('#snModal').modal('show');
    });
}

function searchSn(){
    $("#sn").load("<{:U('sn')}>" , {"ecid":$('#snecid').val().trim()});
}

$("#snpage > ul > li > a").click(function()
{
    var _HREF = $(this).attr('href');       

   //加载页面
    $("#sn").load(_HREF);                       
    return false;
});
</script>