<extend name="Public:Base_mobile" />
<block name="title">
    <title>企业手机网站</title>
</block>
<block name="css"></block>
<block name="js"><!-- js文件引用 --></block>
<block name="content">
  <!-- 网站首页 -->
  <div data-role="page">
    
    <img src="__IMAGE__/WEB/mobile/LOGO.png" width="100%" height="auto" style="padding:10px 0px;"/>
    
    <img src="__IMAGE__/WEB/mobile/banner.png" style="padding-left:0px;padding-right:0px;padding-bottom:10px" width="100%" height="auto"/>
       
    
    <table width="100%">
      <tr>
        <td width="33%" align="center">
          <a href="__MODULE__/Index/index" style="text-decoration:none;">
            <img src="__IMAGE__/WEB/mobile/home.png" width="85%" height="auto"/>
            <h4>首页</h4>
          </a>
        </td>
        <td width="33%" align="center">
          <a href="__MODULE__/Product/index" style="text-decoration:none;">
            <img src="__IMAGE__/WEB/mobile/chanpin.png" width="85%" height="auto"/>
            <h4 style="color:black;">产品中心</h4>
          </a>
        </td>
        <td width="33%" align="center">
          <a href="__MODULE__/News/index" style="text-decoration:none;">
            <img src="__IMAGE__/WEB/mobile/news.png" width="85%" height="auto"/>
            <h4 style="color:black;">新闻动态</h4>
          </a>
        </td>
      </tr>
      <tr>
        <td width="33%" align="center">
          <a href="__MODULE__/Solution/index" style="text-decoration:none;">
            <img src="__IMAGE__/WEB/mobile/jiejue.png" width="85%" height="auto"/>
            <h4 style="color:black;">解决方案</h4>
          </a>
        </td>
        <td width="33%" align="center">
          <a href="__MODULE__/Fw/index" style="text-decoration:none;">
            <img src="__IMAGE__/WEB/mobile/FW.png" width="85%" height="auto"/>
            <h4 style="color:black;">防伪验证</h4>
          </a>
        </td>
        <td width="33%" align="center">
          <a href="__MODULE__/About/index" style="text-decoration:none;">
            <img src="__IMAGE__/WEB/mobile/LXWO.png" width="85%" height="auto"/>
            <h4 style="color:black;">关于我们</h4>
          </a>
        </td>
      </tr>
    </table>

      
    
    <div data-role="footer" data-position="fixed" class="footerBg" height="69" data-tap-toggle="false" >
      <table width="100%">
        <tr>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/TEl.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/QQ.png" height="45" width="45"/>
            </a>
          </td>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/E-mil.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/Add.png" height="45" width="45"/>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</block>
<block name="end-js">
  <script type="text/javascript">
  </script>
</block>