<extend name="Public:Base" />
<block name="title">
	<title>关于我们</title>
</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/style.css">
	<link rel="stylesheet" href="__JS__/Nivo-Slider/themes/default/default.css" type="text/css" media="screen" />
  	<link rel="stylesheet" href="__JS__/Nivo-Slider/nivo-slider.css" type="text/css" media="screen" />
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/unslider.min.js"></script>
</block>



<block name="content">   
    <include file="Public:header" />
    <div class="contaniner-fluid" style="background-color: #00ABEA;">
		<div class="container">
			<div class="slider-wrapper theme-default" style='margin-bottom:-10px;'>
		        <div id="slider" class="nivoSlider">
		          <img src="__IMAGE__/WEB/default/AD-1.png" data-thumb="__IMAGE__/WEB/default/AD-1.png" alt="" class='img-responsive'/>
		          <img src="__IMAGE__/WEB/default/AD-2.png" data-thumb="__IMAGE__/WEB/default/AD-2.png" alt="" class='img-responsive'/>
		         <img src="__IMAGE__/WEB/default/AD-3.png" data-thumb="__IMAGE__/WEB/default/AD-3.png" alt="" class='img-responsive'/>
		         <img src="__IMAGE__/WEB/default/AD-4.png" data-thumb="__IMAGE__/WEB/default/AD-4.png" alt="" class='img-responsive'/>
		        </div>
		    </div>
		</div>
	</div>
    <p></p>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img src="__IMAGE__/WEB/default/GBC_SB_u.png" alt="__MODULE__/Product/index" class="img-responsive center-block menu-icon img_div" id="sb_product">
				<p class="radio news-title"><a href="__MODULE__/Product/index"><strong>条码设备</strong></a></p>
			</div>
			<div class="col-md-3">
				<img src="__IMAGE__/WEB/default/GBC_HC_u.png" alt="" class="img-responsive center-block menu-icon img_div" id="hc_product">
				<p class="radio news-title"><a href="__MODULE__/Product/index"><strong>条码耗材</strong></a></p>
			</div>
			<div class="col-md-3">
				<img src="__IMAGE__/WEB/default/GBC_YS_u.png" alt="" class="img-responsive center-block menu-icon img_div" id="ys_product">
				<p class="radio news-title"><a href="__MODULE__/Product/index"><strong>印刷</strong></a></p>
			</div>
			<div class="col-md-3">
				<img src="__IMAGE__/WEB/default/GBC_FW_u.png" alt="" class="img-responsive center-block menu-icon img_div" id="fw_product">
				<p class="radio news-title"><a href="__MODULE__/Product/index"><strong>防伪服务</strong></a></p>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default content-height">
					<div class="panel-body">
						<div class="row">
						<div class="col-md-6">
							<a href="<{:U('About/index')}>">
								<img src="__IMAGE__/WEB/default/GBC_AS.png" alt="..." class="title-img"/>
							</a>
						</div>				
						<p class="col-md-6 text-right"><a href="<{:U('About/index')}>" class="title_next">MORE</a></p>
						</div>
						<p></p>
						<div class="row">
							<div class="col-md-4">
								<a href="<{:U('About/index')}>"><img src="<{$info.bigImg}>" alt="..." class="img-responsive"style="max-height: 180px;"/></a>
							</div>
							<div class="col-md-8" style="white-space:nowrap; text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;max-height: 180px;">
								<{$info.content}>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default content-height">
				  <div class="panel-body">
				  	<div class="row">
				  	<div class="col-md-6">
				  		<a href="<{:U('News/index')}>">
				  			<img src="__IMAGE__/WEB/default/GBC_N.png" alt="..." class="title-img">
				  		</a>
				  	</div>
					<p class="col-md-6 text-right"><a href="<{:U('News/index')}>" class="title_next">MORE</a></p>
					</div>
					<p></p>
					<div class="row newUl">
						<volist name="recom" id='vo'>
							<div class="col-md-8 elli"><a href="<{:U('News/info')}>/id/<{$vo.id}>"><{$vo.title}></a></div>
							<div class="col-md-4 elli text-right"><{:date("Y-m-d", strtotime($vo['modifyTime']))}></div>
						</volist>
					</div>
				  </div>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<a href="#"><img src="__IMAGE__/WEB/default/GBC_CW.png" alt="..." class="title-img"/></a>
							</div>
							<p class="col-md-6 text-right"><a href="#" class="title_next">MORE</a></p>
						</div>
						<p></p>
						<div class="row">
							<volist name="customer" id="item" key="k">
								<div class="col-md-3">
									<div class="panel panel-default">
										<div class="panel-body customer-panel">
											<a href="#"><img src="<{$item.bigImg}>" alt="" class="center-block customer-img"/></a>
										</div>
									</div>
								</div>
							</volist>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:footer" />
</block>
<block name="end-js">
	<script type="text/javascript" src="__JS__/Nivo-Slider/jquery.nivo.slider.js"></script>
	<script>
		$('#index').addClass("active");
		$(window).load(function() {
		      $('#slider').nivoSlider(
		      	{
		      		controlNav: false
	    		} 
		      	);
		  });

		$('.menu-icon').on('mouseenter', function(){
			var imgUrl = $(this).attr('src');
			var newUrl = imgUrl.replace('_u', '');
			$(this).attr('src', newUrl);
		})

		$('.menu-icon').on('mouseleave', function(){
			var imgUrl = $(this).attr('src');
			var newUrl = imgUrl.replace('.png', '_u.png');
			$(this).attr('src', newUrl);
		})

		$('#sb_product').on('click',function(){
			window.location.href = "__MODULE__/Product/index";
		})

		$('#hc_product').on('click',function(){
			window.location.href = "__MODULE__/Product/index";
		})

		$('#ys_product').on('click',function(){
			window.location.href = "__MODULE__/Product/index";
		})

		$('#fw_product').on('click',function(){
			window.location.href = "__MODULE__/Product/index";
		})
		
	</script>
</block>