<extend name="Public:new-base" />
<block name="title">
    <title>素材中心——微防伪</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <style type="text/css">
        #news-add{
            background-image:url(__IMAGE__/add-bg.jpg);
        }
        .timedGroupBtn,.publishBtn,.editBtn{
            border:0px;
            background:transparent;
            color:#4083bd;
        }
        .timedGroupBtn:hover,.publishBtn:hover,.editBtn:hover{
        text-decoration:underline;
           color:#0066cc;
        }
    </style>
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<!--<script src=http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=4146341569 type="text/javascript" charset="utf-8"></script>-->
    <script type="text/javascript">
    </script>
</block>

<block name="right">
    <div id="main">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#materialCenter" data-toggle="tab">素材中心</a></li>
            <li><a href="#newsManage" class="newsManage" data-toggle="tab">新闻管理</a></li>
            <li><a href="#timedManage" class="timedManage" data-toggle="tab">定时记录</a></li>
            <li><a href="#solution" data-toggle="tab" class="solution">解决方案</a></li>
        </ul>
        
         <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="materialCenter" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-4">
                <div id="news-add" onmouseover="showBtn()" onmouseout="hideBtn()"><div id="add-a"><a href="<{:U('AddNews?type=addOne')}>"><img src="__IMAGE__/oneNewBtn.png" /><p>单图文消息</p></a><a href="<{:U(AddNews)}>"><img src="__IMAGE__/addNewsBtn.png" /><p>多图文消息</p></a></div></div>

                <volist name="newsArr" id='item' mod="3" key='i'>
                    <eq name="mod" value="0">
                        <div class="news-one" id="material-<{$item.groupId}>" style="width: 100%">
                            <table class="table table-bordered">
                                <eq name="item['multiple']" value="0">
                                    <tbody>
                                        <tr>
                                            <td colspan='2'>
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}> <button style="float:right" class="timedGroupBtn" id="group<{$item.groupId}>" onclick="timedGroups(<{$item.groupId}>)">定时群发</button>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img  style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                                <!--<wb:publish action='publish' type="web" language="zh_cn" button_type="red" button_size="middle" uid="2828512894" refer="y" default_text="<{$item['Result'][0]['title']}>" default_image="<{$item['Result'][0]['newsImg']}>"></wb:publish>-->
                                            </td>
                                        </tr>
                                        <tr class="active">
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                                <eq name="item['multiple']" value="1">
                                    <tbody>
                                        <tr>
                                            <td colspan='2'>
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}><button style="float:right" class="timedGroupBtn" id="group<{$item.groupId}>" onclick="timedGroups(<{$item.groupId}>)">定时群发</button>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <volist name="item['Result']" id='materialItem' offset="1" key='j'>
                                            <tr>
                                                <td colspan='2'>
                                                    <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                                    <h5 style="width: 100%;word-break:break-all;"><{$materialItem['title']}></h5>
                                                </td>
                                            </tr>
                                        </volist>
                                        <tr class="active">
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                            </table>
                        </div>
                    </eq>
                </volist>
            </div>
            <div class="col-md-4">
                <volist name="newsArr" id='item' mod="3" key='i'>
                    <eq name="mod" value="1">
                        <div class="news-one" id="material-<{$item.groupId}>" style="width: 100%">
                            <table class="table table-bordered">
                                <eq name="item['multiple']" value="0">
                                    <tbody>
                                        <tr>
                                            <td colspan='2'>
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}><button style="float:right" class="timedGroupBtn" id="group<{$item.groupId}>" onclick="timedGroups(<{$item.groupId}>)">定时群发</button>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                                <eq name="item['multiple']" value="1">
                                    <tbody>
                                        <tr>
                                            <td colspan='2'>
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}><button style="float:right" class="timedGroupBtn" id="group<{$item.groupId}>" onclick="timedGroups(<{$item.groupId}>)">定时群发</button>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <volist name="item['Result']" id='materialItem' offset="1" key='j'> 
                                            <tr>
                                                <td colspan='2'>
                                                    <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                                    <h5 style="width:180px;word-break:break-all;"><{$materialItem['title']}></h5>
                                                </td>
                                            </tr>
                                        </volist>
                                        <tr>
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                            </table>
                        </div>
                    </eq>
                </volist>
            </div>
            <div class="col-md-4">
                <volist name="newsArr" id='item' mod="3" key='i'>
                    <eq name="mod" value="2">
                        <div class="news-one" id="material-<{$item.groupId}>" style="width: 100%">
                            <table class="table table-bordered">
                                <eq name="item['multiple']" value="0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}><button style="float:right" class="timedGroupBtn" id="group<{$item.groupId}>" onclick="timedGroups(<{$item.groupId}>)">定时群发</button>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                                <eq name="item['multiple']" value="1">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <{:date("Y-m-d", strtotime($item['modifyTime']))}><button style="float:right" class="timedGroupBtn" id="group<{$item.groupId}>" onclick="timedGroups(<{$item.groupId}>)">定时群发</button>
                                                <h5 style="width: 100%;word-break:break-all;"><{$item['Result'][0]['title']}></h5>
                                                <img style="width:100%;" src="<{$item['Result'][0]['newsImg']}>" alt="..." class="img-rounded">
                                            </td>
                                        </tr>
                                        <volist name="item['Result']" id='materialItem' offset="1" key='j'> 
                                            <tr>
                                                <td colspan="2">
                                                    <img style="width:60px; height:60px;" src="<{$materialItem['newsImg']}>" alt="..." class="img-rounded pull-right">
                                                    <h5 style="width:180px;word-break:break-all;"><{$materialItem['title']}></h5>
                                                </td>
                                            </tr>
                                        </volist>
                                        <tr>
                                            <td class="text-center">
                                                <a href='__MODULE__/MaterialLib/EditNews?groupid=<{$item.groupId}>'><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                                            </td>
                                            <td class="text-center">
                                                <a onclick="deleteMaterial(<{$item.groupId}>)" class="del-btn" id="del-<{$item.groupId}>"><span class="glyphicon glyphicon-remove"></span> 删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </eq>
                            </table>
                        </div>
                    </eq>
                </volist>
            </div>
        </div>
        <div class='well text-right'>
            <ul class="pagination"><{$page}></ul>
        </div>
                        </div>
        <div class="tab-pane fade" id="newsManage" style="margin-top:15px;"></div>

        <div class="tab-pane fade" id="timedManage" style="margin-top:15px;"></div>
        <div id="timedDialog"></div><!--用于显示定时dialog-->  
        <div class="tab-pane fade" id="solution"></div>
    </div>

    </div>
</block>

<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link href="__CSS__/jquery-ui-timepicker-addon.css" type="text/css" />

    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery-ui-timepicker-addon.js"></script>
    <script src="__JS__/jquery.ui.datepicker-zh-CN.js" type="text/javascript" charset="gb2312"></script>
    <script src="__JS__/jquery-ui-timepicker-zh-CN.js" type="text/javascript"></script>

    <script type="text/javascript">
         //显示新闻管理
        $('.newsManage').on('click' , function(){
            $("#newsManage").load("<{:U('NewsManage')}>" , {
                "cId" : "newsManage"
            });
        });
        //显示定时管理
        $('.timedManage').on('click' , function(){
            $("#timedManage").load("<{:U('TimedManage')}>" , {
                "cId" : "timedManage"
            });
        });

        /**
         * 加载到解决方案页面，激活解决方案页面
         * @author 蒋东芸
         * 2014/7/9
         */
        $('#solution').load("<{:U('solution')}>", {} , function(){
            //激活解决方案管理
            if("<{$tab}>"){
              $('#myTab li:eq(3) a').tab('show');
            }
        });
        
    $('#material').addClass("active");
    $("#add-a").hide();

    function deleteMaterial(id){
        if(confirm("是否确认删除")){
            var arr = {
                "id":id
            };

            $.post("<{:U('deleteGroup')}>" , arr , function(data){
                if(data["status"] == 0){
                    alert("删除成功");
                    window.location.reload();
                }else{
                    alert("删除失败");
                }
            });
        }
    }

    function showBtn(){
        $("#add-a").show();
        $("#news-add").css("background-image" , "none");
     }
     
     function hideBtn(){
         $("#add-a").hide();
         $("#news-add").css("background-image" , "url(__IMAGE__/add-bg.jpg)");
     }
     function timedGroups(groupId){
        $(".timedGroupBtn").attr("disabled", "disabled"); 
        $.post("<{:U('oauth2Weibo')}>" , function(data){
            if(data["status"] == 0){
                $('#timedDialog').load('<{:U("timedPublish")}>',{'type':'groups','id':groupId,'expires_in':Number(data["expires_in"])}, function(){
                    $('#timedPublish').modal('show');
                });}else{
                var url = location.host + "<{:U('OauthCallback')}>";
                var clientId = "2513417815";
                var $url = 'https://api.weibo.com/oauth2/authorize?client_id='+clientId+'&response_type=code&redirect_uri='+url;
                window.open($url,"授权",'height=600,width=600,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
            }
            
        });
     }
    </script>
</block>