<div id="newsManage"></div>
            <div class="row"></div>
                <div id="newsList"></div>


    <script type="text/javascript">
        
        $('#newsList').load('<{:U("newsList")}>');
       
    </script>
