<extend name="Public:new-base" />
<block name="title">
    <title>微防伪V4</title>
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
    <link href="__CSS__/main.css" rel="stylesheet">
    
    
</block>

<block name="js">
    <script src="__JS__/Public.js"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</block>

<block name="right">
    <button type="button" class="btn btn-info" onclick="window.location.href=('<{:U('index')}>/tab/value')">返回</button>
    <p></p>
    <div id="solution-right">
        <div class="panel panel-default" id="solution-main">
            <div class="panel-heading">
                <h3 class="panel-title">解决方案</h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="title" placeholder="请在此输入标题"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">公司名：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" placeholder="请在此输入公司名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">关键词：</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="word" placeholder="请在此输入关键词"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述：</label>
                        <div class="col-sm-9">
                            <textarea id="description" class="form-control" row="6"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputActivityName" class="col-sm-2 control-label">图片：</label>
                        <div class="col-sm-9">
                            <input type='file' id='msg-img-input' class="form-control" multiple="true"/>
                            <img src="" class="img-thumbnail" id='minImg' style='display:none;'>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">详情：</label>
                        <div class="col-sm-9">
                            <textarea style="height: 400px;" id="details"></textarea>
                            <script type="text/javascript">
                                window.UEDITOR_HOME_URL = '__PUBLIC__/Ueditor/';
                                    UE.getEditor('details',{onready:function(){//创建一个编辑器实例
                                    this.setContent(solutionArr['content']);
                                    this.addListener('contentChange',function(){
                                        solutionArr['content'] = this.getContent();
                                    });
                                }});
                            </script>
                        </div>                        
                    </div>
                </form>
            </div>

            <div class="panel-footer text-right">
                <button type="button" class="btn btn-info default-save" onclick="solutionHandle('edit')">保存</button>
            </div>
        </div>
    </div>
</block>
<block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>  
    <script type="text/javascript">
        $('#website').addClass("active");

        var solutionArr = <{$solutionInfo}>;
        /**
         * 页面显示相应的数据内容
         * 蒋东芸
         * 2014/7/9
         */
        $('#title').val(solutionArr['title']);
        $('#name').val(solutionArr['company']);
        $('#word').val(solutionArr['keyword']);
        $('#description').val(solutionArr['description']);
        if(solutionArr['handleType'] == 'edit'){
            $('#minImg').attr('src' , solutionArr['img'] + "?t=Math.random()");
            $('#minImg').show();
        }
        /**
         * 编辑解决方案内容处理
         * 2014/7/9
         */
        function solutionHandle(type){
            if($('#title').val().trim() == "" && type != "delete"){
                $.scojs_message('请输入标题', $.scojs_message.TYPE_ERROR);
                return;
            }
            if($('#description').val().trim() == ''){
                $.scojs_message('请输入描述语', $.scojs_message.TYPE_ERROR);
                return false;
            }
            if(solutionArr['img'] == ''){
                $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
                return false;
            }
            //获取文本内容
            solutionArr['title'] = $('#title').val().trim();
            solutionArr['keyword'] = $('#word').val().trim();
            solutionArr['company'] = $('#name').val().trim();
            solutionArr['description'] = $('#description').val().trim();
            
            $.post("<{:U('solutionHandle')}>",solutionArr,function(data){
                if(data['status'] == 0){
                    window.location.href = "<{:U('index')}>/tab/value";//如果操作成功返回到解决方案页
                }else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);//否则显示提示语
                }
            });
        }
        /**
         * 图片上传
         * 2014/7/8
         */
        $('#msg-img-input').uploadify({
            swf           : '__PUBLIC__/uploadify/uploadify.swf',
            uploader      : '__MODULE__/Public/file',
            buttonText    : '点击上传图片',
            method        : 'post',
            onUploadSuccess    : funCompleteImg,
            onUploadStart :  readyUpload
        });

        //图片上传前事件
        function readyUpload(file){
            var old = solutionArr['img'];

            var old = getFileName(old);
            
            if(old){
              var params = {
                  timestamp : '<{$timestamp}>',
                  token     : '<{$token}>',
                  oldFile   : old
                }
              $("#msg-img-input").uploadify("settings", "formData", params);
            }
        }

        //图片上传发生的事件
        function funCompleteImg(file, data, response) {
            var obj = eval ("(" + data + ")");

            if(obj['code'] != 0){
              $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
              return;
            }else{
              $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
              var imgUrl = obj['imgUrl'];
              if(imgUrl){
                  $('#minImg').attr('src', imgUrl);
                  $('#minImg').show();

                  solutionArr['img'] = imgUrl;
                }
            }
        }

    </script>  
</block>