<div id="timedManage"></div>
            <div class="row"></div>
                <div id="timedList"></div>


    <script type="text/javascript">
        
        $('#timedList').load('<{:U("timedList")}>');
       
    </script>
