<table class="table table-bordered table-hover" style="table-layout:fixed;">
    <thead>
        <tr>
            <th width='50'>序号</th>
            <th width='300'>主题</th>
            <th>预定发布时间</th>
            <th width='180'>状态</th>
            <th width='120' class='text-center'>操作</th>
        </tr>
    </thead>

    <tbody>
        <volist name="list" id="listItem" key="k">
            <tr>
                <td><{$k}></td>
                <td style="word-break : break-all;"><{$listItem.title}></td>
                <td style="word-break : break-all;"><{$listItem.sendTime}></td>
                <td style="word-break : break-all;"><{$listItem.status}></td>
                <td style="word-break : break-all;">
                    <span class="span-a" style="margin-right:10px;"><button class="editBtn" id="editBtn<{$listItem.id}>" onclick="timedPublish(<{$listItem.id}> , 'edit','<{$listItem.content}>','<{$listItem.sendTime}>')" href='javascript:void(0)'>编辑</button></span>
                    <span class="span-a"><button onclick="timedPublish(<{$listItem.id}> , 'delete')" href='javascript:void(0)'>删除</button></span>
                </td>
            </tr>
        </volist>
    </tbody>
</table>
<div id="timed-page" class='text-center'>
    <ul class="pagination"><{$page}></ul>
</div>
<script>
    /**
     * 定时记录列表分页显示
     * @author 张赞富
     */
    $("#timed-page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#timedList").load(_HREF,{'timedType': '<{$timedType}>','id': '<{$id}>'});
        return false;
    });
    $(document).ready(function(){
            $('#material').addClass("active");
        });
   
   /**
     * 编辑和删除事件绑定
     * @author 张赞富
     * @param {int} id 修改或删除的记录id
     * @param {string} type 区分修改或删除
     */
    var timedArr={};
    function timedPublish(id,type,content,sendTime){
        if(type == "edit"){
            $(".editBtn").attr("disabled", "disabled"); 
            $.post("<{:U('oauth2Weibo')}>" , function(data){
                if(data["status"] == 0){
                     $('#timedDialog').load('<{:U("timedPublish")}>',{'type':'timed','id':id,'expires_in':Number(data["expires_in"])}, function(){
                     $('#timedPublish').modal('show');
                     $('#weiboContent').val(content);
                     $('#time').val(sendTime);
            });}else{
                    var url = location.host + "<{:U('OauthCallback')}>";
                    var clientId = "2513417815";
                    var $url = 'https://api.weibo.com/oauth2/authorize?client_id='+clientId+'&response_type=code&redirect_uri='+url;
                    window.open($url,"授权",'height=600,width=600,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
        }
    });
        }else if(type == "delete"){
            if(confirm("请确认是否删除")){
                    timedArr['id'] = id;
                    timedArr['handleType'] = type;
                }else{
                    return;
                }
                
                $.post("<{:U('wbPublishHandle')}>" , timedArr , function(data){
                if(data['status'] == 0){
                    $('#timedList').load('<{:U("timedList")}>');
                    $.scojs_message('删除成功！', $.scojs_message.TYPE_OK);
                }else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
        }
    }
        


</script>