
<script type="text/javascript">
    createDateTimePicker(<{$result['expires_in']}>);
    if('<{$result['type']}>' == 'groups'){
       $(".timedGroupBtn").removeAttr("disabled"); 
       $('#newsContent').hide();
    }else if('<{$result['type']}>' == 'news'){
        $(".publishBtn").removeAttr("disabled"); 
    }else if('<{$result['type']}>' == 'timed'){
      $(".editBtn").removeAttr("disabled"); 
        
    }
       function wbPublishHandle(){
           var type = '<{$result['type']}>'; 
           var id = '<{$result['id']}>';
           if($('#time').val().trim() == ""){
                $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
                return;
            }
           if(type === 'news'){
               $.post("<{:U('wbPublishHandle')}>" , {'id':'','newsId':id,'sendTime':$('#time').val(),'content':$('#weiboContent').val()} , function(data){
                if(data['status'] == 0){
                    $('#timedPublish').modal('hide');
                    $.scojs_message(data['info'], $.scojs_message.TYPE_OK);
                }else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
           }else if(type === 'timed'){
               $.post("<{:U('wbPublishHandle')}>" , {'id':id,'newsId':'','sendTime':$('#time').val(),'content':$('#weiboContent').val()} , function(data){
                if(data['status'] == 0){
                    $('#timedPublish').modal('hide');
                    $.scojs_message(data['info'], $.scojs_message.TYPE_OK);
                }else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
           }else if(type === 'groups'){
                $.post("<{:U('wxGroupSendHandle')}>" , {'id':'','groupId':id,'sendTime':$('#time').val()} , function(data){
                if(data['status'] == 0){
                    $('#timedPublish').modal('hide');
                    $.scojs_message(data['info'], $.scojs_message.TYPE_OK);
                }else{
                    $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                }
            });
           }
           
        
       }
       
       function refreshWeibiOauth(){
           var url = location.host + "<{:U('OauthCallback')}>";
                    var clientId = "2513417815";
                    var $url = 'https://api.weibo.com/oauth2/authorize?client_id='+clientId+'&response_type=code&redirect_uri='+url;
                    window.open($url,"授权",'height=600,width=600,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
                    $('#timedPublish').modal('hide');
    }


//创建timedPublish页面的dateTimePicker
//maxTime为微博授权的有效时间
     function createDateTimePicker(expiresTime){
         var myControl=  {
                     create: function(tp_inst, obj, unit, val, min, max, step){
                     $('<input class="ui-timepicker-input" value="'+val+'" style="width:50%">')
			.appendTo(obj)
			.spinner({
				min: min,
				max: max,
				step: step,
				change: function(e,ui){ // key events
						// don't call if api was used and not key press
						if(e.originalEvent !== undefined)
							tp_inst._onTimeChange();
						tp_inst._onSelectHandler();
					},
				spin: function(e,ui){ // spin events
						tp_inst.control.value(tp_inst, obj, unit, ui.value);
						tp_inst._onTimeChange();
						tp_inst._onSelectHandler();
					}
			});
		return obj;
	},
	options: function(tp_inst, obj, unit, opts, val){
		if(typeof(opts) == 'string' && val !== undefined)
			return obj.find('.ui-timepicker-input').spinner(opts, val);
		return obj.find('.ui-timepicker-input').spinner(opts);
	},
	value: function(tp_inst, obj, unit, val){
		if(val !== undefined)
			return obj.find('.ui-timepicker-input').spinner('value', val);
		return obj.find('.ui-timepicker-input').spinner('value');
	}
};
            var now = new Date();
            // 时间设置
            $('#time').datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd",
                controlType: myControl,
                 minDate: now,
                 maxDate:new Date((now/1000+expiresTime)*1000)
            });
     }
</script>
<div class="modal fade" id="timedPublish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">定时发布</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                     
                    <div class="form-group" id="newsContent">
                            <label class="col-sm-3 control-label">内容：</label>
                            <div class="col-sm-8">
                                <textarea  class="form-control" id="weiboContent" style="resize: none;height: 110px;" maxlength="100"><{$item['Result'][0]['title']}></textarea>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">发布时间：</label>
                        <div class="col-sm-8">
                            <input type="text" id="time" class="Wdate form-control" style="margin-top:0px;"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" id="refreshWeibiOauth" onclick='refreshWeibiOauth()'>刷新微博授权</button>
                <button type="button" class="btn btn-primary" onclick='wbPublishHandle()'>确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
