<div class="footerBg">
	<div class="container">
		<p></p>
		<div class="row">
			<div class="col-md-4">
				<img src="__IMAGE__/WEB/default/tel.png" alt="..." class="img-responsive footerImg">
			</div>
			<div class="col-md-4">
				<img src="__IMAGE__/WEB/default/QQ.png" alt="..." class="img-responsive center-block footerImg">
		    </div>
			<div class="col-md-4">
				<img src="__IMAGE__/WEB/default/Email.png" alt="..." class="img-responsive footerImg pull-right">
		    </div>
		</div>
		<p></p>
	    <div class="row">
			<div class="col-md-12 footerText">
				<div>联系地址：深圳市华强路无线电管理大厦1102室（华强南立交桥边/中医院东门边）</div>
				<div>版权所有©2012 深圳市通用条码技术开发中心，未经允许不得已任何方式和手段进行复制使用</div>
				<div>粤ICP备05009344号</div>
			</div>
		</div>
	</div>
</div>