<div class="container">
	<div class="row top_padding">
		<div class="col-md-3">
			<a href="#"><img src='__IMAGE__/25.png' alt='深圳防伪网' class="indexImg"/></a>
		</div>
		<div class="col-md-9">
			<div class="row text-right">
				<div class="col-md-12">
					<a href="#"><img src='__IMAGE__/WEB/default/phone.png' alt='深圳防伪网' height="35" width="150"/></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills bold navbar-right">
						<li role ="presentation" class="news-title" id="index"><a href="__MODULE__/Index/index" class="black">首页</a></li>
						<li role ="presentation" class="news-title" id="product"><a href="__MODULE__/Product/index" class="black">产品中心</a></li>
						<li role ="presentation" class="news-title" id="news"><a href="__MODULE__/News/index" class="black">新闻动态</a></li>
						<li role ="presentation" class="news-title" id="solustion"><a href="__MODULE__/Solution/index" class="black">解决方案</a></li>
						<li role ="presentation" class="news-title" id="fwyz"><a href="__MODULE__/Fw/index" class="black">防伪验证</a></li>
						<li role ="presentation" class="news-title" id="us"><a href="__MODULE__/About/index" class="black">关于我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>