<extend name="Public:Base" />
<block name="title">
	<title>解决方案</title>
</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/web/default/solution.css">
</block>
<block name="js"></block>

<block name="content">
    <include file="Public:header" />
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="__IMAGE__/WEB/default/NEWS_banner.png" alt="解决方案" style="width:100%;">
			</div>
		</div>
	</div>
	<p></p>
	<br/>
	<div class="container">	
		<volist name="solution" id="item" key="k">	
			<div class="row"> 
				<div class="col-md-12">
					<div class="panel" id="<{$item.id}>">
			  			<div class="panel-body">
							<div class="col-md-3">
								<a href="<{:U('info')}>/id/<{$item.id}>"><img src="<{$item.minImg}>" alt="..." class="center-block" height="120" width="200"/></a>
							<p></p>
							</div>
							<div class="col-md-9">
								<h4 class="solution-title yahei"><a href="<{:U('info')}>/id/<{$item.id}>"><{$item.title}></a></h4>
								<div>[ <{:date("Y-m-d", strtotime($item['modifyTime']))}> ]</div>
								<p></p>
								<p class="solution-title">
					  				<a href="<{:U('info')}>/id/<{$item.id}>"><{$item.description}></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</volist>
	</div>
	<div class='text-center'  id="page">
		<ul class="pagination"><{$page}></ul>
	</div>
	<include file="Public:footer" />
</block>
<block name="end-js">
	<script type="text/javascript">
		$('#solution').addClass("active");
		$('.panel').on('click',function(){
			var id = $(this).attr('id');
			window.location.href = "<{:U('info')}>/id/"+id;
		})
	</script>
</block>