<extend name="Public:Base_mobile" />
<block name="title">
    <title>企业手机网站</title>
</block>
<block name="css">
</block> 
<block name="js">
  
</block>
<block name="content">
  <div data-role="page">
    <script type="text/javascript">
      var arr={
        'id':<{$num}>
      };
      
      $('#solutionclick').on('click',function(){
        $.get("<{:U('getsolution')}>",arr,function(data, textStatus){
              if(data['status']>0){
                  arr['id']=data['status'];
                  for(var i=0;i<data['info'].length;i++){
                    var url = "<{:U('Solution/info')}>" +"/id/"+data['info'][i]['id'];
                    $('#getsolution').append("<tr align='center'><td width='40%'><a href='"+url+"' style='text-decoration:none;'><img src='"+data['info'][i]['img']+"' width='100%' height='auto'/></a></td><td width='60%'><a href='"+url+"' style='text-decoration:none;'><h4 style='color:black;'><{"+data['info'][i]['title']+"}></h4><h4 style='color:black;'><{:date('Y-m-d', strtotime("+data['info'][i]['modifyTime']+"))}></h4></a></td></tr>");

          
                  }
              }
              else{
                  alert("目前没有更多的新闻")
              }
          });
      })
    </script>
    <div data-role="header" style="background-color:#F9F9F9;height:50px;">
      <a href="__MODULE__/Product/index" data-icon="arrow-l" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFF">返回</a>
      <h1 style="white-space:normal;padding-top:15px;">解决方案</h1>
      <a href="#menu" data-role="button" data-icon="grid" data-corners="true" data-shadow="false" style="font-size:14px;border:1px solid #FFFFFF">菜单</a>
    </div>
    <div data-role="panel" id="menu" data-position="right" data-position-fixed="true" data-position="left" data-display="overlay" data-position-fixed="true" data-animate="true" data-theme="b" style="width:12em;"> 
      <div data-role="listview">
        <li data-theme="a"><a href="__MODULE__/Index/index" onclick="loginOut()" style="padding-left:2em;"><img src="__IMAGE__/WEB/mobile/headhome.png" class="ui-li-icon">首页</a></li>
        <li data-theme="a"><a href="__MODULE__/Product/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headproduct.png" class="ui-li-icon">产品中心</a></li>
        <li data-theme="a"><a href="__MODULE__/News/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headnews.png" class="ui-li-icon">新闻动态</a></li>
        <li data-theme="a"><a href="__MODULE__/Solution/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headsolution.png" class="ui-li-icon">解决方案</a></li>
        <li data-theme="a"><a href="__MODULE__/Fw/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headfw.png" class="ui-li-icon">防伪验证</a></li>
        <li data-theme="a"><a href="__MODULE__/About/index" onclick="loginOut()"><img src="__IMAGE__/WEB/mobile/headabout.png" class="ui-li-icon">关于我们</a></li>
      </div>
    </div>
    
    
    <div data-role="content"  style="padding:10px 0px;" align="center">
      <img src="__IMAGE__/WEB/mobile/banner.png"  width="100%" height="auto"/>
    </div>
     
    <div data-role="content">
      <table width="100%" id="getsolution" style="">
        <volist name="solution" id='item'>
          <tr align="center">
            <td width="40%">
              <a href="<{:U('solution/info')}>/id/<{$item.id}>" style="text-decoration:none;">
                <img src="<{$item.img}>"  width="100%" height="auto"/>
              </a>
            </td>
            <td width="60%" align="center">
              <a href="<{:U('solution/info')}>/id/<{$item.id}>" style="text-decoration:none;">
                <h4 style='color:black;'><{$item.title}></h4>
                <h4 style='color:black;'><{:date("Y-m-d", strtotime($item['modifyTime']))}>
                </h4>
              </a>
            </td>
          </tr>
        </volist>
      </table>
    </div>
    <div data-role="content" style="background-color:#eef" align="center">
      <div id="solutionclick">点击显示更多</div>
    </div>
    
    <div data-role="footer" data-position="fixed" class="footerBg" height="69" data-tap-toggle="false" >
      <table width="100%">
        <tr>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/TEl.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/QQ.png" height="45" width="45"/>
            </a>
          </td>
          <td width="25%" align="center">
            <a href="#" data-ajax='false'>
            <img src="__IMAGE__/WEB/mobile/E-mil.png" height="45" width="45"/></a>
          </td>
          <td width="25%" align="center">
            <a  id="info_orderImg" href="" data-ajax='false'>
              <img id="customerOImg" src="__IMAGE__/WEB/mobile/Add.png" height="45" width="45"/>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</block>
<block name="end-js">
  
</block>