<extend name="Public:Base" />
<block name="title">
	<title><{$webSolution.title}></title>
</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/web/default/solution.css">
</block>
<block name="js"></block>

<block name="content">
    <include file="Public:header" />
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="__IMAGE__/WEB/default/NEWS_banner.png" alt="标题"  width="100%">
			</div>
		</div>
	</div>
    <div class="container">	
    	<p></p>
    	<br>
    	<p class="news-title">
    		<a href="<{:U('Index/index')}>">首页</a> >
    		<a href="<{:U('index')}>">解决方案</a> > 
    		<{$webSolution.title}>
    	</p>
	    <div class="row">
	      <div class="col-md-12">
	        <div class="panel panel-default">
	          <div class="panel-body">
	            <div class="col-md-8">
	              <h3 align="center" class="yahei"><{$webSolution.title}></h3>
	              <p align="center" style="padding:5px 0px;border-bottom: 1px solid #ccc;"><strong>[<{:date("Y-m-d", strtotime($webSolution['modifyTime']))}>]</strong></p>
	              <br>
	              <div class="row">
	                <div class="col-md-12"><{$webSolution.content}></div>              
	              </div>
	            </div>
	            <div class="col-md-4">
	              <div class="col-md-12 yahei" style="background-color: #1760AC;color:white;margin: 20px 0px 10px 0px;" align="center">
	                <h4>新闻推荐</h4>        
	              </div>
	              <div class="row">
	                <volist name="solution" id='vo'>
	                  <div class="col-md-8 elli" style="line-height: 25px;"><a href="#"><{$vo.title}></a></div>
	                  <div class="col-md-4 elli text-right" style="line-height: 25px;"><{:date("Y-m-d", strtotime($webSolution['modifyTime']))}></div>
	                </volist>
	              </div>
	            </div> 
	          </div>
	        </div>      
	      </div>     
	    </div>
    </div>
    <include file="Public:footer" />
</block>

<block name="end-js"></block>