ol, ul ,li{list-style: none;} 
img {border: 0;} 
body{
    margin:0px;
    padding: 0px;
    color:#fff;
    font-family:"Microsoft YaHei";
    width: 100%;
    height: 100%;
}
.header_bg{
	margin:0 auto;
	width:960px;
	height:70px;
}
#logo{
	margin-top:20px;
	float:left;
	height: 40px;
}
#phone{
	margin-top:20px;
	float:right;
}
#QQ{
	margin-top:20px;
	margin-left:10px;
	float:right;
}
#full-screen-slider{
	position: relative;
	width: 100%;
	text-align: center;
	height:510px;
}
#banner{
	margin:0 auto;
	position: relative;
	width:960px;
	height:510px;
	z-index: 1000px;
}
#banner_left{
	position: absolute;	
	_position:absolute;
	_bottom:auto;
	_left:0;
	margin-top:80px;
	width: 640px;
}
.bannerText{	
	margin-top:15px;
}
.bannerText1{
	margin-bottom:15px;
	font-size:25px;
	font-weight: bold;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
}
.bannerText2{
	font-size:35px;
	font-weight: bold;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
}
.bannerText3{
	font-size:16px;
	text-shadow: 0 2px 3px rgba(0,0,0,.5);
}
#banner_right_bg{
	position: absolute;
	right:0;
	height:510px;
	color:#A3A3A3;
    width: 274px;
    font-size: 14px;
    color: #fff;
    z-index: 0;
    background: #000 none repeat scroll 0% 0%;
	opacity: 0.5;
	filter:alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	_FILTER: alpha(opacity=50); moz-opacity: 0.5; opacity: 0.5;
}
#head_img_form{
	position: absolute;
	right:0;
	height:510px;
	color:#A3A3A3;
    width: 274px;
    font-size: 14px;
    color: #fff;
    z-index: 2;
}
#head_img_title{
	padding:20px 0px;
}
.head_rightTxt2{
	font-size: 20px;
}
.head_img_tr{
	background-color: #fff;	
}
.head_inputName{
	width: 90%;
	height: 40px;
	margin: auto;
	margin-bottom: 10px;
	line-height: 40px;
	font-size: 14px;
}
.head_inputName .text{
	font-size: 14px;
	color: #a3a3a3;
	margin-top: 4px;
	width: 95%;
	height: 30px;
	line-height: 30px;
	border:none;
	text-decoration: none;
}
.head_img_radio{
	margin-left: 10px;
	width: 95%;
	font-size: 14px;
}
.sex .radio{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent url("../image/radio.png") no-repeat scroll center center;
    _background-size: 10%;
    cursor: pointer;
    margin: 0px 10px;
}
.sex .checked{
    background: transparent url("../image/checked.png") no-repeat scroll center center;
}

.form_footer_text{
	margin-left: 10px;
	width: 95%;
	font-size: 12px;
}
#tiyan{
	background-color: #FF5251;
	color:#fff;
	width: 90%;
	height: 40px;
	margin: auto;
	margin-bottom: 10px;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
}
.main{
	padding-bottom: 40px;
}
#main{
	color:black;
	width: 960px;
	margin:0 auto;
	color:#666;
}
.main_title{
	padding-top:60px;
	padding-bottom: 20px;
}
.advantage_content{
	width: 100%;
	background-color: #f6f6f6;
	color:#666;
}
.advantage{
	width: 960px;
	margin: 0 auto;
}
.advantage_text{
	width:239px;
	display:block;
	word-break: break-all;
	word-wrap: break-word;
	text-align:left;
}
.achieve{
	color:black;
	width: 960px;
	margin:0 auto;
	color:#666;
}
.achieve_text{
	width:216px;
	display:block;
	word-break: break-all;
	word-wrap: break-word;
	text-align:left;
}
.achieve_title{
	letter-spacing:2px;
	text-align: center;
	font-weight: bold;
}
.customer_content{
	color:black;
	width:960px;
	margin: 0 auto;
	color:#666;
}
.customer_img{
	border:1px solid #ccc;
	width:234px;
	height:96px;
}
.customer{
	width:170px;
	display:block;
	vertical-align:middle;
	over-flow:hidden;
	height:96px;
}
#footer{
	background-color: #4A4849;
	height:90px;
	left:0;
	right:0;
}
.footerCls{
	padding-top: 35px;
	font-size: 12px;
}
.footerCls a{
	text-decoration: none;
	color:#fff;
}
#form_bg{
	position: fixed;
	width:250px;
	height:510px;
	top:90px;
	display: none;
	border-radius: 4px;
	_right:0;
	_position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
*html{  
    background-image:url(about:blank);
    background-attachment:fixed;
}
input{
	border: 0;
}
.form_fold{
	position:absolute;
	right:0;
	cursor:pointer;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
.form_fold div{
	/*width:26px;*/
	height:132px;
}
#form{
	z-index:100;
	position: fixed;
	right:0;
	width: 250px;
	height:500px;
	top:80px;
	border-radius: 4px;
}
#form_right{
	background-color: #ebebeb;
	width: 250px;
	height:500px;
	position:absolute;
	right:-250px;
	-webkit-transition:.3s cubic-bezier(.19,1,.22,1);
	-o-transition:.3s cubic-bezier(.19,1,.22,1);
	transition:.3s cubic-bezier(.19,1,.22,1);
}
.unfold{
	right:0;
}
.form_title{
	border-radius: 4px 4px 0px 0px;
	text-align: center;
	background-color:#e51012;
	height:45px;
}
.head_form_title{
	line-height: 42px;
}
.head_form_inputName{
	padding-top:10px;
}
.text{
	padding-left: 10px;
}
.head_textarea{	
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	line-height: 40px;
	font-size: 14px;
}
.textarea{
	font-size: 14px;
	color: #a3a3a3;
	margin-top: 4px;
	width: 95%;
	line-height: 20px;
	border:none;
	text-decoration: none;
	padding-left: 10px;
}