<extend name="nifty:Public:Base"  />
<block name="title">
    防伪统计 | E码互联企业管理后台
</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/Admin-index.css">
    <link rel="stylesheet" href="__PUBLIC__/xChart/xcharts.min.css">
</block>

<block name="js">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="__JS__/Data/WdatePicker.js"></script>
</block>

<block name="content">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">防伪统计</a></li>
    <li><a href="#qrCodeStatistics" data-toggle="tab" id="qrCode">二维码统计</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
      <div id="main" style="margin-top:30px;">
        <div class="panel panel-info panel-bordered">
          <div class="panel-heading">
            <h3 class="panel-title">防伪统计</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6" style="padding-left:8px;">
                      <select id="brandselect" class="form-control">
                        <option value="-1">请选择品牌</option>
                        <volist name='brandInfo' id='item'>
                          <option value="<{$item.id}>"><{$item.name}></option>
                        </volist>
                      </select>
                    </div>
                    <div class="col-md-6" id='productSelForm' style='display:none;'>
                    </div>
                  </div>
                  <div>&nbsp;</div>
                  <div class="row">
                    <div class="col-md-6" style="padding-left:8px;">
                      <select id="fwtypeselect" class="form-control" style="margin-bottom: 0px;">
                        <option value="-1">请选择类型</option>
                        <volist name='fwtype' id='item'>
                          <option value="<{$item.id}>"><{$item.fwType}></option>
                        </volist>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <select id="dealerselect" class="form-control" style="margin-bottom: 0px;">
                        <option value="-1">请选择经销商</option>
                        <volist name='dealername' id='item'>
                          <option value="<{$item.id}>"><{$item.dealerName}></option>
                        </volist>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right" id="header-date">  
                  <input type="text" id="startTime" class="Wdate" onClick="WdatePicker()" value="<{$startTime}>">至
                  <input type="text" id="endTime" class="Wdate" onClick="WdatePicker()" value="<{$endTime}>">&nbsp;&nbsp;&nbsp;&nbsp;
                  <button class="btn btn-success" id="dateset" style="vertical-align: top;">查看</button>
                </div>
              </div>
              <div class="row" style="margin-top:20px;">
                <div  class="col-md-12" id='fwLogChart'></div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="qrCodeStatistics"></div>
  </div>
</block>

<block name="footer-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/d3/d3.min.js" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/xChart/xcharts.min.js"></script>
    <script src="__JS__/Public.js"></script>
    <script type="text/javascript">
    var params={
      'dealerName':'',
      'Type':'',
      'brandId': '-1',
      'productId' : '-1',
      'startTime':"<{$startTime}>",
      'endTime':'<{$endTime}>'
    };
    $('#fwLogChart').load('<{:U('ProductHandle')}>',params);
    
    $('#group-fw').addClass('active-sub');
    $('#group-fw .collapse').addClass('in');
    $('#menu-fw-statistics').addClass('active-link');
    $('#statistics').addClass("active");
    $('#brandselect').val('-1');
    function dateCompare(startdate,enddate)   
    {   
      var arr=startdate.split("-");    
      var starttime=new Date(arr[0],arr[1],arr[2]);    
      var starttimes=starttime.getTime();   
      
      var arrs=enddate.split("-");    
      var lktime=new Date(arrs[0],arrs[1],arrs[2]);    
      var lktimes=lktime.getTime();   
      
      if(starttimes>=lktimes)
      return false;
      else  
      return true;
    }

   
    $('#fwtypeselect').on('change',function(){
      $type=$('#fwtypeselect').find("option:selected").text();
      if($type=='正确查询')
        params['Type']='first';
      else if($type=='重复查询')
        params['Type']='repert';
      else if($type=='错误查询')
        params['Type']='error';
    });
    $('#dealerselect').on('change',function(){
      params['dealerName']=$('#dealerselect').find("option:selected").text();
    });

    $('#brandselect').on('change',function(){
      params['brandId'] = $(this).val();

      if(params['brandId'] != -1){
        $('#productSelForm').load('<{:U('showProductSel')}>',
        {
          'brandId' : params['brandId'],
          'val' : "params['productId']"
        }, function(){
          $('#productSelForm').show();
        });
      }
      else{
        $('#productSelForm').hide();
        params['productId'] = -1;
      }
    });

    function checkVal(){
      if(G("startTime").value == "0000-00-00" || G("endTime").value == "0000-00-00" || G("startTime").value == "" || G("endTime").value == ""){
        $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
        return false;
      }

      if(!dateCompare(G('startTime').value , G('endTime').value)){
        $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
        return false;
      }

      return true;
    }


    $('#dateset').on('click',function(){
      if(!checkVal())
        return;

      //更新开始时间和结束时间
      params['startTime'] = G("startTime").value;
      params['endTime'] = G("endTime").value;

      $('#fwLogChart').load('<{:U('ProductHandle')}>',params);
    });

      $('#qrCodeStatistics').load('<{:U("qrCodeStatistics")}>');
    </script>
</block>