<div class="panel panel-info panel-bordered" style="margin-top:30px;">
  <div class="panel-heading">
    <h3 class="panel-title">二维码统计</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4" style="padding-left:5px;">
            <select id="typeSelect" class="form-control">
              <option value='all'>全部</option>
                <volist name='qrCode' id='item'>
                  <option value='<{$item.typeName}>'><{$item.type}></option>
                </volist>
            </select>
          </div>
          <div class="col-md-6" id='productSelForm' style='display:none;'></div>
        </div>
      </div>
      <div class="col-md-6 text-right" id="header-date">  
        <input type="text" id="startTime" class="Wdate" onClick="WdatePicker()" value="<{$startTime}>">至
        <input type="text" id="endTime" class="Wdate" onClick="WdatePicker()" value="<{$endTime}>" >&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" id="timeset" style="vertical-align: top;">查看</button>
      </div>
    </div>
    <div id="qrCodeList"></div>
  </div>
</div>
<script type="text/javascript">

  $('#qrCodeList').load('<{:U("qrCodeList")}>');
    var Arr = {
      'typeName':'',
      'startTime':'<{$startTime}>',
      'endTime':'<{$endTime}>'
    };
    $('#typeSelect').on('change',function(){
      Arr['typeName'] = $('#typeSelect').val();
      $('#qrCodeList').load('<{:U("qrCodeList")}>',Arr,function(){
          $('#typeName').val(params['typeName']);
        });
    });
    $('#timeset').on('click',function(){
      if(G("startTime").value == "0000-00-00" || G("endTime").value == "0000-00-00" || G("startTime").value == "" || G("endTime").value == ""){
          $.scojs_message('请选择时间', $.scojs_message.TYPE_ERROR);
          return;
        }

      if(!dateCompare(G('startTime').value , G('endTime').value)){
          $.scojs_message('开始时间不能大于或等于结束时间', $.scojs_message.TYPE_ERROR);
          return;
        }
        else{
          Arr['startTime'] = G("startTime").value;
          Arr['endTime'] = G("endTime").value;
        }
        $('#qrCodeList').load('<{:U("qrCodeList")}>',Arr,function(){
          $('#startTime').val(Arr['startTime']);
          $('#endTime').val(Arr['endTime']);
        });
    });
</script>