<select id="productSelect" class="form-control">
	<option value="-1">请选择产品</option>
    <volist name='productInfo' id='item'>
  		<option value="<{$item.id}>"><{$item.name}></option>
    </volist>
</select>	
<script>
	$('#productSelect').on('change', function(){
		<{$val}> = $(this).val();
	});
</script>