<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    说明：
        <p>请先选择品牌或者产品，然后点击“添加经销商授权”，选择经销商，点击“确认添加”进行授权。右上角有“切换至授权产品”按钮，用于切换品牌和产品。需要注意的是，切换至产品后，要先选择品牌，再点击选择产品，最后选择经销商进行授权。</p>
</div>
<button type="button" class="btn btn-primary pull-left" id="showAgentDealerModal" style="margin-bottom:20px;">添加经销商授权</button>
<button type="button" class="btn btn-primary pull-right" id="productBtn" style="margin-bottom:20px;">切换至授权产品</button>
<div class="modal fade" id="agentDealerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加经销商授权</h4>
            </div>
            <div class="modal-body" style="word-break: break-all;">
                <div id="agentDealerList">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary agentAddBtn">确认添加</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="clear:both;">
    <div class="panel-body">
        <div class="row" style="margin-top:15px;">
            <div class="col-md-4">
                <h3>品牌列表</h3>
                <div class="list-group" id="brand-list" style="word-break: break-all;">
                    <volist name="brand" id="brandItem" key="k">
                        <if condition="$brandItem.name neq ''">
                            <a class="list-group-item brandGroup" style="cursor:pointer;" id="<{$brandItem.id}>"><{$brandItem.name}></a>
                        </if>
                    </volist>
                </div>
                <div class='text-left' id="brand-page">
                    <ul class="pagination"><{$page}></ul>
                </div>
            </div>
            <div class="col-md-4" style="margin-left:50px;">
                <h3>获得授权经销商列表</h3>
                <div class="list-group" id="dealer-list" style="word-break: break-all;">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var bindInfo = {
    "brandId"    :  0  , 
    "productId"  :  -1 ,
    "dealerId"   :  $('#dealerSelect').val() , 
    "type"       :  "<{$type}>"
};
var brandOnClick = false;
/*
 *绑定经销商选择事件
 */
$('#dealerSelect').on('change' , function(){
    bindInfo['dealerId'] = $(this).val();
    
    if(validValue() == false){
        return;
    }

    getIsBindInfo();
});
   
/**
 * 绑定添加授权按钮事件
 */
$('#showAgentDealerModal').on('click' , function(){
    if(!brandOnClick){
       $.scojs_message("请先选择品牌再点击此按钮。", $.scojs_message.TYPE_ERROR);
        return;
    }else{
        $('#agentDealerModal').modal('show');
    }
});

/**
 * 绑定授权按钮事件
 */
$('.agentAddBtn').on('click' , function(){
    var dealerArr = '';
    $('#agentDealerCheckbox:checked').each(function(){
        dealerArr += $(this).val() + ',';
    });
    
    bindInfo['dealerId'] = dealerArr;
    $.post("<{:U('bindInfoHandle')}>" , bindInfo , function(data){
        if(data['status'] == 0){
            $.scojs_message('授权成功', $.scojs_message.TYPE_OK);
            $('#agentDealerModal').modal('hide');
            $('#agentDealerModal').on('hidden.bs.modal', function (e) {
                $("#agent").load("<{:U('agent')}>" , {"cId" : "<{$cId}>" , "type":"<{$type}>"}); 
            });
        }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
    });
});

/*
 *绑定品牌点击事件
 */
$('.brandGroup').on('click' , function(){
    brandOnClick = true;
    var brandId = $(this).attr("id");
    bindInfo['brandId'] = brandId;
    $('.brandGroup').removeClass("active");
    $(this).addClass("active");

    getIsBindInfo();

    var arr = {
        "brandId" : brandId ,
        "type" : "<{$type}>" ,
        "dealerId" : bindInfo['dealerId']
    };

    $.post("<{:U('getBindDealer')}>" , arr , function(data){
        $('#dealer-list').html('');
        for(var i = 0;i < data['bind'].length;i++){
            $('#dealer-list').append("<a class='list-group-item' id='"+data['bind'][i]['id']+"'>"+data['bind'][i]['name']+"</a>");
        }

        $('#agentDealerList').html('');
        for(var i = 0;i<data['unbind'].length;i++){
            $('#agentDealerList').append("<div class='checkbox'><label><input type='checkbox' id='agentDealerCheckbox' value="+data['unbind'][i]['id']+">"+data['unbind'][i]['name']+"</label></div>");
        }
    });
});

/*
 * getIsBindInfo 获取经销商授权信息
 */
function getIsBindInfo(){
    $.post("<{:U('getIsBindInfo')}>" , bindInfo , function(data){
        if(data['status'] == 0){
            $('#bindInfo').html('经销商已获得授权');
            $('#bindInfo').removeClass("alert-danger").addClass("alert-info");
            $('#bindBtn').hide();
        }else{
            $('#bindInfo').html(data['info']);
            $('#bindInfo').removeClass("alert-info").addClass("alert-danger");
            $('#bindBtn').show();
        }
    });
}

/**
 * 判断数组内容是否有效
 */
function validValue(){
    if(bindInfo['brandId'] == 0){
        $.scojs_message('请点击选择品牌', $.scojs_message.TYPE_ERROR);
        return false;
    }

    return true;
}

/**
 * 绑定跳转按钮
 */
$('#productBtn').on('click' , function(){
    $('#<{$cId}>').load("<{:U('agent')}>" , {"cId":"<{$cId}>" , "type":"product"});
   
});

$("#brand-page > ul > li > a").on('click' ,function(){
    var _HREF = $(this).attr('href');       

   //加载页面
    $("#<{$cId}>").load(_HREF,
    {
        'cId'  : '<{$cId}>' ,
        'type' : '<{$type}>'
    });                       
    return false;
});
</script>