<div class="panel">
  <div class="panel-body">
    <div id="web"></div>
    <div class="row">
        <div class="col-md-5">
            <button class="btn btn-info" style="margin-bottom:10px;" onclick="showWeb('add')">
                添加网店
            </button>
        </div>
        <div class="col-md-3 pull-right">
            <div class="form-group">
                <select class="form-control" id='bindDealerSelect'>
                    <option value='all'>所有经销商</option>
                    <volist name='bindType' id='items'>
                      <option value='<{$items.id}>'><{$items.dealerName}></option>
                    </volist>
                </select>
            </div>
        </div> 
    </div>   
    <table class="table table-hover ">
        <thead>
            <tr>
                <th width='10%'>序号</th>
                <th width='20%'>网店名称</th>
                <th width='50%' >绑定经销商</th>
                <th width='20%' class='text-center'>操作</th>
            </tr>
        </thead>

        <tbody>
            <volist name="item" id="listItem" key="k">
                <tr>
                    <td><{$k}></td>
                    <td style="word-break: break-all;"><{$listItem.electriName}></td>
                    <td style="word-break: break-all;"><{$listItem.dealerName}></td>
                    <td class='text-center'>
                        <span><a onclick="showWeb(<{$listItem.id}>)">编辑</a></span>
                        <span><a onclick="webHandle(<{$listItem.id}> , 'delete')">删除</a></span>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div id="electricity-page" class='text-center'>
        <ul class="pagination"><{$page}></ul>
    </div>
  </div>
</div>
<script type="text/javascript">
    /**
     * 网店列表分页显示
     * @author 蒋东芸
     * 2014/4/15
     */
    $("#electricity-page > ul > li > a").on('click',function(){
        var _HREF = $(this).attr('href');       

        //加载页面
        $("#electricity").load(_HREF);
        return false;
    });
    $("#editWeb").load("<{:U('web')}>");
    function showWeb(id){
        $("#editWeb").load("<{:U('web')}>" , {"id":id} , function(){
            $('#web').modal('show');
        });
    }
    /**
     * 
     * 绑定网店选择
     * @author 蒋东芸
     * 2014/6/16
     */
    $('#webSelect').on('change',function(){
         var webId = $(this).val(); 
         var id = $('#bindDealerSelect').val();

        if(webId === 'all')
            $('#electricity').load("<{:U('electricity')}>");
        else{
            $('#electricity').load("<{:U('electricity')}>",{'webId': webId,'id': id},function(){
                $('#webSelect').val(webId);
                $('#bindDealerSelect').val(id);

            });
        }
                 
    });
    /**
     * 绑定经销商选择
     * @author 蒋东芸
     * 2014/6/16
     */
    $('#bindDealerSelect').on('change',function(){
         var id = $(this).val();
         var webId =  $('#webSelect').val();
        if(id === 'all')
            $('#electricity').load("<{:U('electricity')}>");
        else{
            $('#electricity').load("<{:U('electricity')}>",{'webId': webId,'id': id},function(){
                $('#bindDealerSelect').val(id);
                $('#webSelect').val(webId);
            });   
        }
    });
</script>