<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    说明：
        <p>切换至产品后，要先选择品牌，再点击选择产品，最后选择经销商进行授权。</p>
</div>
<button type="button" class="btn btn-primary pull-left" id="showAgentDealerModal" style="margin-bottom:20px;">添加经销商授权</button>
<button type="button" class="btn btn-primary pull-right" id="productBtn" style="margin-bottom:20px;">切换至授权品牌</button>

<div class="modal fade" id="agentDealerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加经销商授权</h4>
            </div>
            <div class="modal-body" style="word-break: break-all;">
                <div id="agentDealerList">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary agentAddBtn">确认添加</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="panel" style="clear:both;">
    <div class="panel-body">
        <div class="row" style="margin-top:15px;">
            <div class="col-md-4">
                品牌：
                <select class="form-control sort-responseType" id="brand-select">
                    <volist name="brand" id="item">
                        <if condition="$item.name neq ''">
                            <option value="<{$item.id}>"><{$item.name}></option>
                        </if>
                    </volist>
                </select>
                <h3>产品列表</h3>
                <div class="list-group" id="product-list" style="word-break: break-all;">
                </div>
                <div class='text-left' id="product-page">
                    <ul class="pagination"><{$page}></ul>
                </div>
            </div>
            <div class="col-md-4" style="margin-left:50px;">
                <h3>获得授权经销商列表</h3>
                <div class="list-group" id="dealer-list" style="word-break: break-all;">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var bindInfo = {
    "brandId"    :  $('#brand-select').val()  , 
    "productId"  :  -1 ,
    "dealerId"   :  $('#dealerSelect').val() , 
    "type"       :  "<{$type}>"
};

var productOnClick = false;

showProductList();

/**
 * 绑定添加授权按钮事件
 */
$('#showAgentDealerModal').on('click' , function(){
    if(!productOnClick){
       $.scojs_message("请先选择产品再点击此按钮。", $.scojs_message.TYPE_ERROR);
        return;
    }else{
        $('#agentDealerModal').modal('show');
    }
});

//显示产品列表
function showProductList(){
    var brandId = G("brand-select").value;

    if(brandId == ""){
        return;
    }

    var arr = {
        "id" : brandId
        };

    $.post("<{:U('getProductFromBrandID')}>" , arr , function(data){
        $('#product-list').html('');

        for(var i = 0;i < data.length;i++){
            $('#product-list').append("<a class='list-group-item productGroup' style='cursor:pointer;' id='"+data[i]['id']+"'>"+data[i]['name']+"</a>");
        }

        /*
         *绑定经销商选择事件
         */
        $('.productGroup').on('click' , function(){
            //判断产品按钮是否被点击。
            productOnClick = true;

            var productId = $(this).attr("id");
            bindInfo['productId'] = productId;

            $('.productGroup').removeClass("active");
            $(this).addClass("active");

            var arr = {
                "brandId" : brandId ,
                "type" : "<{$type}>" ,
                "productId" : $(this).attr('id') ,
                "dealerId" : bindInfo['dealerId']
            };

            $.post("<{:U('getBindDealer')}>" , arr , function(data){
                $('#dealer-list').html('');
                for(var i = 0;i < data['bind'].length;i++){
                    $('#dealer-list').append("<a class='list-group-item' id='"+data['bind'][i]['id']+"'>"+data['bind'][i]['name']+"</a>");
                }

                $('#agentDealerList').html('');
                for(var i = 0;i<data['unbind'].length;i++){
                    $('#agentDealerList').append("<div class='checkbox'><label><input type='checkbox' id='agentDealerCheckbox' value="+data['unbind'][i]['id']+">"+data['unbind'][i]['name']+"</label></div>");
                }
            });
        });
    });
}

/**
 * 绑定品牌选择事件
 */
$('#brand-select').on('change' , function(){
    productOnClick = false;

    $('#dealer-list').html('');
    bindInfo['brandId'] = $(this).val();
    showProductList();
});

/**
 * 绑定授权按钮事件
 */
$('.agentAddBtn').on('click' , function(){
    var dealerArr = '';
    $('#agentDealerCheckbox:checked').each(function(){
        dealerArr += $(this).val() + ',';
    });

    bindInfo['dealerId'] = dealerArr;


    $.post("<{:U('bindInfoHandle')}>" , bindInfo , function(data){
        if(data['status'] == 0){
            $.scojs_message('授权成功', $.scojs_message.TYPE_OK);
            $('#agentDealerModal').modal('hide');
            $('#agentDealerModal').on('hidden.bs.modal', function (e) {
                $("#agent").load("<{:U('agent')}>" , {"cId" : "<{$cId}>" , "type":"<{$type}>"}); 
            });
        }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
    });
});

/**
 * 判断数组内容是否有效
 */
function validValue(){
    if(bindInfo['productId'] == -1){
        $.scojs_message('请点击选择产品', $.scojs_message.TYPE_ERROR);
    }

    return true;
}

/**
 * 绑定跳转按钮
 */
$('#productBtn').on('click' , function(){
    $('#<{$cId}>').load("<{:U('agent')}>" , {"cId":"<{$cId}>" , "type":"brand"});
});
</script>