<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5 form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">经销商：</label>
                    <div class="col-sm-8">
                        <select class="form-control" id='stockDealerSelect'>
                            <option value="all">当前库存</option>
                            <volist name="dealer" id="item">
                                <option value="<{$item.id}>"><{$item.name}></option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5 form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">产品：</label>
                    <div class="col-sm-8">
                        <select class="form-control" id='productSelect'>
                            <option value="all">全部</option>
                            <volist name="result" id="item">
                                <option value="<{$item.id}>"><{$item.name}></option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info" id="outModalBtn">产品出货</button>
            <div id="outModalShow"></div>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>产品名称</th>
                <th>库存数</th>
            </tr>
            </thead>

            <tbody>
                <volist name="result" id="item">
                    <if condition="$item.count neq null">
                        <tr>
                            <td width="90%"><{$item.name}></td>
                            <td><{$item.count}></td>
                        </tr>
                    </if>
                </volist>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $('#productSelect').on('change' , function(){
        var arr = {
            "cId" : "<{$cId}>" ,
            "dealerId" : $('#stockDealerSelect').val() ,
            "productId" : $(this).val()
        };

        $("#stock").load("<{:U('stock')}>" , arr , function(){
            $('#productSelect').val(arr['productId']);
            $('#stockDealerSelect').val(arr['dealerId']);
        });
    });

    //绑定经销商选择下拉菜单
    $('#stockDealerSelect').on('change' , function(){
        var arr = {
            "cId" : "<{$cId}>" , 
            "productId" : $('#productSelect').val() ,
            "dealerId" : $(this).val()
        };

        $("#stock").load("<{:U('stock')}>" , arr , function(){
            $('#productSelect').val(arr['productId']);
            $('#stockDealerSelect').val(arr['dealerId']);
        });
    });

    //绑定产品出货按钮
    $('#outModalBtn').on('click' , function(){
        $('#outModalShow').load("<{:U('sell')}>" , {} , function(){
            $('#sellModal').modal('show');
        });
    });
</script>