<ul class="nav" id='column-li-ul'>
<volist name="menuArr" id="item" key='i'>
	<li style="border-bottom: 1px solid #CCC;" id='root-menu-<{$item.id}>' class='root-menu-li'>
        <a href="javascript:void(0)" class='name'>
        	<span class='menu-name'><{$item.name}></span>
        	<span class="glyphicon glyphicon-remove pull-right del-icon icon"></span>
            <span class="glyphicon glyphicon-edit pull-right edit-icon icon" onclick="editMenuName(this , 4)">&nbsp;</span>
            <span class="glyphicon glyphicon-plus pull-right add-icon icon">&nbsp;</span>
        </a>
        <ul class="nav">
        	<volist name="item['subitem']" id='subItem' key='j'>
            	<li id='menu-sub-<{$subItem.id}>' style='padding-left:10px;'>
            		<a href="javascript:void(0)" class='name'>
            			<span class='menu-name'><{$subItem.name}></span>
            			<span class="glyphicon glyphicon-remove pull-right del-icon icon"></span>
            			<span class="glyphicon glyphicon-edit pull-right edit-icon icon" onclick="editMenuName(this , 7)">&nbsp;</span>
            		</a>
            	</li>
        	</volist>
        </ul>
    </li>
</volist>
</ul>
<script>
	$('.icon').hide();
	$('#column-li-ul').on('mouseover','.name', function(){
		$(this).find('.icon').show();
	});
	$('#column-li-ul').on('mouseleave','.name', function(){
		$(this).find('.icon').hide();
	});

    $('#column-li-ul').on('click', '.del-icon', function(event){
        
        if(confirm("是否确认删除菜单（如删除一级菜单将会将此一级菜单下的所有二级菜单删除！）")){
            var item = $(this).parent().parent();
            var idArr = item.attr('id').split("-");
            var params = {
                id : idArr[2]
            }
                       
           $.post(
                "<{:U('Brand/delColumn')}>",
                params,
                function(data, textStatus){
                    if(data['data'] === 0){
                        item.remove();
                    }
                    else{
                        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                    }
                }) 

            $('#menu-reply').empty();
            event.stopPropagation();
        }
    })

    $('#column-li-ul').on('click', '.name', function(){
        var itemLi = $(this).parent();
        var idArr = itemLi.attr('id').split("-");

        $('.name').removeClass('item-active');
        $(this).addClass('item-active');

        var params = {
            id : idArr[2]
        }
        $('#menu-reply').load(
            "<{:U('Brand/showColumnHtml')}>",
            params, function(){});
    })
</script>   