<if condition="$info.obj eq 0"> 
	<h4 class='text-center'>此一级菜单包含二级菜单，不可编辑！</h4>
<else /> 
	<p>
		<div class="form-group">
	    <label for="exampleInputEmail1">栏目简介</label>
	    <input type="info" class="form-control" id="columninfo" placeholder="<{$res.introduce}>">
	  </div>
	  
	  <div class="form-group">
      <img src="<{$res.image}>" class="img-thumbnail default-img" id="showImg">
	    <input type="file" id="column-img-input">
	  </div>

    <button class="btn btn-default" id="addC">提交</button>
		
	</p>
  <script>
  var themeAdd = {
    'image':""
  };
   $("#column-img-input").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : ThemefunComplete,
          onUploadStart :  readyUpload
      });
  function readyUpload(file){
      var old = themeAdd['themeImg'];
      if(old){
          var params = {
              timestamp : '<{$timestamp}>',
              token     : '<{$token}>',
              oldFile   : old
          };
          $("#msg-img-input").uploadify("settings", "formData", params);
      }
  }
  //图片上传发生的事件
  function ThemefunComplete(file, data, response) {
    var obj = eval ("(" + data + ")");
    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $("#showImg").attr('src', imgUrl);
      themeAdd['image'] = imgUrl;
      
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
    }
  }

  $('#addC').on('click',function(){

    themeAdd['introduce']=$('#columninfo').val().trim();

    themeAdd['id']='<{$info.id}>';

    $.post("<{:U('Brand/addColumnInfo')}>",themeAdd,function(data, textStatus){
        if(data['data'] === 0){
            $.scojs_message(data['info'], $.scojs_message.TYPE_OK);
          }
          else{
              $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
      })
  })
  
	</script>
</if>