<extend name="Public:Base" />
<block name="title">
    <title>微防伪</title>
</block>

<block name="css">
    <link href="__CSS__/Admin-Exchange.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/header.css" rel="stylesheet" type="text/css" />
</block>

<block name="js">
    <script type="text/javascript" src="__JS__/jquery-1.7.2.js"></script>
        <script type="text/javascript">

//设置输入5个字输自动空格
function setspace(){
    document.getElementById('fwcode').value = document.getElementById('fwcode').value.replace(/\D+/g,'');

    document.getElementById('fwcode').value =document.getElementById('fwcode').value.replace(/\s/g,'').replace(/(\d{5})(?=\d)/g,"$1  ");;
    
    }

function reloadCode() {
 var Pnk = document.getElementById("checkCodeImg");
 Pnk.src = Pnk.src +'?';
}
    
function searchreturn(){
    var gk=event.keyCode; 
  if(gk==13)   
  { 
    fwSearch();
  }
}

function checkExchange(){
    document.getElementById("fwcode").value = document.getElementById("fwcode").value.replace(/\s/g, '');
    if(document.getElementById("fwcode").value.length == 20){
        var data = {
            "fwcode":document.getElementById("fwcode").value , 
            "timestamp" : '<{$timestamp}>' , 
            "token" : '<{$token}>'
        };
        
        $.post("<{:U('FwAjax/exchangeHandle')}>", data,function(data){
            document.getElementById("code").innerHTML = "防伪码："+document.getElementById("fwcode").value;
            document.getElementById("prizeInfo").innerHTML = "<p>"+data["info"]+"</p>";
            
            if(data["status"] == 0){
                document.getElementById("prizeInfo").innerHTML += "<button onclick='exchange("+data["id"]+")'>兑奖</button>";
            }
            
            if(data["status"] == 1){
                document.getElementById("prizeInfo").innerHTML += "<p>兑奖奖品："+data["prize"]+"</p>";
            }
            document.getElementById("fwcode").value = "请在此输入防伪编码";
        });
    }else{
        alert("请输入20位防伪编码");
        document.getElementById("fwcode").value = "请在此输入防伪编码";
    }
}

function exchange(id){
    if(confirm("是否确认兑奖")){
        var data = {
            "id" : id
        };
            $.post("<{:U('exchangeLog')}>", data,function(data){
                alert(data["info"]);
            });
    }
}
        </script>
</block>

<block name="class-title">
    <div id="class-title">防伪管理</div>
</block>

<block name="left">
    <div id="left-menu">
                    <ul>
                        <li><a href="__MODULE__/Fw/">基本信息</a></li>
                        <li><a href="__MODULE__/Fw/Lucky">抽奖设置</a></li>
                        <li><a href="__MODULE__/Fw/Exchange/">防伪码兑奖</a></li>
                    </ul>
                </div>
</block>

<block name="right">
    <div id="right-title">防伪码兑奖</div>
                <div id="right-form">
                    <input type="text" id="fwcode" name="CODESTR"  value="请在此输入防伪编码" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" onkeyup="setspace()" size="50" maxlength="26" onkeydown="ReturnInput()" />
                    <br/><button onclick="checkExchange()">查询</button>
                </div>
                <div id="prizeMain">
                    <div id="code"></div>
                    <div id="prizeInfo"></div>
                </div>
</block>