<script>
  var result = <{:json_encode($dealer)}>;
</script>
<div class="modal fade" id="dealerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">经销商回复</h4>
            </div>
            <div class="modal-body">
                <textarea type="text" class="form-control dealerReply" placeholder="在此输入经销商回复" rows="1"><{$dealer['dealer_reply']}></textarea>
                <p>可用参数：</p>
                <button type="button" class="btn btn-default btn-sm key dealername">经销商名称</button>
                <button type="button" class="btn btn-default btn-sm key cktime">出库时间</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="dealerHandle()">确认</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script>
function dealerHandle(){
  var reply = $(".dealerReply").val().trim();

  if(reply == ""){
    $.scojs_message('经销商回复不能为空', $.scojs_message.TYPE_ERROR);
    return;
  }

  result['dealer_reply'] = reply;

  $.post("<{:U('dealerReplyUpdate')}>" , result , function(data){
    if(data['status'] == 0){
      $.scojs_message('修改经销商回复成功', $.scojs_message.TYPE_OK);
      $('#dealerModal').modal('hide');
    }else{
      $.scojs_message('修改经销商回复失败', $.scojs_message.TYPE_ERROR);
    }
  });
}
</script>