<extend name="Public:Base" />
<block name="title">
    <title>微防伪</title>
</block>

<block name="css">
    <link href="__CSS__/Admin-ChangeMsg.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/header.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
</block>

<block name="js">
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/jquery-1.7.2.js"></script>
<script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    function msgHandle() {
        arrInfo[0]["timestamp"] = '<{$timestamp}>';
        arrInfo[0]["token"]     = '<{$token}>';

        $.post("<{:U('FwAjax/FwMsgHandle')}>", arrInfo[0],
        function(data) {
            if (data["status"] == 0) {
                alert("修改成功！");
                location.replace("<{:U('index')}>");
            }else{
                alert(data["info"]);
            }
        });
    }
    
    function addMsg() {
        if (keyArr[0]["name"] == "") {
            alert("请输入规则名！");
            return;
        }

        if (keyArr[0]["product"] == "") {
            alert("请添加产品！");
            return;
        }

        if (keyArr[0]["rightContent"] == "" || keyArr[0]["repertContent"] == "") {
            alert("请输入回复内容！");
            return;
        }

        if (keyArr[0]["rightImg"] == "" || keyArr[0]["repertImg"] == "") {
            alert("请上传图片！");
            return;
        }

        keyArr[0]["handleType"] = "add";
        keyArr[0]["timestamp"]  = '<{$timestamp}>';
        keyArr[0]["token"]      = '<{$token}>';

        $.post("<{:U('FwAjax/addMsg')}>", keyArr[0],
        function(data) {
            if (data["status"] == 0) {
                alert("添加成功");
                window.location.reload();
            } else {
                alert(data["info"]);
            }
        });
    }
    
    function deleteRule(index) {
        if (confirm("是否确认删除")) {
            keyArr[index]["timestamp"]  = '<{$timestamp}>';
            keyArr[index]["token"]      = '<{$token}>';

            $.post("<{:U('FwAjax/deleteRule')}>", keyArr[index],
            function(data) {
                if (data["status"] == 0) {
                    alert("删除成功");
                    window.location.reload();
                } else {
                    alert(data["info"]);
                }
            });
        }
    }

    function deleteReviewRule(index) {
        if (confirm("是否确认删除")) {
            reviewArr[index]["timestamp"]  = '<{$timestamp}>';
            reviewArr[index]["token"]      = '<{$token}>';

            $.post("<{:U('FwAjax/deleteRiviewRule')}>", reviewArr[index],
            function(data) {
                if (data["status"] == 0) {
                    alert("删除成功");
                    window.location.reload();
                } else {
                    alert(data["info"]);
                }
            });
        }
    }
    
    function editRule(index) {
        if (index == "default") {
            defaultArr["timestamp"]  = '<{$timestamp}>';
            defaultArr["token"]      = '<{$token}>';

            $.post("<{:U('FwAjax/editDefaultRule')}>", defaultArr,
            function(data) {
                if (data == 0) {
                    alert("修改成功");
                    window.location.reload();
                } else {
                    alert(data["info"]);
                }
            });

            return;
        }

        keyArr[index]["product"] = "";
        var checked = document.getElementsByName("selectKey-" + index);
        for (var i = 0; i < checked.length; i++) {
            keyArr[index]["product"] += checked[i].value + ",";
        }
        keyArr[index]["product"] = keyArr[index]["product"].substr(0, keyArr[index]["product"].length - 1);

        keyArr[index]["timestamp"]  = '<{$timestamp}>';
        keyArr[index]["token"]      = '<{$token}>';

        $.post("<{:U('FwAjax/editRule')}>", keyArr[index],
        function(data) {
            if (data == 0) {
                alert("修改成功");
                window.location.reload();
            } else {
                alert(data["info"]);
            }
        });
    }
</script>
<include file="Js:ChangeMsg" />
</block>

<block name="class-title">
    <div id="class-title">防伪基本信息</div>
</block>

<block name="left">
    <div id="left-menu">
                    <ul>
                        <li><a href="__MODULE__/Fw/">基本信息</a></li>
                        <li><a href="__MODULE__/Fw/Lucky">抽奖设置</a></li>
                        <li><a href="__MODULE__/Fw/Exchange/">防伪码兑奖</a></li>
                    </ul>
                </div>
</block>

<block name="right">
    <if condition="!empty($review)">
                    <div id="review-title"><a onclick='showReviewDiv()'>信息审核中，点击查看</a></div>
                    <div id="review" style="display:none;">
                        <volist name="review" id="ruleItem" key="j">
                        <script type="text/javascript">
                            reviewArr[<{$j}>] = <{:json_encode($ruleItem)}>;
                        </script>
                        <div class="rule-main">
                            <div class="rule-title" onclick="showReviewMain('<{$ruleItem[id]}>' , '<{$j}>' , reviewArr[<{$j}>]['checked'])">审核中：<{$ruleItem['name']}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作类型：<{$ruleItem['handleType']}><font>展开</font></div>
                            <div class="key-main" id="key-review-<{$ruleItem[id]}>">
                                <div class="key-title">
                                    <ul id="ul-<{$ruleItem[id]}>">
                                        <li style='font-weight: bold;background: #fff;padding:5px 0px 0px 0px;'>产品：</li>
                                        <volist name="ruleItem['product']" id="keyItem">
                                            <li><{$keyItem}></li>
                                        </volist>
                                    </ul>
                                </div>
                                <div id="not-show"></div>
                            </div>

                            <div class='rule-big-main' id="review-big-<{$ruleItem['id']}>">
                                <div class='rule-big-title'>规则名："<{$ruleItem['name']}>"</div>
                                <div class="rule-big-left">
                                    <div class="left-key-title">产品：</div>
                                    <div class="left-key-list" id="list-<{$j}>">
                                        <ul id="review-list-ul-<{$j}>">
                                            <volist name="ruleItem['product']" id="keyItem">
                                                <li><{$keyItem}></li>
                                            </volist>
                                        </ul>
                                    </div>
                                    <div class="left-key-add"></div>
                                </div>
                                <div class="rule-big-right">
                                    <div class="right-response-title"><button onclick="showReviewMsg('right' , <{$j}>)">正确查询</button><button onclick="showReviewMsg('repert' , <{$j}>)">重复查询</button>
                                        <if condition="$ruleItem.type eq 'default'">
                                            <button onclick="showReviewMsg('error' , <{$j}>)">错误查询</button>
                                            <div id="review-error-msg-<{$j}>" style="display:none;"><{$ruleItem["defaultError"]}></div><div id="review-error-img-<{$j}>" style="display:none;"><{$ruleItem["defaultErrorImg"]}></div>
                                        </if>
                                        <div id="review-right-msg-<{$j}>" style="display:none;"><{$ruleItem["rightContent"]}></div><div id="review-right-img-<{$j}>" style="display:none;"><{$ruleItem["rightImg"]}></div><div id="review-repert-msg-<{$j}>" style="display:none;"><{$ruleItem["repertContent"]}></div><div id="review-repert-img-<{$j}>" style="display:none;"><{$ruleItem["repertImg"]}></div>
                                    </div>
                                    <div class="right-response-text" id="response-text-<{$j}>">
                                            <div id="phone" style="background-image:url(__IMAGE__/samsun-bg.png);">
                                                <div id='review-title-<{$j}>' class="msg-title">正确提示</div>
                                                <div id="review-img-main-<{$j}>" class="msg-img-main"><img class='msg-img-upload' id="review-img-<{$j}>" src="<{$ruleItem['rightImg']}>"/></div>
                                                <div id="text-review-<{$j}>" class="text-msg" onchange="changeText(<{$j}>)"><{$ruleItem["rightContent"]}></div>
                                            </div>
                                    </div>
                                    <div class="left-key-add"></div>
                                </div>
                                <div id="not-show"></div>
                                <div id="handleBtn"><div onclick="deleteReviewRule(<{$j}>)">删除</div></div>
                            </div>
                        </div>
                    </volist>
                </div>
                </if>
                
            	<script>
                                var defaultArr = <{:json_encode($defaultArr)}>;
                                defaultArr["checked"] = false;
                                defaultArr["textType"] = "Right";
            	</script>
            	<div class="rule-main">
                        <div class="rule-title" onclick="showMain('default' , 'default' , defaultArr['checked'])">默认提示<font>展开</font></div>
                        
                        <div class='rule-big-main' id="rule-big-default">
                            <div class="rule-big-left">
                                <div class="left-key-title"></div>
                                <div class="left-key-list" id="list-default">
                                    <button onclick="showMsg('Right' , 'default')">正确查询</button><button onclick="showMsg('Repert' , 'default')">重复查询</button><button onclick="showMsg('Error' , 'default')">错误查询</button>
                                
                                <input type="file" name="msg-img-input-default" id="msg-img-input-default" class="msg-img-input" size="28" multiple="true" style="float:left;margin-top:6px;"/>
                        
                                <script>
                                        $("#msg-img-input-default").uploadify({
                                                    swf           : '__PUBLIC__/uploadify/uploadify.swf',
                                                    uploader      : '__MODULE__/Public/file/dir/Fw',
                                                    buttonText    : '点击上传图片',
                                                    method        : 'post',
                                                    onUploadSuccess    : funComplete，
                                                    onUploadStart :  readydefaultUpload 

                                                });
                                     //图片上传发生的事件
                                     function readydefaultUpload(file){
                                        var old = G('msg-img-default').src;
          
                                        var old = getFileName(old);
          
                                        if(old){
                                        var params = {
                                        timestamp : '<{$timestamp}>',
                                        token     : '<{$token}>',
                                        oldFile   : old
                                         }
                                        $("#msg-img-input-default").uploadify("settings", "formData", params);
                                        }
                                    }
                                    function funComplete(file, data, response) {
                                        var obj = eval ("(" + data + ")");
                                        defaultArr["default" + defaultArr["textType"] + "Img"] = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                        G('msg-img-default').src = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                        document.getElementById(defaultArr["textType"] + "-img-default").innerHTML = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                    }
                                </script>
                                <style>
                                    #msg-img-input-default{float:left;margin-top:20px;margin-left:68px;}
                                </style>
                                </div>
                                <div class="left-key-add"></div>
                            </div>
                            <div class="rule-big-right">
                                <div class="right-response-title">
                                    <div id="Right-msg-default" style="display:none;"><{$defaultArr["defaultRight"]}></div><div id="Right-img-default" style="display:none;"><{$defaultArr["defaultRightImg"]}></div><div id="Repert-msg-default" style="display:none;"><{$defaultArr["defaultRepert"]}></div><div id="Repert-img-default" style="display:none;"><{$defaultArr["defaultRepertImg"]}></div><div id="Error-msg-default" style="display:none;"><{$defaultArr["defaultError"]}></div><div id="Error-img-default" style="display:none;"><{$defaultArr["defaultErrorImg"]}></div>
                                
                                </div>
                                <div class="right-response-text" id="response-text-default">
                                	<div id="phone" style="background-image:url(__IMAGE__/samsun-bg.png);">
                                            <div id='msg-title-default' class="msg-title">正确提示</div>
                                            <div id="msg-img-main-default" class="msg-img-main"><img class='msg-img-upload' id="msg-img-default" src="<{$defaultArr['defaultRightImg']}>" /></div>
                                            <textarea id="text-msg-default" class="text-msg" onchange="changeText('default')"><{$defaultArr["defaultRight"]}></textarea>
                                        </div>
                                </div>
                                <div class="left-key-add"></div>
                            </div>
                            <div id="not-show"></div>
                            <div id="handleBtn"><div onclick="editRule('default')">完成</div></div>
                        </div>
                    </div>
                
                
                <div class="addNew" onclick="showNewKey()">添加规则</div>
                
                    <div class="rule-main" id="rule-new">
                        <div class="rule-title">新规则</div>
                        <div class='rule-big-main' id="rule-big-0">
                            <div class='rule-big-title'>规则名：<input type="text" name="name-0" id="name-0" value="" onkeyup="changename('0' , '0')" size="60"/></div>
                            <div class="rule-big-left">
                                <div class="left-key-title">产品：
                                    <select id="select-0">
                                        <volist name="product" id="productItem">
                                            <option value="<{$productItem['product']}>"><{$productItem['product']}></option>
                                        </volist>
                                    </select>
                                    <input type="button" name="addKeyword" onclick="addKeyword('0' , '0')" value="添加" style="cursor:pointer;"/></div>
                                <div class="left-key-list" id="list-0">
                                    <ul id="list-ul-0">
                                    </ul>
                                </div>
                                <div class="left-key-add">
                                	<button onclick="deleteKey('0' , '0')" style="cursor:pointer;">删除选中</button></div>
                            </div>
                            <div class="rule-big-right">
                                <div class="right-response-title"><button onclick="showMsg('right' , 0)">正确查询</button><button onclick="showMsg('repert' , 0)">重复查询</button>
                                    <div id="right-msg-0" style="display:none;"></div><div id="right-img-0" style="display:none;"></div><div id="repert-msg-0" style="display:none;"></div><div id="repert-img-0" style="display:none;"></div>
                                <input type="file" name="msg-img-input-0" id="msg-img-input-0" class="msg-img-input" size="28" multiple="true"/>
                        
                                <script>
                                        $("#msg-img-input-0").uploadify({
                                                    swf           : '__PUBLIC__/uploadify/uploadify.swf',
                                                    uploader      : '__MODULE__/Public/file/dir/Fw',
                                                    buttonText    : '点击上传图片',
                                                    method        : 'post',
                                                    onUploadSuccess    : funComplete ,
                                                    onUploadStart :  readyMinUpload 
                                                });
                                     //图片上传发生的事件
                                     function readyMinUpload(file){
                                        var old = G('msg-img-0').src;

                                        var old = getFileName(old);
    
                                        if(old){
                                          var params = {
                                              timestamp : '<{$timestamp}>',
                                              token     : '<{$token}>',
                                              oldFile   : old
                                            }
                                          $("#msg-img-input-0").uploadify("settings", "formData", params);
                                        }
                                      }
                                    function funComplete(file, data, response) {
                                        var obj = eval ("(" + data + ")");
                                        keyArr[0][keyArr[0]["textType"] + "Img"] = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                        G('msg-img-0').src = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                        document.getElementById(keyArr[0]["textType"] + "-img-0").innerHTML = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                    }
                                </script>
                                <style>
                                    #msg-img-input-0{float:left;margin-top:6px;}
                                </style>
                                </div>
                                <div class="right-response-text" id="response-text-0">
                                    <div id="phone" style="background-image:url(__IMAGE__/samsun-bg.png);">
                                        <div id='msg-title-0' class="msg-title">正确提示</div>
                                        <div id="msg-img-main-0" class="msg-img-main"><img id="msg-img-0" class='msg-img-upload'/></div>
                                        <textarea id="text-msg-0" class="text-msg" onchange="changeText(0)"></textarea>
                                    </div>
                                </div>
                                <div class="left-key-add"></div>
                            </div>
                            <div id="not-show"></div>
                            <div id="handleBtn"><div onclick="addMsg()">完成</div></div>
                        </div>
                    </div>
                
                <volist name="resultMsg" id="ruleItem" key="j">
                    <script type="text/javascript">
                        keyArr[<{$j}>] = <{:json_encode($ruleItem)}>;
                    </script>
                    <div class="rule-main">
                        <div class="rule-title" onclick="showMain('<{$ruleItem[id]}>' , '<{$j}>' , keyArr[<{$j}>]['checked'])">规则<{$j}>：<{$ruleItem['name']}><font>展开</font></div>
                        <div class="key-main" id="key-<{$ruleItem[id]}>">
                            <div class="key-title">
                                <ul id="ul-<{$ruleItem[id]}>">
                                    <li style='font-weight: bold;background: #fff;padding:5px 0px 0px 0px;'>产品：</li>
                                    <volist name="ruleItem['product']" id="keyItem">
                                        <li><{$keyItem}></li>
                                    </volist>
                                </ul>
                            </div>
                            <div id="not-show"></div>
                        </div>
                        
                        <div class='rule-big-main' id="rule-big-<{$ruleItem['id']}>">
                            <div class='rule-big-title'>规则名：<input type="text" name="name-<{$ruleItem['id']}>" id="name-<{$ruleItem['id']}>" value="<{$ruleItem['name']}>" onkeyup="changename(<{$ruleItem['id']}> , <{$j}>)" size="60"/></div>
                            <div class="rule-big-left">
                                <div class="left-key-title">产品：
                                    <select id="select-<{$j}>">
                                        <volist name="product" id="productItem">
                                            <option value="<{$productItem['product']}>"><{$productItem['product']}></option>
                                        </volist>
                                    </select>
                                    <input style="cursor:pointer;margin-left:10px;" type="button" name="addKeyword" onclick="addKeyword(<{$ruleItem['id']}> , <{$j}>)" value="添加"/></div>
                                <div class="left-key-list" id="list-<{$j}>">
                                    <ul id="list-ul-<{$j}>">
                                        <volist name="ruleItem['product']" id="keyItem">
                                            <li><input type='checkbox' name='selectKey-<{$j}>' value='<{$keyItem}>'/><{$keyItem}></li>
                                        </volist>
                                    </ul>
                                </div>
                                <div class="left-key-add">
                                	<button onclick="deleteKey(<{$ruleItem['id']}> , <{$j}>)" style="cursor:pointer;">删除选中</button></div>
                            </div>
                            <div class="rule-big-right">
                                <div class="right-response-title"><button onclick="showMsg('right' , <{$j}>)">正确查询</button><button onclick="showMsg('repert' , <{$j}>)">重复查询</button>
                                    <div id="right-msg-<{$j}>" style="display:none;"><{$ruleItem["rightContent"]}></div><div id="right-img-<{$j}>" style="display:none;"><{$ruleItem["rightImg"]}></div><div id="repert-msg-<{$j}>" style="display:none;"><{$ruleItem["repertContent"]}></div><div id="repert-img-<{$j}>" style="display:none;"><{$ruleItem["repertImg"]}></div>
                                <input type="file" name="msg-img-input-<{$j}>" id="msg-img-input-<{$j}>" class="msg-img-input" size="28" multiple="true" style="float:left;margin-top:6px;"/>
                        
                                <script>
                                        $("#msg-img-input-<{$j}>").uploadify({
                                                   swf           : '__PUBLIC__/uploadify/uploadify.swf',
                                                    uploader      : '__MODULE__/Public/file/dir/Fw',
                                                    
                                                    buttonText    : '上传图片',
                                                    
                                                    method        : 'post',
                                                    
                                                    onUploadSuccess    : funComplete , 
                                                    onUploadStart :  readyMaxUpload
                                                });
                                     //图片上传发生的事件
                                     function readyMaxUpload(file){
                                    var old = G('msg-img-<{$j}>').src;

                                    var old = getFileName(old);
                                    
                                    if(old){
                                      var params = {
                                          timestamp : '<{$timestamp}>',
                                          token     : '<{$token}>',
                                          oldFile   : old
                                        }
                                      $("#msg-img-input-<{$j}>").uploadify("settings", "formData", params);
                                    }
                                  }
                                    function funComplete(file, data, response) {
                                        var obj = eval ("(" + data + ")");
                                        keyArr[<{$j}>][keyArr[<{$j}>]["textType"] + "Img"] = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                        G('msg-img-<{$j}>').src = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                        document.getElementById(keyArr[<{$j}>]["textType"] + "-img-<{$j}>").innerHTML = "__PUBLIC__/Uploads/Fw/m_" + obj[0]['savename'];
                                    }
                                </script>
                                <style>
                                    #msg-img-input-<{$j}>{float:left;margin-top:6px;}
                                </style>
                                </div>
                                <div class="right-response-text" id="response-text-<{$j}>">
                                	<div id="phone" style="background-image:url(__IMAGE__/samsun-bg.png);">
                                            <div id='msg-title-<{$j}>' class="msg-title">正确提示</div>
                                            <div id="msg-img-main-<{$j}>" class="msg-img-main"><img class='msg-img-upload' id="msg-img-<{$j}>" src="<{$ruleItem["rightImg"]}>"/></div>
                                            <textarea id="text-msg-<{$j}>" class="text-msg" onchange="changeText(<{$j}>)"><{$ruleItem["rightContent"]}></textarea>
                                        </div>
                                </div>
                                <div class="left-key-add"></div>
                            </div>
                            <div id="not-show"></div>
                            <div id="handleBtn"><div onclick="editRule(<{$j}>)">完成</div><div onclick="deleteRule(<{$j}>)">删除</div></div>
                        </div>
                    </div>
                </volist>
</block>