<extend name="Public:new-base" />
<block name="title">
  <title>微信防伪设置——微防伪</title>
</block>

<block name="css">
  <!-- Bootstrap core CSS -->
  <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="__CSS__/main.css" rel="stylesheet">
  <script src="__JS__/Public.js"></script>
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/popover.min.js"></script>
</block>

<block name="js">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
    var defaultReview = <{$hasReview}>;
    var itemNum = <{:count($resultArr)}>;
    var reviewNum = <{:count($reviewArr)}>;
    </script>
  </block>

  <block name="right">
    <div id="main">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active">
          <a href="#home" data-toggle="tab">提示语管理</a>
        </li>
        <li>
          <a href="#label" data-toggle="tab">防伪标样管理</a>
        </li>
        <if condition="$admin">
          <li>
            <a href="#review" data-toggle="tab">审核提示语<span class="badge" style="background-color: #D46987;"><{$labelcount}></span></a>
          </li>
        </if>
        <if condition="$admin">
          <li>
            <a href="#Theme" data-toggle="tab">主题管理</a>
          </li>
        </if>
        <li>
          <a href="#share" data-toggle="tab">微信分享</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <button class="btn btn-info" id="dealer-btn" style="margin-top:20px;">编辑经销商回复</button>
          <div id="dealer-main"></div>
          <if condition="$admin">
            <div class="row" style="margin-top:20px;">
              <div class="col-md-5">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="prizeType" class="col-sm-4 control-label">选择企业：</label>
                    <div class="col-sm-8">
                      <select class="form-control" id="company-select" onchange="window.open('<{:U('index')}>/ecid/'+G('company-select').value,'_self')">
                        <volist name='company' id='companyItem'>
                          <option value='<{$companyItem.company_ecid}>'><{$companyItem.company_name}></option>
                        </volist>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-4 col-md-offset-3">
                <div class="input-group">
                  <input type="text" class="form-control" id='id-input' placeholder="搜索企业ID">
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="button" id='search-btn'>搜索</button>
                  </span>
                </div>
              </div>
            </div>
          </if>
          <p>
            <div class="panel panel-info" id="default">
              <div class="panel-heading">默认回复</div>
              <div id="addDefault"></div>
            </div>
          </p>

          <div class="panel-group" id="accordion">
            <div class="panel panel-info">
              <div class="panel-heading">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <h4 class="panel-title">添加新规则</h4>
                </a>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div id="addNew"></div>
              </div>
            </div>
          </div>

          <p>
            <volist name="resultArr" id="resultItem" key="k">
              <div class="panel-group" id="result<{$k}>" style="margin-bottom:10px;">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordio" href="#collapse<{$resultItem.id}>">
                      <h4 class="panel-title">规则名：<{$resultItem.name}><font style="margin-left:20px;" id="bindInfo<{$resultItem.id}>"><{$resultItem.msg}></font></h4>
                      <input type="hidden" id="id<{$k}>" value="<{$resultItem.id}>"/>
                    </a>
                  </div>
                  <div id="collapse<{$resultItem.id}>" class="panel-collapse collapse">
                    <div id="item<{$k}>"></div>
                  </div>
                </div>
              </div>
            </volist>
          </p>
        </div>

        <div class="tab-pane fade" id="label">

        </div>

        <if condition="$admin">
          <div class="tab-pane fade" id="review">
            <if condition="count($reviewArr) eq 0">
              <div class="alert alert-danger" style="margin-top:10px;">没有需要审核的信息</div>
            </if>
            <volist name="reviewArr" id="reviewArr" key="k">
              <div class="panel-group" id="accordion<{$k}>" style="margin-top:10px;">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordio" href="#review<{$k}>">
                      <h4 class="panel-title"><{$reviewArr.companyName}><font style="margin-left:20px;">规则名：<{$reviewArr.name}></font><font style="margin-left:20px;"><{$reviewArr.msg}></font></h4>
                      <input type="hidden" id="reviewId<{$k}>" value="<{$reviewArr.id}>"/>
                    </a>
                  </div>
                  <div id="review<{$k}>" class="panel-collapse collapse">
                    <div id="reviewItem<{$k}>"></div>
                  </div>
                </div>
              </div>
            </volist>
          </div>
        </if>
        <if condition="$admin">
          <div class="tab-pane fade" id="Theme">
            <p></p>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-info" id="add-theme">添加主题</button>
              </div>
            </div>

            <p>
              <div id="addtheme"></div>
            </p>
            <p id="theme-items"></p>
          </div>
        </if>
        <div class="tab-pane fade in active" id="share" style="margin-top:15px;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">分享配置</h3>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label">标题：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="share_title" placeholder="请输入分享标题" value="<{$share['title']}>">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">分享URL：</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="share_url" placeholder="请输入分享URL" value="<{$share['url']}>">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">显示图片：</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <input type='file' id='msg-Img-input' class="form-control" multiple="true"/>
                      <img src="<{$share['img']}>" style='width:300px;' class="img-thumbnail" id="Img">
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">描述：</label>
                  <div class="col-sm-10">
                    <textarea class="form-control default-msg" rows="7" id="share_description"><{$share['description']}></textarea>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <button type="button" class="btn btn-primary" id='save-btn'>保存修改</button>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </block>

  <block name="end-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__JS__/admin-fw.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    $('#fw').addClass("active");

    $("#addDefault").load("<{:U('Fw/divFwResultHandle')}>/ecid/<{$_GET['ecid']}>" , {
      "type":"default" ,
      "index":"default"
    });

    $("#addNew").load("<{:U('Fw/divFwResultHandle')}>/ecid/<{$_GET['ecid']}>" , {
      "type":"new" , 
      "index": "new"
    });

    for(var i = 0;i<itemNum;i++){
      $("#item" + (i+1)).load("<{:U('Fw/divFwResultHandle')}>/ecid/<{$_GET['ecid']}>" , {
        "type":"item",
        "id":G("id"+(i+1)).value , 
        "index":i+1
      });
    }

    $('#label').load("<{:U('label')}>" , {} , function(){
        //激活标签管理
        if("<{$tab}>"){
          $('#myTab li:eq(1) a').tab('show');
        }
      });

    $("#company-select").val("<{$_GET['ecid']}>");

    $('#search-btn').on('click' , function(){
      if(G('id-input').value.trim() != ""){
        window.open("<{:U('index')}>/ecid/"+G('id-input').value,'_self');
      }
    });
      /**
       *绑定编辑经销商回复按钮
       * 2014/4/16
       * 蒋东芸
       */
       $('#dealer-btn').on('click',function(){
        $('#dealer-btn').hide();
        showDealer();
        $('#dealer-btn').show();
      });
       function showDealer(){
        $('#dealer-main').load("<{:U('fwDealer')}>" , {"ecid":"<{$_GET['ecid']}>"} , function(){
          $('#dealerModal').modal('show');
          $(".dealername").bind('click',function(){
            $('.dealerReply').insertContent('{-经销商名称-}');
          });
          $(".cktime").bind('click',function(){
            $('.dealerReply').insertContent('{-出库时间-}');
          });
        });
      }

      function updateFwReply(type , arr){
        var postUrl = "<{:U('msgUpdate')}>";
        arr['handleType'] = type;

        if(isChange === 0){
          $.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
          return false;
        }
        if(type == "default"){
          if(arr["rightReply"].trim() == "" || arr["repertReply"].trim() == "" || arr["errorReply"].trim() == ""){
            $.scojs_message('请输入提示语', $.scojs_message.TYPE_ERROR);
            return;
          }

          if(arr['rightImg'] == "" || arr['repertImg'] == "" || arr['errorImg'] == ""){
            $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
            return;
          }

        }else{
          if(arr["name"].trim() == ""){
            $.scojs_message('请输入规则名', $.scojs_message.TYPE_ERROR);
            return;
          }

          if(arr["rightReply"].trim() == "" || arr["repertReply"].trim() == ""){
            $.scojs_message('请输入提示语', $.scojs_message.TYPE_ERROR);
            return;
          }

          if(arr["productId"] == -1 && (arr["brandId"] == -1 || arr["productId"] == "")){
            $.scojs_message('请绑定品牌或产品', $.scojs_message.TYPE_ERROR);
            return;
          }
          
          if(arr['rightImg'] == "" || arr['repertImg'] == ""){
            $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
            return;
          }
        }

        if(arr['isDealerChange']){
          if(arr['dealerReply'] == ""){
            $.scojs_message('请输入经销商回复', $.scojs_message.TYPE_ERROR);
            return;
          }
        }

        $.post(postUrl, arr,function(data) {
          if (data["status"] == 0) {
            if(type == "new"){
              $("#addNew").load("<{:U('Fw/divFwResultHandle')}>" , {
                "type":"new" , 
                "index": "new" ,
                "ecid":"<{$ecid}>"
              });
              $("#collapseTwo").collapse('hide');
            }else{
              $("#collapse"+arr['id']).collapse('hide');

              for(var i = 0;i<itemNum;i++){
                $("#item" + (i+1)).load("<{:U('Fw/divFwResultHandle')}>" , {
                  "type":"item",
                  "ecid":"<{$ecid}>",
                  "id":G("id"+(i+1)).value , 
                  "index":i+1
                });
              }

              var bind = {"id":arr['id']};

              $.post("<{:U('getBindInfo')}>" , bind , function(data){
                $("#bindInfo"+arr['id']).html(data);
              });
            }

            <if condition="$admin">
            window.location.reload();
                //$.scojs_message('保存成功！', $.scojs_message.TYPE_OK);
                <else />
                $.scojs_message('保存成功，请等待管理员审核！', $.scojs_message.TYPE_OK);
                </if>
              }else{
                $.scojs_message(data["info"], $.scojs_message.TYPE_ERROR);
              }
            });
}

function deleteFwReply(id , ecid , index){
  if(confirm("请确认是本人操作")){
    if(confirm("是否确认删除")){
      var arr = {
        "id" : id ,
        "ecid" : ecid
      };

      $.post("<{:U('msgDelete')}>" , arr , function(data){
        if(data["status"] == 0){
          $.scojs_message('删除成功', $.scojs_message.TYPE_OK);
          if(index != "default" && index != "new"){
            $("#result"+index).remove();
          }
        }else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
      });
    }
  }
}
<if condition="$admin">
  //点击添加主题时加载的HTML
  /**
   * （add-theme）按钮点击addtheme层加载到AddTheme页面
   * @author:蒋东芸
   */
   $('#add-theme').on('click', function(){
    $('#addtheme').load("<{:U('Fw/AddTheme')}>");
  })
  /**
   * （theme-items）层加载到Themeitem页面
   * @author:蒋东芸
   */
   $('#theme-items').load("<{:U('Fw/Themeitem')}>");

   var itemControl = new Array();
    //加载展开时的编辑HTML内容
    function editItem(id, headID){
        //加载时需要传入id变量
        $('#content-' + id).load('<{:U('Fw/themeEdit')}>'+ '/id/' + id, function(){
          itemControl[$('#'+headID).attr('id')] = 1;

          $('#'+headID).children('span.pull-right').text("收起");
        });
      }

    //加展关闭时的HTML内容
    function viewItem(id, headID, bSave, headName){
      $('#content-' + id).load('<{:U('Fw/themeview')}>'+ '/id/' + id, function(){
        itemControl[$('#'+headID).attr('id')] = 0;

        $('#'+headID).children('span.pull-right').text("展开");
      });

      if(bSave){
        var nameArr = $('#'+headID).text().split("：");

        $('#'+headID).html(nameArr[0] + '：' + headName + "<span class='pull-right'>展开</span>");
      }
    }
    </if>

     var shareArr = <{:json_encode($share)}>;
     $("#msg-Img-input").uploadify({
           swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : funBigImgComplete,
          onUploadStart :  readyUpload
        });
        //图片上传前事件
        function readyUpload(file){
            var old = shareArr['img'];

            var old = getFileName(old);
            
            if(old){
              var params = {
                  timestamp : '<{$timestamp}>',
                  token     : '<{$token}>',
                  oldFile   : old
                }
              $("#msg-Img-input").uploadify("settings", "formData", params);
            }
        }
        //图片上传发生的事件
        function funBigImgComplete(file, data, response) {
            var obj = eval ("(" + data + ")");

            if(obj['code'] != 0){
                $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
                return;
            }

            var imgUrl = obj['imgUrl'];

            $.scojs_message("上传成功", $.scojs_message.TYPE_OK);

            shareArr['img'] = imgUrl;
            $('#Img').attr('src', imgUrl);
            noChange = false;
        }

        //绑定保存按钮事件
        $('#save-btn').bind('click' , function(){

            shareArr['title'] = $('#share_title').val().trim();
            shareArr['url'] = $('#share_url').val().trim();
            shareArr['description'] = $('#share_description').val().trim();

            if(!IsUrl('#share_url')){
                $.scojs_message("请输入以http://开头的有效网址！", $.scojs_message.TYPE_ERROR);
                return;
            }
            if(noChange){
              $.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
              return ;
            }

            $.post("<{:U('shareHandle')}>" , shareArr , function(data){
                if(data['status'] == 0){
                    $.scojs_message('修改成功', $.scojs_message.TYPE_OK);
                    noChange = true;
                }else{
                    $.scojs_message('修改失败', $.scojs_message.TYPE_ERROR);
                }
            });
        });
    </script>
    <if condition="$admin">
      <script type="text/javascript">
      for(var i = 0;i<reviewNum;i++){
        $("#reviewItem" + (i+1)).load("<{:U('Fw/divFwReview')}>" , {
          "type":"item",
          "id":G("reviewId"+(i+1)).value ,
          "index":i+1
        });
      }

      function reviewFwReply(arr , mark , index){
        var postUrl = '<{:U('Fw/msgReview')}>';
        arr['pass'] = mark;

        $.post(postUrl, arr,
          function(data) {
            if (data["status"] == 0) {
              $.scojs_message('审核成功！', $.scojs_message.TYPE_OK);
              $("#accordion"+index).remove();
            }else{
              $.scojs_message(data["info"], $.scojs_message.TYPE_ERROR);
            }
          });
      }
      </script>
    </if>

  </block>