<form role="form"  id="form-<{$themeview['id']}>">
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label>主题名：</label>
                <input type="text" class="form-control"  placeholder="在此输入主题名" value="<{$themeview['name']}>" id="Editname">
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="webtype">网站类型：</label>
        <select class="form-control" id="webType" >
          <volist name="themesave" id='vo'>
            <option value='<{$vo['id']}>'><{$vo['type']}></option>
          </volist>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <lable for="lib-name">目录名：</lable>
          <input type="text" class="form-control" placeholder="在此输入目录名"  value="<{$themeview['value']}>" id="Editvalue">
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-6">
    <h5>展示图片</h5>
    <img src="<{$themeview['themeImg']}>" class="img-thumbnail default-img" id="showImg-edit<{$rand}>">
    <label for="exampleInputFile"></label>
    <input type="file" id="msg-img-input-edit<{$rand}>" multiple="true"/>
  </div>
</div>
  <p class="text-right">
    <button type="button" class="btn btn-primary btn-edit-save" id="saveThemeBtn" style="margin-top:10px;">保存修改</button>
    <button type="button" class="btn btn-default btn-edit-cancle" style="margin-top:10px;">收起</button>
  </p>
</form>
<if condition="$admin">
<script type="text/javascript">

var themeview<{$themeview['id']}> = <{:json_encode($themeview)}>;

  $("#msg-img-input-edit<{$rand}>").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '点击上传图片',
          method        : 'post',
          onUploadSuccess    : TeditfunComplete<{$rand}>,
          onUploadStart :  readyUpload
      });
  function readyUpload(file){
        var old = themeview<{$themeview['id']}>['themeImg'];
        if(old){
            var params = {
                timestamp : '<{$timestamp}>',
                token     : '<{$token}>',
                oldFile   : old
            }
            $("#msg-img-input-edit<{$rand}>").uploadify("settings", "formData", params);
        }
    }
  //图片上传发生的事件
  function TeditfunComplete<{$rand}>(file, data, themeview) {
    var obj = eval ("(" + data + ")");
    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
    }else{
      var imgUrl = obj['imgUrl'];
      $("#showImg-edit<{$rand}>").attr('src', imgUrl);
      themeview<{$themeview['id']}>['themeImg'] = imgUrl; 
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
    }
    

  }
//绑定收起按钮事件
  $('#form-<{$themeview['id']}>').on('click', '.btn-edit-cancle', function(){
    viewItem(<{$themeview['id']}>, "item-<{$themeview['id']}>", true, themeview<{$themeview['id']}>['name']);
  })
/**
 * 主题名失去焦点时获取当前内容
 * @author: 蒋东芸
 */
 $("input#Editname").blur(function(){
    themeview<{$themeview['id']}>['name']=$(this).val().trim();
  })
  /**
 * 目录名失去焦点时获取当前内容
 * @author:蒋东芸
 */
 $("input#Editvalue").blur(function(){
    themeview<{$themeview['id']}>['value']=$(this).val().trim();
  }) 
/**
 * 绑定保存按钮事件
 * @author:蒋东芸
 */
  $('#form-<{$themeview['id']}>').on('click', '.btn-edit-save', function(){
    
    $.post(
      "<{:U('Fw/themeEditHandle')}>",
      themeview<{$themeview['id']}>,
      function(data){
        if(data['status'] === 0){
          $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
          viewItem(<{$themeview['id']}>, "item-<{$themeview['id']}>", true, themeview<{$themeview['id']}>['name']);
        }
        else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
        }
      });
  })
</script>
</if>
