<extend name="Public:base" />
<block name="title">
	<title><{$title}></title>
</block>
<block name="top-css">
	<link href="__CSS__/fwShop/contactUs.css" rel="stylesheet" type="text/css" />
</block>	
<block name="picture">
	<div class="carousel">
		<div class="carousel-inner" >
          	<div class="item active" style="height:auto;">
            	<img src="__PUBLIC__/Image/fwShop/contact.png">
          	</div>
      	</div>
    </div>
</block>	
	
<block name="container">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="margin-top:15px;">
				<div class="row">
					<div class="col-md-12">
						<h2 class="heiti" id="title-text">深圳市标准研究院 深圳市市场监管防伪服务中心</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<img class="img-responsive" src="__PUBLIC__/Image/fwShop/address.png" style="margin-top: 15px;">
					</div>
					<div class="col-md-4">
						<div style="height:28px;border-bottom-style:solid;border-bottom-color:#c9caca; border-bottom-width: 10px;"></div>
						<h3 class="heiti">中心信息		
							<span id="triangle-down"></span>		
						</h3>						
						<h4 class="ywzx">业务咨询</h4>
						<p class="ywzx">盛先生</p>
						<h4 style="font-weight: bold;">13602651621</h4>
						<p class="small" style="color:red;font-weight: bold;font-size: 18px;">0755-83997939-33</p>
						<p class="ywzx">何小姐</p>
						<p class="small" style="color:red;font-weight: bold;font-size: 18px;">0755-83323560</p>
						<p class="small" style="color:red;font-weight: bold;font-size: 18px;">83322671 83362319</p>
						<p class="ywzx">官方网站</p>
						<h4 >http://www.sz12365.net</h4>
						<h4 >E-MAIL:kf@sz12365.net</h4>
						<p class="ywzx">办公地址</p>
						<p style="font-size: 18px">深圳市福田区滨河大道3002号无线电管理大厦1102室</p>
					</div>
				</div>

			    <div class="col-md-12" style="border-bottom-style: dotted;border-bottom-width: 1px; margin-top: 30px; margin-bottom: 50px; ">	
				</div>

				<form class="form-horizontal" role="form" style="background-color: #E6E6E6;min-height:400px;padding-top:45px;margin-top: 80px;margin-bottom:50px;">
				  	<div class="form-group"  >
					    <label for="name" class="col-sm-1 control-label"  style=";padding-right: 0">您的姓名</label>
					    <div class="col-sm-3" >
					      <input type="text" class="form-control" id="name" placeholder="" >
					    </div>
					    <label class="col-sm-1" id="especial" >※</label>
					    <label for="companyName" class="col-sm-1 control-label" style="padding: 0">您的公司</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="companyName" placeholder="">
					    </div>
					    <label class="col-sm-1" id="especial">※</label>
					</div>
					<div class="form-group">
					    <label for="phone" class="col-sm-1 control-label" style=";padding: 0">您的电话</label>
					    <div class="col-sm-3">
					      <input type="text" class="form-control" id="phone" placeholder="">
					    </div>
					    <label class="col-sm-1" id="especial">※</label>
					    <label for="position" class="col-sm-1 control-label" style=";padding: 0">您的职务</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="position" placeholder="">
					    </div>
					</div>
					<div class="form-group">
					    <label for="email" class="col-sm-1 control-label" style=";padding: 0">Email</label>
					    <div class="col-sm-3">
					      <input type="email" class="form-control" id="phone" placeholder="">
					    </div>
					    <label for="webUrl" class="col-sm-1 col-sm-offset-1 control-label" style=";padding: 0">公司网址</label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="webUrl" placeholder="">
					    </div>
					</div>
					<div class="form-group">
						<label for="messages" class="col-sm-1 control-label" style="padding: 0">留言内容</label>
						<div class="col-sm-10">
							<textarea type="text" name="name" id="messages" rows="4" class="form-control"> </textarea>
						</div>
					</div>
					<div class="form-group">
					    <div class="col-md-offset-1 col-sm-2">
					      <button type="submit" class="btn btn-primary" style="font-size: 16px;">提交</button>
					    </div>
					    <div class="col-sm-2 col-sm-offset-7"><span style="color:red;font-weight: bold;padding: 0">※</span> 为必填项</div>
					</div>
				</form>
				<h4 class="ywzx">乘车路线</h4>
				<p id="img-text">地铁：罗宝线/1号线 “华强路站” D出口。</p>
				<p style="line-height: 35px;font-size: 15px;color:#777777;">公共汽车：华强南路站 = 13路，32路，33路，38路，317路，385路；无委大厦站 = 23路，28路，38路，52路，73路，229路，312路，337路，353路，366路，369路，372路，382路，K538路，M362路，机场2线；中医院站 = 9路，14路，32路，212路，214路，216路，317路，377路，385路，391路，M348路，N10路，N13路。</p>
			</div>
		</div>
	</div>
</block>


 	<block name="end-js">
		<script type="text/javascript">
			$("#contactus").css("color", "#00a0e9");
		</script>
  	</block>




