<extend name="nifty:Public:Base" />

<block name='title'>网站管理 | E码互联企业管理后台</block>

<block name="css">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__CSS__/public.css" rel="stylesheet">
    
    
</block>

<block name="js">
    <script src="__JS__/Public.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</block>

<block name="content">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab" class="website">网站信息</a></li>
        <li><a href="#advert" data-toggle="tab" class="advert">广告设置</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div id="home"></div>
            <div id="dealerList"></div>
        </div>
        <div class="tab-pane fade" id="advert"></div>
    </div>
 
</block>

<block name="footer-js">
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>  
    <script type="text/javascript">
        $('#group-fw').addClass('active-sub');
        $('#group-fw .collapse').addClass('in');
        $('#menu-fw-website').addClass('active-link');

    
        $("#home").load("<{:U('website')}>");

        $(".website").on('click' , function(){
            $("#home").load("<{:U('website')}>");
        });

        $('#website').addClass("active");
        $(".advert").on('click' , function(){
            $('#advert').load("<{:U('advert')}>");
        });       
    </script>
  
</block>