<div class="row">
  <div class="col-md-12" style="padding-top:20px;">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">栏目设置</h3>
        </div>
        <div class="panel-body">
          <!-- <div class="alert alert-info">
          </div> -->
          <table class="table table-bordered" style="table-layout:fixed;">
            <thead>
              <tr>
                <th width="250">栏目管理<a href="javascript:void(0)" class="pull-right" id='add-column-btn'>添加</a></th>
                <th>设置栏目信息</th>
              </tr>
            </thead>
            <tbody>
              <tr height="400">
                <td id='menu-list'>
                </td>
                <td id='menu-reply'></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
<div class="modal fade" id="add-column-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">栏目名：</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputcolumnName" placeholder="在此输入栏目名">
                    </div>
                  </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id='add-comfom-btn'>确定</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<script type="text/javascript">
        $('#menu-list').load("<{:U('getcolumnSet')}>");
  //模态框隐藏时取消绑定事件
        $('#add-column-modal').on('hidden.bs.modal', function (e) {
            $('#add-comfom-btn').off();
        });

        $('#appIdInput').on('change', function(){
            token['weixin_AppId'] = $(this).val();
        })
        $('#appSecretInput').on('change', function(){
            token['weixin_AppSecret'] = $(this).val();
        })

        //修复问题编号23，弹出框隐藏时清空输入框
        $('#add-column-modal').on('hidden.bs.modal', function (e) {
            $('#inputcolumnName').val('');
        })

        $('#add-column-modal').on('hidden.bs.modal' , function(e){
            $("#inputcolumnName").off();
        });

        $('#add-column-btn').on('click', function(){
            $('#add-column-modal').find('.modal-title').text('添加一级栏目');
            $('#add-column-modal').modal('show');

            //检验菜单名称长度
            $("#inputcolumnName").on('keyup' , function(){
                checkLength("inputcolumnName" , 4);
            });

            var params= {
                'group_id' : 0
            };

            $('#add-comfom-btn').on('click', function(){
                if($('#inputcolumnName').val().trim() == ""){
                    alert("请输入菜单名");
                    $('#inputcolumnName').focus();
                    return;
                }


                params['name'] = $('#inputcolumnName').val();

                $.post(
                    '<{:U("Brand/addcolumn")}>',
                    params,
                    function(data, textStatus){
                        if(data['data'] === 0){
                            $('#menu-list').load("<{:U('getcolumnSet')}>");
                            $('#add-column-modal').modal('hide');
                            $('#inputcolumnName').val('');
                            $('#add-comfom-btn').off();
                        }
                        else{
                            // $('#add-modal').modal('hide');
                            $('#add-column-modal').on('hidden.bs.modal', function () {
                            $('#add-comfom-btn').off();
                            });
                            $('#inputcolumnName').val('');
                            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                        }
                    })
            })
        });

        $('#menu-list').on('click', '.add-icon', function(){
            $('#add-column-modal').find('.modal-title').text('添加二级栏目');
            $('#add-column-modal').modal('show');

            var item = $(this).parent().parent();
            var idArr = item.attr('id').split("-");

            var params= {
                'group_id' : idArr[2]
            };

            $('#add-comfom-btn').on('click', function(){
                if($('#inputcolumnName').val().trim() == ""){
                    alert("请输入栏目名");
                    return;
                }

                params['name'] = $('#inputcolumnName').val();
                $.post('<{:U("Brand/addcolumn")}>',params,function(data, textStatus){
                    if(data['data'] === 0){
                        $('#menu-list').load("<{:U('getcolumnSet')}>");
                        $('#add-column-modal').modal('hide');
                        $('#inputcolumnName').val('');
                        $('#add-comfom-btn').off();
                    }
                    else{
                        // $('#add-modal').modal('hide');
                        $('#add-column-modal').on('hidden.bs.modal', function () {
                        $('#add-comfom-btn').off();
                        });
                        $('#inputcolumnName').val('');
                        $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);

                    }
                })
            })
        })

        function editMenuName(obj , textLength){
            $('#add-column-modal').find('.modal-title').text('修改栏目名称');
            $('#add-column-modal').modal('show');
            //修复问题编号25，修改时在输入框加入原有的值
            $('#inputcolumnName').val($.trim($(obj).parent().text()));

            var item = $(obj).parent().parent();
            var itemA = $(obj).parent();
            var idArr = item.attr('id').split("-");

            var params= {
                id : idArr[2]
            };

            $('#add-comfom-btn').on('click', function(){
                if($('#inputcolumnName').val().trim() == ""){
                    alert("请输入栏目名");
                    return;
                }

                params['name'] = $('#inputcolumnName').val();

                $.post(
                    '<{:U("Brand/editColumnHandle")}>',
                    params,
                    function(data, textStatus){
                        if(data['data'] === 0){
                            $('#menu-list').load("<{:U('getcolumnSet')}>");
                            // window.location.reload();
                            itemA.find('.menu-name').text($('#inputcolumnName').val());
                            $('#add-column-modal').modal('hide');
                            $('#inputcolumnName').val('');
                            $('#add-comfom-btn').off();
                        }
                        else{
                            $('#add-column-modal').modal('hide');
                            $('#add-comfom-btn').off();
                            $('#inputcolumnName').val('');
                            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
                        }
                    })
            })
        }

</script>