<extend name="nifty:Public:Base" />
<block name="title">
    产品管理 | E码互联企业管理后台
</block>

<block name="css">
  <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/sco.js/css/scojs.css" rel="stylesheet">
    <link href="__PUBLIC__/uploadify/uploadify.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__CSS__/brand.css" rel="stylesheet">
    <link href="__CSS__/main.css" rel="stylesheet">
    <link href="__PUBLIC__/assets-unify/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    
</block>

<block name="js">
  <script src="__JS__/Public.js"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
  <script src="__PUBLIC__/Ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>
  <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</block>

<block name="content">
  <div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab" id="tabbrand">品牌管理</a></li>
      <li><a href="#profile" data-toggle="tab" id="tabprofile">产品管理</a></li>
      <li><a href="#tags" data-toggle="tab" id="tabtags">标签管理</a></li>
      <li><a href="#column" data-toggle="tab" id="tabcolumn">栏目管理</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="home"></div>

    <div class="tab-pane fade" id="profile"></div>

    <div class="tab-pane fade" id="tags"></div>
    <div class="tab-pane fade" id="column"></div>
  </div>
</div>
</block>

<block name="footer-js">
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="__JS__/checkInput.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sco.js/js/sco.message.js"></script>
    <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      $('#group-eShop').addClass('active-sub');
      $('#group-eShop .collapse').addClass('in');
      $('#menu-shop-brand').addClass('active-link');
      $('#product').addClass("active");

      function checkKeywordLength(inputName){
        checkLength(inputName , 20);
      }

      $("#home").load("<{:U('brand')}>" , {
        "cId" : 'home' , 
        "ecid" : '<{$ecid}>'
      });

      $("#tabbrand").on('click' , function(){
        $("#home").load("<{:U('brand')}>" , {
          "cId" : 'home' , 
          "ecid" : '<{$ecid}>'
        });
      });

      $("#tabprofile").on('click' , function(){
        $("#profile").load("<{:U('product')}>" , {
          "cId" : 'profile' , 
          "ecid" : '<{$ecid}>'
        });
      });

      $("#tabtags").on('click' , function(){
        $("#tags").load("<{:U('tags')}>" , {
          "cId" : 'tags' , 
          "ecid" : '<{$ecid}>'
        });
      });

      $("#tabcolumn").on('click' , function(){
        $("#column").load("<{:U('column')}>" , {
          "cId" : 'column' , 
          "ecid" : '<{$ecid}>'
        });
      });
    </script>
</block>