<script type="text/javascript">
  var tagsItem = "";
</script>

<div class="row">
  <div class="col-md-4" style="margin-top:20px;">
    <if condition="$tags eq ''">
      <button type="button" class="btn btn-primary addTags">添加标签</button>
      <h3>亲~，木有标签哦</h3>
      <else />
      <div class="panel" style="margin-top:10px;">
        <div class="panel-heading">
          <div class="panel-control">
            <button type="button" class="btn btn-primary addTags">添加标签</button>
          </div>
          <h3 class="panel-title">标签列表</h3>
        </div>
        <div class="panel-body">
          <div class="list-group" id="tags-list">
            <volist name="tags" id="tagsItem" key="k">
              <if condition="$tagsItem.name neq ''">
                <a class="list-group-item tagsGroup" style="cursor:pointer;" id="<{$tagsItem.id}>"><{$tagsItem.name}></a>
              </if>
            </volist>
          </div>
          <div class='text-left' id="tags-page" style='margin-top:30px;'>
            <ul class="pagination"><{$tagsPage}></ul>
          </div>
        </div>
      </div>
    </if>
  </div>

  <div class="col-md-8" style="margin-top:30px;" id="tags-right">
    <div class="panel" id="tags-main" style="display:none;">
      <div class="panel-heading" style="background-color:#4EBCDA;color:#fff;">
        <h3 class="panel-title">标签管理</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <p class='text-info'>标签名称：</p>
          </div>
          <div class="col-md-10">
              <input type="text" class="form-control name" id="tags-name" placeholder="在此输入标签名称" style="margin-bottom:10px;" onkeyup="checkLength(20)" onkeydown="isChange()">
              <p class="text-danger">可输入20个字符</p>
          </div>
        </div>
      </div>

      <div class="panel-footer text-right">
      <button type="button" class="btn btn-info default-save" onclick="tagsHandle('edit')">保存</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
      $('.tagsGroup').on('click' , function(){
        $('.tagsGroup').removeClass('active');
        $(this).addClass('active');

        showTags($(this).attr('id'));
      });

      $('.addTags').on('click' , function(){
        $('.tagsGroup').removeClass('active');
        showTags('add');
      });

      function showTags(id){
        var arr = {
          "id" : id , 
          "ecid" : '<{$ecid}>'
        }

        $.post("<{:U('getTagsFromID')}>" , arr , function(data){
          tagsItem = data;
          $("#tags-main").show();
          $('#tags-name').val(tagsItem['name']);
        });
      }

      $("#tags-name").bind("change",function(){
        tagsItem['name'] = G("tags-name").value.trim();
      });

      function isChange(){
        tagsItem['isChange'] = true;
      }

      //检验菜单框字符长度
      function checkLength(textLength){
          var str = G("tags-name").value;
          var result = "";

          if(str.length > textLength){
              for(var i = 0;i < textLength;i++){
                  result += str[i];
              }
              G("tags-name").value = result;
          }
      }

      function tagsHandle(handleType){
        if(tagsItem['isChange'] == false){
          $.scojs_message('未对标签进行修改', $.scojs_message.TYPE_ERROR);
          return;
        }

        if(tagsItem["name"].trim() == ""){
          $.scojs_message('请输入标签名', $.scojs_message.TYPE_ERROR);
          return;
        }

        if(tagsItem['handleType'] != 'add'){
          tagsItem['handleType'] = handleType;
        }

        if(handleType == "delete"){
          if(!confirm("请确认是否删除")){
            return;
          }
        }

        $.post("<{:U('tagsHandle')}>",tagsItem,function(data){
          if(data["status"] == 0){
            $.scojs_message('修改成功！', $.scojs_message.TYPE_OK);
            $("#tags")[0].innerHTML = "";
            $("#tags").load("<{:U('tags')}>" , {
              'cId' : '<{$cId}>' ,
              'ecid' : '<{$ecid}>'
            });
          }else{
            $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
          }
        });
      }

    $("#tags-page > ul > li > a").click(function()
    {
        var _HREF = $(this).attr('href');       

       //加载页面
        $("#<{$cId}>").load(_HREF,
        {
            'cId' : '<{$cId}>' ,
            'ecid' : '<{$ecid}>'
        });                       
        return false;
    });
    </script>