<script>
  var fwResult<{$rand}> = <{:json_encode($defaultArr)}>;
  var type<{$rand}> = 'right';
  var handleType<{$rand}> = "<{$handleType}>";
</script>
<div id="fwReply<{$rand}>">
  <div class="panel-body">
    <if condition="$handleType neq 'default'">
      <button class="btn btn-default btn-sm brandBind" data-toggle="modal" data-target="#myModal<{$rand}>">绑定品牌</button>
      <button class="btn btn-default btn-sm productBind" data-toggle="modal" data-target="#myModal<{$rand}>">绑定产品</button>
      <if condition="$handleType eq 'item'">
        <button class="btn btn-default btn-sm removeBind">取消绑定</button>
        <p style="margin-top:10px;" class="bingMsg"><{$defaultArr.msg}></p>
      </if>
      <if condition="$defaultArr.id neq -1">
        <button class="btn btn-info pull-right" onclick="delShare(<{$defaultArr.id}>)" style="margin-top:10px;margin-right:20px">取消分享设置</button>
        <button class="btn btn-info pull-right" onclick="addShare(<{$defaultArr.id}>)" style="margin-top:10px;margin-right:20px">微信分享设置</button>
      </if>
      <div id="select<{$rand}>" class="select"></div>
      <p style="margin-top:10px;">规则名：</p>
      <input type="text" class="form-control name" placeholder="在此输入规则名" style="margin-bottom:10px;" value="<{$defaultArr['name']}>">
    </if>

    <div class="btn-group btn-group-justified">
      <a class="btn btn-default right-btn active" role="button">正确</a>
      <a class="btn btn-default repert-btn" role="button">重复</a>
      <if condition="$handleType eq 'default'">
        <a class="btn btn-default error-btn" role="button">错误</a>
      </if>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5>回复信息</h5>
        <textarea class="form-control default-msg" rows="7"><{$defaultArr['rightReply']}></textarea>
          <p>可用参数：</p>
          <button type="button" class="btn btn-default btn-sm key fwCode">防伪码</button>
          <button type="button" class="btn btn-default btn-sm key company">企业名称</button>
          <button type="button" class="btn btn-default btn-sm key brand">品牌名称</button>
          <button type="button" class="btn btn-default btn-sm key product">产品名称</button>
          <button type="button" class="btn btn-default btn-sm key wlCode">物流码</button>
          <button type="button" class="btn btn-default btn-sm key dealer">经销商回复</button>
          <button type="button" class="btn btn-default btn-sm key checkCount">查询次数</button>
          <button type="button" class="btn btn-default btn-sm key firstTime">首次查询时间</button>
      </div>
      <div class="col-md-4">
        <h5>展示图片</h5>
        <img src="<{$defaultArr['rightImg']}>
        " class="img-thumbnail default-img">
        <input type="file" id="msg-img-input-<{$rand}>" multiple="true"/>
      </div>
    </div>
  </div>

  <div class="panel-footer"><div class="row">
    <div class="col-sm-6">
      <label for="theme<{$rand}>" class="col-sm-3 control-label" style="line-height: 30px;">网站皮肤</label>
      <div class="col-sm-5" >
        <select class="form-control" id="theme<{$rand}>" >
            <volist name="selectTheme" id='vo'>
              <option value='<{$vo['id']}>'><{$vo['name']}></option>
            </volist>
          </select>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary text-left"  id='Img-btn-<{$rand}>' >图片预览</button>
      </div>
    </div>

    <div class="col-sm-6" style="text-align:right;">
      <button type="button" class="btn btn-info default-save">保存修改</button>
      <if condition="$handleType eq 'item'">
        <button type="button" class="btn btn-info default-delete">删除</button>
      </if>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">图片预览</h4>
          </div>
          <div class="modal-body">
            <div id="selPreImg"  class="thumbnail">
                <img src="<{$PreImg1['PreImg']}>" alt="" id="PImg">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var isChange  = 0;
var loadType = 'right';
changeMsgBtn('right' , "#fwReply<{$rand}>");

if(fwResult<{$rand}>['webTheme'] === null){
  $('#theme<{$rand}>').val('1');
  fwResult<{$rand}>['webTheme'] = 1;
}
else
  $('#theme<{$rand}>').val(fwResult<{$rand}>['webTheme'].toString());


//绑定回复类型按钮
  $("#fwReply<{$rand}>").on('click', '.right-btn', function(){
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').removeClass('active');
    type<{$rand}> = 'right';
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').addClass('active');
    changeMsgBtn('right', "#fwReply<{$rand}>");
    _G('#fwReply<{$rand}>' , '.default-msg').val(fwResult<{$rand}>['rightReply']);
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', "");
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', fwResult<{$rand}>['rightImg']+"?t=Math.random()");
  });

  $("#fwReply<{$rand}>").on('click', '.repert-btn', function(){
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').removeClass('active');
    type<{$rand}> = 'repert';
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').addClass('active');

    changeMsgBtn('repert', "#fwReply<{$rand}>");
    _G('#fwReply<{$rand}>' , '.default-msg').val(fwResult<{$rand}>['repertReply']);
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', "");
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', fwResult<{$rand}>['repertImg']+"?t=Math.random()");
  });


  $("#fwReply<{$rand}>").on('click', '.error-btn', function(){
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').removeClass('active');
    type<{$rand}> = 'error';
    _G("#fwReply<{$rand}>" , '.' + type<{$rand}> + '-btn').addClass('active');

    changeMsgBtn('error', "#fwReply<{$rand}>");
    _G('#fwReply<{$rand}>' , '.default-msg').val(fwResult<{$rand}>['errorReply']);
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', "");
    _G('#fwReply<{$rand}>' , ".default-img").attr('src', fwResult<{$rand}>['errorImg']+"?t=Math.random()");
  });

//绑定品牌按钮事件
$("#fwReply<{$rand}>").on('click','.brandBind',function(){
  _G("#fwReply<{$rand}>" , '.removeBind').show();
  var arr = {};
  var result = "";
  
  $.post("<{:U('getBrand')}>/ecid/<{$ecid}>" , arr , function(data){
    if(data["code"] != 0){
      $.scojs_message('请先添加品牌！', $.scojs_message.TYPE_ERROR);
      return;
    }

    result = "品牌：<select id='brand<{$rand}>' onchange=\"setBrand<{$rand}>()\"><option></option>";

    for(var i = 0;i < data['data'].length;i++){
      result += "<option value=\""+data['data'][i]["id"]+"\">"+data['data'][i]["name"]+"</option>";
    }

    result += "</select>";

    fwResult<{$rand}>["productId"] = -1;
    
    G("select<{$rand}>").innerHTML = result;
  });
});

//绑定产品按钮事件
$("#fwReply<{$rand}>").on('click','.productBind',function(){
  _G("#fwReply<{$rand}>" , '.removeBind').show();
  var arr = {};
  var result = "";
  
  $.post("<{:U('getBrand')}>/ecid/<{$ecid}>" , arr , function(data){
    if(data["code"] != 0){
      $.scojs_message('请先添加品牌！', $.scojs_message.TYPE_ERROR);
      return;
    }

    result = "品牌：<select id='brand<{$rand}>' onchange=\"showProduct<{$rand}>()\" style='margin-right:10px;'><option></option>";

    for(var i = 0;i < data['data'].length;i++){
      result += "<option value=\""+data['data'][i]["id"]+"\">"+data['data'][i]["name"]+"</option>";
    }

    result += "</select>产品：<select id='product<{$rand}>' onchange=\"setProduct<{$rand}>()\"></select>";

    fwResult<{$rand}>["brandId"] = -1;
    
    G("select<{$rand}>").innerHTML = result;
  });
});

function setBrand<{$rand}>(){
  isChange = 1;
  fwResult<{$rand}>["brandId"] = G('brand<{$rand}>').value;
}

function setProduct<{$rand}>(){
  isChange = 1;
  fwResult<{$rand}>["productId"] = G('product<{$rand}>').value;
}

function showProduct<{$rand}>(){
  var arr = {
    "id" : G('brand<{$rand}>').value
  };

  $.post("<{:U('getProduct')}>" , arr , function(data){
    if(data["code"] != 0){
      $.scojs_message('请先添加产品！', $.scojs_message.TYPE_ERROR);
      return;
    }

    G("product<{$rand}>").innerHTML = "<option></option>";
    for(var i = 0;i < data['data'].length;i++){
      G("product<{$rand}>").innerHTML += "<option value=\""+data['data'][i]["id"]+"\">"+data['data'][i]["name"]+"</option>";
    }
  });
}

//绑定插入文本按钮
  $("#fwReply<{$rand}>").on('click','.key',function(){
    if($(this).hasClass('fwCode')){
      _G("#fwReply<{$rand}>" , '.default-msg').insertContent('{-防伪码-}');
    }
    else if($(this).hasClass('company')){
      _G("#fwReply<{$rand}>" , '.default-msg').insertContent('{-厂商名称-}');
    }
    else if($(this).hasClass('brand')){
      _G("#fwReply<{$rand}>" , '.default-msg').insertContent('{-品牌名称-}');
    }
    else if($(this).hasClass('product')){
      _G("#fwReply<{$rand}>" , '.default-msg').insertContent('{-产品名称-}');
    }
    else if($(this).hasClass('wlCode')){
      _G("#fwReply<{$rand}>" , '.default-msg').insertContent('{-物流码-}');
    }
    else if($(this).hasClass('checkCount')){
      _G("#fwReply<{$rand}>" , '.default-msg').insertContent('{-查询次数-}');
    }
    else if($(this).hasClass('firstTime')){
      _G("#fwReply<{$rand}>" , '.default-msg').insertContent('{-首次时间-}');
    }
    else if($(this).hasClass('dealer')){
      _G("#fwReply<{$rand}>" , '.default-msg').insertContent('{-经销商回复-}');
    }
    saveMsg<{$rand}>(type<{$rand}> , _G("#fwReply<{$rand}>" , '.default-msg'));
  });

  //绑定文本修改事件
  $('#fwReply<{$rand}>').on('change', '.default-msg',function(){
    saveMsg<{$rand}>(type<{$rand}>, _G('#fwReply<{$rand}>' , '.default-msg'));

  });

//绑定规则名修改事件
  $('#fwReply<{$rand}>').on('change', '.name',function(){
    fwResult<{$rand}>['name'] = _G("#fwReply<{$rand}>" , '.name').val().trim();
    isChange  = 1;
    
  });

  //绑定保存按钮事件
  _G("#fwReply<{$rand}>" , '.default-save').on('click', function(){
    $('#fwReply<{$rand}> .default-save').hide();
    updateFwReply(handleType<{$rand}> , fwResult<{$rand}>);
    $('#fwReply<{$rand}> .default-save').show();
  });
 
//绑定删除按钮事件
  _G("#fwReply<{$rand}>" , '.default-delete').on('click', function(){
    deleteFwReply(fwResult<{$rand}>['id'] , fwResult<{$rand}>['ecid'] , "<{$index}>");
  });

//绑定取消品牌产品按钮
  _G("#fwReply<{$rand}>" , '.removeBind').on('click', function(){
    fwResult<{$rand}>['brandId'] = -1;
    fwResult<{$rand}>['productId'] = -1;
    G("select<{$rand}>").innerHTML = "";
    $(this).hide();
    _G("#fwReply<{$rand}>" , '.bingMsg').hide();
  });

//保存回复
  function saveMsg<{$rand}>(type, fwResult){
    isChange = 1;
    if(type === 'right')
      fwResult<{$rand}>['rightReply'] = fwResult.val();
    else if(type === 'repert')
      fwResult<{$rand}>['repertReply'] = fwResult.val();
    else if(type === 'error')
      fwResult<{$rand}>['errorReply'] = fwResult.val();
  }

  $("#msg-img-input-<{$rand}>").uploadify({
          swf           : '__PUBLIC__/uploadify/uploadify.swf',
          uploader      : '__MODULE__/Public/file',
          buttonText    : '上传图片',
          method        : 'post',
          onUploadSuccess    : funComplete<{$rand}>,
          onUploadStart :  readyUpload<{$rand}>
      });

  //图片上传前事件
  function readyUpload<{$rand}>(file){
    loadType = type<{$rand}>;
    var old = _G("#fwReply<{$rand}>" , ".default-img").attr('src');

    var old = getFileName(old);
    
    if(old){
      var params = {
          timestamp : '<{$timestamp}>',
          token     : '<{$token}>',
          oldFile   : old
        }
      $("#msg-img-input-<{$rand}>").uploadify("settings", "formData", params);
    }
  }

  //图片上传发生的事件
  function funComplete<{$rand}>(file, data, response) {
    var obj = eval ("(" + data + ")");

    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
    }else{
      var imgUrl = obj['imgUrl'];

      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
      if(loadType == 'right')
        fwResult<{$rand}>['rightImg'] = imgUrl;
      else if(loadType == 'repert')
        fwResult<{$rand}>['repertImg'] = imgUrl;
      else if(loadType == 'error')
        fwResult<{$rand}>['errorImg'] = imgUrl;
      
      if (type<{$rand}> == loadType){
      _G("#fwReply<{$rand}>" , ".default-img").attr('src', imgUrl);
      }
      isChange = 1;
    }
  }
/**
 * 获取当前网站主题
 * @author：蒋东芸
 */
  $('#theme<{$rand}>').on('change', function(){
    var theme = $(this).val();
    fwResult<{$rand}>['webTheme'] = theme;
  })

  
/**
* 图片预览按钮点击触发图片展示
* @author: 蒋东芸
*/ 
$('#Img-btn-<{$rand}>').on('click', function(){
  var arr = {'id':$('#theme<{$rand}>').val()}
  
  $.post("<{:U('getPreImg')}>",arr,function(data){
        $('#PImg').attr('src' , data);

        $('#myModal').modal('show');
      })
})

function addShare(id){
  $('#shareModal').load("<{:U('Fw/shareDialog')}>",{"replyId":id},function(){
          $('#shareDialog').modal('show');
        });
}
</script>