<div class="modal fade" id="shareDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">微信分享设置</h4>
            </div>
            <div class="modal-body">
                <form role="form" class='form-horizontal' id='add-share-from'>
                  <input type="hidden" id="shareId" value="<{$share['id']}>"/>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">标题：</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="share_title" placeholder="请输入分享标题" value="<{$share['title']}>">
                  </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">分享URL：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="share_url" placeholder="请输入分享URL" value="<{$share['url']}>">
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">显示图片：</label>
            <div class="col-sm-10">
              <p class="form-control-static">
                <input type='file' id='msg-img-input' class="form-control"/>
                <img src="<{$share['img']}>" style='width:300px;' class="img-thumbnail" id="showImg">
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">描述：</label>
        <div class="col-sm-10">
          <textarea class="form-control default-msg" rows="7" id="share_description"><{$share['description']}></textarea>
      </div>
  </div>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id='confirm-btn'>添加</button>
    <button type="button" class="btn btn-default" id="cancle-btn" data-dismiss="modal">取消</button>
</div>
</div>
</div>
</div>
<script type="text/javascript">
var shareArr = {
    'id':"<{$share['id']}>",
    'title' : "<{$share['title']}>",
    'url' : "<{$share['url']}>",
    'replyId':"<{$replyId}>",
    'img' : "<{$share['img']}>",
    'description':"<{$share['description']}>"
};
var isChange=0;

$('#confirm-btn').on('click', function(){
    //判断输入数据的合法性
    if(!validInputShare())
      return;
  else{
      shareArr['title'] = $('#share_title').val().trim();
      shareArr['url'] = $('#share_url').val().trim();
      shareArr['description'] = $('#share_description').val().trim();
      $.post("<{:U('shareAddHandle')}>",shareArr,function(data){
        if(data['status'] == 0){
          $.scojs_message('添加成功', $.scojs_message.TYPE_OK);
          // $('#share-items').load('__MODULE__/Share/shareItem');
          $('#shareDialog').modal('hide');
      }else{
          $.scojs_message(data['info'], $.scojs_message.TYPE_ERROR);
      }
  })
  }
})
//   //点击取消按钮事件
//   $('#cancle-btn').on('click', function(){
//     $('#add-share-from').remove();
// })


function validInputShare(){
    var title=$("#share_title").val().trim();
    var url=$("#share_url").val().trim();
    var description=$("#share_description").val().trim();
    if(title ===shareArr['title'] && url === shareArr['url'] && description === shareArr['description'] && !isChange){
      $.scojs_message('未修改任意一项', $.scojs_message.TYPE_ERROR);
      return false;
    }
    if(title===''){
      $.scojs_message('请输入分享标题', $.scojs_message.TYPE_ERROR);
      return false;
  }
  if(url ==='' || !IsUrl('#share_url')){
      $.scojs_message("请输入以http://开头的有效网址！", $.scojs_message.TYPE_ERROR);
      return false;
  }
  if(shareArr['img'] === ''){
    $.scojs_message('请上传图片', $.scojs_message.TYPE_ERROR);
      return false;
  }
  return true;
}


$("#msg-img-input").uploadify({
    swf           : '__PUBLIC__/uploadify/uploadify.swf',
    uploader      : '__MODULE__/Public/file',
    buttonText    : '点击上传图片',
    method        : 'post',
    onUploadSuccess    : shareComplete,
    onUploadStart :  readyUpload
});
function readyUpload(file){
    var old = shareArr['img'];
    if(old){
      var params = {
        timestamp : '<{$timestamp}>',
        token     : '<{$token}>',
        oldFile   : old
    }
    $("#msg-img-input").uploadify("settings", "formData", params);
}
}
  //图片上传发生的事件
  function shareComplete(file, data, response) {
    var obj = eval ("(" + data + ")");
    if(obj['code'] != 0){
      $.scojs_message("上传失败，请上传图片文件！", $.scojs_message.TYPE_ERROR);
      return;
  }else{
      var imgUrl = obj['imgUrl'];
      $("#showImg").attr('src', imgUrl);
      shareArr['img'] = imgUrl;
      isChange=1;
      $.scojs_message("上传成功", $.scojs_message.TYPE_OK);
  }
}

</script>
