<div id='content-<{$themeitem.id}>'>
    <p>
        <p>目录名：<{$themeitem.value}></p>
    </p>
    <p style="clear:both;">
        <strong>网站类型：<{$themeitem.type}></strong>
        <button class="btn btn-danger pull-right del-item-btn" id="del-<{$themeitem.id}>">删除主题</button>
    </p>
</div>