.logo{
	float:left;
	margin-right: 5px;
}
.logoRight{
	font-size: 30px;
	color:#fff;
	float:left;
	padding-left:10px;
	line-height:35px;
}
.fwmInput{
	background:transparent;
	border-radius: 0px;
	color:#fff;
}
.yzBtn{
	background-color: #3c9;
	color:#fff;
	width: 120px;
}
.yzBtn:hover{
	background-color: #2eaf80;
	color: #fff;
}
.resetBtn{
	background-color: #f66;
	color:#fff;
	width: 120px;
}
.resetBtn:hover{
	background-color: #e55c5c;
	color: #fff;
}
.textColor{
	color:#fff;
}
.fwbottom{
	margin-top: 240px;
	font-size:12px;
}
.fwMargin{
	margin-top: 120px;
}
.bg-right{
	background-color: #31b589;
}
.bg-error{
	background-color: #dd5e5e;
}
.bg-repeat{
	background-color: #00abea;
}
.right{
	background-color: #108e60; 
	height:15px;
	opacity: 0.37;
}
.error{
	background-color: #b23838; 
	height:15px;
	opacity: 0.3;
}
.repeat{
	background-color: #1a75a8; 
	height:15px;
	opacity: 0.37;
}