body{
	background-color: #F4F5F7;
}
.indexImg{
	padding-top:15px;
}
.top_padding{
	padding:10px 0px 0px;
}
.title{
	color: #005BAC;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}

.title-img{
	height:20px;
	width:auto;
}
.title_next{
	font-size: 14px;
	color:#0066cc;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	color:#09c;
	text-decoration: none;
	background-color: transparent;
}
.text-right :hover, .news-title :hover{
	color:#09c;
	background-color: transparent;
}
.customer-img{
	max-height: 100%;
	max-width : 100%;
}
.customer-panel{
	height: 100px;
}
.topText{
	color: #1760AC;
	font-size: 13px;
}
.whiteBg{
	background-color: #fff;
	border:1px solid #ccc;
}
.distance{
	border-bottom: 1px solid #CCC; 
}
.Introduction{
	font-size: 15px;
	text-indent: 2em;
}
.newsText{
	font-size: 11px;
}
.newUl{
	list-style: none;
	font-size: 13px;
	line-height: 22px;
}
.newUl ul li a{
	overflow: hidden;
}
.customer{
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
	margin-bottom: 30px;
}
.bold{
	font-weight:bold;
}
.black{
	color:black;
}
.footerImg{
	height : 60px;
	width: auto;
}
.footerBg{
	background: url(/Public/Image/WEB/default/footerBg.png) repeat;
}
.footerText{
	padding: 20px 0px;
	border-top: 1px solid #bbbcbc;
	text-align: center;
	font-size: 11px;
}
.radio{
	text-align:center;
	font-size:18px;
}
.img_div{
	width:50%;
	height:50%;
	padding-top:20px;
}

.content-height{
	height : 250px;
}

a{
color: black;
text-decoration: none;
}

.indent{
	text-indent: 2em;
	line-height: 28px;
}
.address{
	font-size: 30px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.whiteColor{
	background-color: #fff;
}
/*新闻动态页面*/
.news-panel{
	height:260px;
}
.blueTxt{
	color:#1760AC;
}
.new-material{
	height:150px;
}
.carousel-content{
	background:none repeat scroll 0% 0% rgba(0, 0, 0, 0.75);
	bottom:0px;
	position: absolute;
	z-index: 12px;
	width:100%;
	padding:5px 0px;
	color:white;
	text-align: center;
}
.nav > li > a:focus, .nav > li > a:hover{
	background-color: transparent!important;
}
.yahei{
	font-family: "Microsoft YaHei";
}
.lineHeight{
	line-height: 30px;
}
.carousel-fwContent{
	position: absolute;
	z-index: 12px;
	top:85px;
	width: 100%;
}
.productboder{
	padding-top:10px;
	padding-left:0px;
	padding-right:0px;
}
.bluebar{
	background-color:#1760AC;
	height:30px;
	color:white;
	vertical-align:middle;
	text-indent: 1em;
}
.fontpadding{
	padding-top:5px;
}
.distance{
	padding-top:20px;
	padding-bottom:20px;

}
.newsTxt{
	font-size: 15px;
}
.elli{
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}
