.s_title{
	color: #005BAC;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.s_title_En{
	background-color:#CCC;
	vertical-align: middle;
	letter-spacing:2px;
	font-weight: bold;
	color: #005BAC;
}

.solution-title :hover{
	color:#09c;
}
.info-indent{
	text-indent: 2em;
}