@charset "UTF-8";
/* header */
.header{position:relative;height:50px;background:#EBEBEB;}
.header .logo{display:block;width:130px;height:30px;padding:10px 0 0 10px;}
.header .logo img{display:block;width:100%;}
.header .search{position:absolute;top:0;right:35px;z-index:1000;display:block;width:50px;height:50px;text-indent:-9999em;background:url(/Public/Image/WEB/mobile/icon-search.png) no-repeat center center;background-size:40%;}
.header .search:hover{background-color:#0067d2;}
.header .search span{display:none;}
.header .user-icon{position:absolute;top:0;right:70px;z-index:1000;display:block;width:50px;height:50px;text-indent:-9999em;background:url(/Public/Image/WEB/mobile/icon-user.png) no-repeat center center;background-size:40%;}
.header .user-icon span{display:none;}
.header .user-icon:hover{background-color:#0067d2;}
.header .back{position:absolute;top:0;left:0;display:block;width:50px;height:50px;text-indent:-9999em;background:url(/Public/Image/WEB/mobile/icon-back.png) no-repeat center center;background-size:12px 20px;}

@media (min-width:641px){body{width:640px;margin:auto;}}