<extend name="Public:base" />
<block name="title">
	<title><{$title}></title>
</block>
<block name="top-css">
	<link href="__CSS__/fwShop/clientCase.css" rel="stylesheet" type="text/css" />
</block>			
<block name="picture">
	<div class="carousel">
		<div class="carousel-inner" >
          	<div class="item active col-md-12" style="background-image: url(__PUBLIC__/Image/fwShop/clientcase-bg.png);">
            	<img src="__PUBLIC__/Image/fwShop/clientcase.png" style="margin: 0 auto;">
          	</div>
      	</div>
    </div>
</block>

<block name="container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<volist name="solutionInfo" id="item" key="k">
					<div class="row clientBg">
						<div class="col-md-4 col-md-offset-1 distance">
							<div align="center">
								<img src="<{$item.img}>" style="width:70%;">
							</div>					
						</div>
						<div class="col-md-5 col-md-offset-1" style="padding: 30px;">					
							<h1 class="blueStyle"><{$item.title}></h1>
							<p id="img-text"><{$item.description}></p>
							<div class="div-details">
								<a class="details" href="__MODULE__/ClientCase/details/id/<{$item.id}>">查看详情</a>
							</div>
						</div>
					</div>
				</volist>
			</div>
		</div>
	</div>
</block>

<block name="end-js">
	<script type="text/javascript">
		$("#clientcase").css("color", "#00a0e9");
	</script>
</block>

